
.p1-promo-trust {
	position: absolute;
	width: 150px;
//	background-color: #76ceb4;
//background: @include filter-gradient(#76ceb4, #e5c17f, vertical);
//background: @include background-image(linear-gradient(top, #76ceb4 0%, #76ceb4 20%, #dcd3ae 75%, #e5c17f 100%));
	@include linear-gradient(#76ceb4 0%, #76ceb4 20%, #dcd3ae 75%, #e5c17f 100%);
	right: 0;
	top:110px;
	border-radius: 0 3px 3px 0;
	padding:5px 5px 5px 0;
	border:1px solid #455951;
	border-left:0;
	text-align: center;
	box-shadow: 2px 3px 5px rgba(0,0,0,0.1);
	opacity: 0;
	@include transition(.6s ease all);

	&.active {
		right: -150px;
	}

	@media (max-width: 1000px) {
		display: none;
	}

	@media (max-width:768px) {
		top:0;
		left:0;
		right: 0;
		bottom:auto;
		width: auto;
		height: 80px;
		padding:0;
		border:0;
		margin-top:-6px;
		text-align: left;
		@include linear-gradient(#76ceb4 0%, #76ceb4 20%, #dcd3ae 75%, #e5c17f 100%);
	}

	&__mobile {
		display: none;

		@media (max-width: 1000px) {
			display: block;
			@include linear-gradient(#76ceb4 0%, #76ceb4 20%, #dcd3ae 75%, #e5c17f 100%);
			position: relative;
			text-align: left;
			z-index: 1;
			margin-top:-6px;
			overflow: hidden;
			box-shadow: inset 0 3px 10px rgba(136, 95, 8, 0.1);
		}
	}
}

.p1-content {
	position: relative;
	padding:30px 10px 30px;
	border:1px dashed rgba(77, 69, 89, 0.25);
	border-radius: 0 2px 2px 0;
	border-left: 0;
	@include font-size(1.3);
	color: #77609C;

	@media (max-width:1000px) {
		padding:18px 10px 12px;
		height: 100%;
		border:0;
		width: 610px;
		margin:0 auto;
	}

	@media (max-width: 767px) {
		text-align: left;
		width: 550px;
	}

	@media (max-width: 550px) {
		width: auto;
		padding-left: 7px;
		padding-right: 7px;
		text-align: center;
	}

	&:before {
		content: "";
		position: absolute;
		top:0;
		left:0;
		width: 149px;
		height: 161px;
		background:url(/bbrunner/img/p1/bg-p1-trust-elem.png) no-repeat;
		background-size: 100% auto;
		background-position: 0px 50px;

		@media (max-width:1000px) {
			transform: rotate(-90deg);
			-webkit-transform: rotate(-90deg);
			width: 120px;
			height: 120px;
			top: -30%;
			left: 65px;
			background-position: 0 0;
		}

		@media (max-width:550px) {
			display: none;
		}
	}

	p {
		padding-bottom: 10px;
		position: relative;
		z-index: 2;

		@media (max-width: 1000px) {
			@include font-size(1.6);
			display: inline-block;
			float: left;
			padding-bottom: 0;
			margin-bottom: 0;
		}

		@media (max-width: 767px) {
			@include font-size(1.4);
			z-index:4;
		}

		@media (max-width: 550px) {
			margin-bottom: 5px;
			text-align: center;
			float: none;
			display: block;
		}
	}

	&:after {
		content: "";
		clear: both;
		display: table;
	}
}

.p1-logo {
	display: block;
	width: 59px;
	height: 40px;
	background-image:url(/bbrunner/img/p1/p1-logo.png);
	background-repeat: no-repeat;
	background-size:59px auto;
	margin:10px auto 6px;
	position: relative;

	@media (max-width: 1000px) {
		display: inline-block;
		width: 40px;
		height: 35px;
		background-size: 40px auto;
		vertical-align: middle;
		margin: 0 10px;
	}

	@media (max-width: 660px){
		margin-left: 5px;
		margin-right: 5px;
	}

	@media (max-width: 550px){
		position: relative;
		&:before {
			content: "";
			position: absolute;
			z-index: -1;
			width: 130px;
			height: 130px;
			top:-22px;
			left:-20px;
			background:url(/bbrunner/img/p1/bg-p1-trust-elem.png) no-repeat;
			background-size: 100% auto;
			background-position: 0px 0px;
			transform: rotate(-90deg);
			-webkit-transform: rotate(-90deg);
			
		}
	}
}

.free {
	display: block;
	@include font-size(3.5);
	color:#762D8F;
	font-family: $font-bold;
	text-shadow:2px 2px 0 rgba(0,0,0,0.1);

	@media (max-width: 1000px) {
		display: inline-block;
		vertical-align: middle;
		@include font-size(2.5);
		margin-top:-7px;
		margin-left:5px;
	}

	@media (max-width: 767px) {
		@include font-size(2.2);
	}
}

.first-text {
	font-family: $font-semibold;
	@include font-size(1.5);
	color: #5F4190;
}

.close-this {
	width: 25px;
	height: 25px;
	color: #ffffff;
	background:#E45D5D;
	border-radius: 50%;
	position: absolute;
	right: 10px;
	top:50%;
	margin-top:-12px;
	text-align: center;
	text-decoration: none;
	@include font-size(1.6);

	&:hover {
		text-decoration: none;
		color:#ffffff;
	}

	@media (max-width: 660px) {
		display: none;
	}
}

.p1-promo-btn {
	@include linear-gradient(#74278E 0%, #4C0067 100%);
	position: relative;
	border-radius: 4px;
	padding: 8px 14px;
	margin-top:10px;
	text-align: center;
	@include font-size(1.5);
	text-decoration: none;
	color:#fff;
	@include transition(.3s ease background);

	@media (max-width: 1000px) {
		display: inline-block;
		width: 120px;
		float: right;
		margin-top: 0;
		padding: 5px;
	}

	@media (max-width: 550px) {
		display: block;
		float: none;
		z-index: 4;
		margin: 0 auto;
	}

	&:before {
		content: " ";
		position: absolute;
		top: -4px;
		left: -4px;
		right: -4px;
		bottom: -4px;
		border: 1px solid rgba(79, 96, 89, 0.4);
		border-radius: 4px;
	}

	&:hover {
		background:lighten(#74278E, 3);
		color:#ffffff;
		text-decoration: none;
	}

	&:active, &:visited {
		color: #ffffff;
		text-decoration: none;
	}
}


.ss-progressbar {
	position: relative;
	z-index: 2;
}

