@import "../../bower_components/imoney-assets/bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_var";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_mixin";

//Bootstrap
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/_bootstrap-non-critical";
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_navs";
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/modals";

@import "../../bower_components/imoney-assets/dev/scss/_inc/_navigation--sub";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_layout";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_button";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_modal";

//***********************************
//  NAV Active menu
//***********************************
.page-bb-listing {

	.nav--bb-all {
		a {
			@include subnav-active;

			@media (max-width: $screen-xs-max) {
				@include subnav-active--mq;
			}
		}
	}
}

//***********************************
//  section: hero image
//***********************************

.header--broadband {
	overflow: hidden;
	position: relative;
	min-height: 220px;
	background: #B4E2F1 url(../img/bg_header.jpg) no-repeat bottom center;
	background-size: cover;
	text-align: center;

	&--overlay {
		height: 100%;
		background-color: rgba(33, 144, 180, .7);
	}

	& .container {
		position: relative;
		top: 50%;
		@include transform(rotate(360deg) translatez(0));
		@include translate(0, -55%);
		z-index: 2;
	}

	h1 {
		font-family: $font-bold;
		color: #FFF;
		text-shadow: 0px 2px 3px rgba(0,0,0,0.3);
		@media (max-width: 320px) { font-size: 24px;}
		@media (min-width: 440px) and (max-width: 321px) { font-size: 28px;}
	}
	@media (min-width: 768px) { height: 20vh !important;}
	@media (min-width: 992px) { height: 30vh !important;}
	@media (min-width: 1200px) { height: 30vh !important; min-height: 220px;}
	@media (max-width: 767px) { height: 20vh !important;}

	a {
		@media (max-width: 360px) { width: 100%; }
	}
}
img.tower {
	position: absolute;
	opacity: 0.5;
	top: 10px;
	left: 10%;
	@media (max-width: 640px) {
		display: none;
	}
}
img.modem {
	position: absolute;
	opacity: 0.5;
	top: 80px;
	right: 10%;
	@media (max-width: 992px) {
		top: 73px;
		right: 8%;
	}
	@media (max-width: 480px) {
		right: 50%;
		margin-right: -72px;
	}
	@media (max-width: 450px) {
		top: 94px;
	}
}
i.icon-bb-white {
	width: 32px;
	height: 25px;
	display: inline-block;
	background: url(../img/bb-ss-icon-white@2x.png) no-repeat;
	background-size: 32px auto;
	margin-left: 12px;
	vertical-align: middle;

	@media (max-width: 350px) { display: none; }
}

//***********************************
//  section: content
//***********************************

div[role="main"] > div {
	max-width: 960px;
	position: relative;
	padding-top: 30px;
	padding-bottom: 30px;
}

h2 {
	margin-bottom: 40px;
	line-height: 1.5;
	@include font-size(2.0);
	color: #728392;
}

h5 {
	margin: 30px 0 10px;
	@include font-size(1.8);
	line-height: 1.4;
	color: #2275B9;
	&:first-child { margin-top: 0; }
}

#content {
	section {
		margin-bottom: 30px;
	}

	p, ul {
		margin-left: 30px;
	}

	i {
		opacity: 0.7;
	}
}

.affix-top, .affix-bottom { position: absolute; }
.affix { top: 0; }

@media (max-width: $screen-md) {
	#navbar { display: none !important; }
	div[class^="col-"] {
		padding-left: 30px;
		padding-right: 30px;
	}
}

#navbar li {
	margin-bottom: 2px;
}

#navbar a {
    text-decoration: none;
    background-color: #E0E0E0;
    width: 30px;
    padding: 5px 8px;
    color: #FFF;
    text-align: center;
}

#navbar .active a {
    background-color: #EE9D43;
}

// overwrite
.home__cta--bottom__container:before {
	display: none;
}

@mixin translate($x, $y) {
  -webkit-transform: translate($x, $y);
      -ms-transform: translate($x, $y); // IE9 only
       -o-transform: translate($x, $y);
          transform: translate($x, $y);
}

@import "../../bower_components/imoney-assets/dev/scss/_inc/_cta-bottom";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_footer";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_misc";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_shame";