@import "../../bower_components/imoney-assets/bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_var";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_mixin";

//Bootstrap
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/_bootstrap-non-critical";
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_navs";
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/modals";

@import "../../bower_components/imoney-assets/dev/scss/_inc/_navigation--sub";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_layout";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_button";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_modal";

//***********************************
//  NAV Active menu
//***********************************
.page-bb-listing {

	.nav--bb-all {
		a {
			@include subnav-active;

			@media (max-width: $screen-xs-max) {
				@include subnav-active--mq;
			}
		}
	}
}

//***********************************
//  section: ad leaderboard
//***********************************

.ad--leaderboard {
	text-align: center;
	//box-shadow: 0 1px 3px rgba(0,0,0,.15);
	padding: 30px 15px 0 15px;

	.header & {
		padding-bottom: 50px;
	}

	> div {
		height: 90px;
		width: 728px;
		margin: 0 auto;
		box-shadow: 0 0 0 1px rgba($color-brand1,.1);

		.header & {
			box-shadow: 0 0 0 5px rgba($color-brand1,.1);
		}
	}

	&__mobile {
		display: none;
		padding: 0;
		padding-top: 15px;
		> div {
			height: 50px;
			width: 320px;
		}
		@media (max-width: 380px) {
			padding-top: 0;
			> div { width: 100%; }
		}
	}

	@media (max-width: 991px) {
		display: none;
		&__mobile { display: block; }
	}
	@media (max-width: 400px) {
		&__mobile { display: none; }
	}
}

//***********************************
//  section: hero image
//***********************************

.header--broadband {
	overflow: hidden;
	position: relative;
	min-height: 270px;
	background: #B4E2F1 url(../img/bg_header.jpg) no-repeat bottom center;
	background-size: cover;
	text-align: center;
	padding-top: 50px;

	h1 {
		@media (max-width: 329px) { font-size: 24px; }
		@media (min-width: 330px) and (max-width: 768px) { font-size: 26px; }

	}
	// @media (max-width: 480px) { padding-top:20px;}
	// @media (min-width: 768px) { height: 30vh !important;}
	// @media (min-width: 992px) { height: 30vh !important;}
	// @media (min-width: 1200px) { height: 30vh !important; min-height: 270px;}
	// @media (max-width: 767px) { height: 25vh !important; min-height: 200px; padding-top: 10px;
	// }

	a {
		@media (max-width: 360px) { width: 100%; }
		.imoney-my & { margin-top: 20px; font-family: $font-semibold; }
	}
}
img.tower {
	position: absolute;
	top: 130px;
	left: 20%;
	@media (max-width: 990px) {
		left: 10%;
	}
	@media (max-width: 768px) {
		top: 140px;
	}
	@media (max-width: 640px) {
		display: none;
	}
}
img.modem {
	position: absolute;
	bottom: 0;
	right: 15%;
	@media (max-width: 990px) {
		right: 8%;
	}
	@media (max-width: 768px) {
		right: 50%;
		margin-right: -72px;
		display: none;
	}
}
i.icon-bb-white {
	width: 32px;
	height: 25px;
	display: inline-block;
	background: url(../img/bb-ss-icon-white@2x.png) no-repeat;
	background-size: 32px auto;
	margin-left: 12px;
	vertical-align: middle;

	@media (max-width: 350px) { display: none; }
	.imoney-my & { display: none; }
}

//***********************************
//  section: filter
//***********************************
.cd-tab-filter a {
	& i.icon-allBB, & i.icon-home, & i.icon-office {
		background: url(../img/icn_homeoffice.svg) no-repeat;
		background-size: 120px auto;
		width: 40px;
		height: 40px;
	}
	& i.icon-allBB {
		background-position: 0px 0px;
	}
	& i.icon-home {
		background-position: -40px 0px;
	}
	& i.icon-office {
		width: 28px;
		background-position: -80px 0px;
	}
}

.cd-gallery {
	div.item__details > div.info:before {
  		content: "QUOTA";
  	}
  	ul {
		padding-top: 40px;
	}
  	li {
  		margin-bottom: 45px;
		vertical-align: top;

		// Quick Apply Button
		.btn-apply.btn-qab {
			box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.15);
			&:before {
				content: "";
				display: inline-block;
				background: url(/v4/img/sprites/icon-sprites-listing.png) no-repeat -112px 0px;
				background-size: auto 28px;
				width: 14px;
				height: 21px;
				margin-right: 6px;
				vertical-align: middle;
			}
		}

		&.listing--featured {
		background-color: $color-gold-lighter;

			&:hover {
				box-shadow: 0px 0px 0px 2px darken($color-gold,45);
			}

			div.item__details, div.item__details > div {
				border-color: #e8d39c;
			}

			div.item__details > div.info:before {
				background-color: #F2E8C6;
				color: #D2B75D;
			}

			.btn-apply {
				background-color: #f5cd45;
				color: #68530b;

				&.btn-qab {
					box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.08);
					&:before { background-position: -98px 0px; }
				}
			}
		}

		&.listing--featured, &.listing--best {
			border-radius: 0 $radius $radius;
		}
  	}


	.label {
		position: absolute;
		top:-29px;
		left:0;
		box-shadow:inset 0 -2px 0 rgba(0,0,0,0.1);
		padding: 6px 15px 6px 26px;
		color:#fff;
		@include font-size(1.2);
		border-radius: $radius $radius 0 0;
		display: block;
		margin-left: 0;
		line-height: inherit;

		&:before {
			position: absolute;
			content: "";
			width: 9px;
			height:10px;
			background-image:url(/v4/img/best-arrow-icon@2x.png);
			background-size : 9px 10px;
			left:10px;
			top:10px;
			opacity: 0.7;
		}

		&--featured {
			@include linear-gradient(#EF9D3D, #CE842D);
		}

		&--best {
			@include linear-gradient($color-best, darken($color-best, 5));
		}
	}
	.cd-results-summary { display: block; }
 }

.imoney-id .cd-gallery {
	div.item__details > div.info:before {
		content: "KUOTA";
	}
}

// Slash old price for MY region only
.imoney-my {
	.applying-price {
		padding-bottom: 0px !important;
		&.font-xxlg {
			line-height: 22px;
			margin-top: 10px;
		}
		&-old {
			text-decoration: line-through;
			color: #f8514e;
		}
	}
	.cd-gallery {
		.item__overview--price-old {
			min-height: 20px;
		}
		.item__overview--price-old, .item__overview--price-old .extra-info {
	  		text-decoration: line-through;
			color: #f8514e;
	  	}
	}
}

.listing {
	&__preloader {
		text-align: center;
		width: 100%;
		color: lighten($color-lighter,10);
		@include font-size(1.1);
	}
}

.preloader {
	height: 30px;
	width:  30px;
	border-width: 3px;
	border-style: solid;
	border-color: transparent transparent lighten($color-lighter,10) lighten($color-lighter,10);
	border-radius: 100%;
	@include animation(clockwise .75s linear infinite);
	margin: 20px auto 5px;
}

@include keyframes(clockwise) {
	to { @include transform(rotate(360deg) translatez(0));}
}

.cd-filters-mobile {
	z-index: 2;
}
.cd-results-summary {
	position: relative;
	z-index: 0;

	&:before {
		position: absolute;
		height: 1px;
		left: 0;
		right: 20px;
		background: rgba($color-lighter, .2);
		content: '';
		top: 50%;
		z-index: -1;

		@media (max-width: 991px) {
			right: 10px;
		}

		@media (max-width: 767px) {
			right: 0;
		}
	}

	span {
		display: inline-block;
		padding: 0 10px;
		background: $color-bodybg;
		position: relative;
	}
}

#apply-modal {


	//new close style
	.close-wrap {
		text-align: right;
		padding-top:7px;
		padding-bottom: 10px;
	}

	.close-btn {
		color:#99B6CB;
		position: relative;
		-webkit-backface-visibility: hidden;
		@include font-size(1.6);

		&:hover {
			text-decoration: none;

			i {
				@include transform(rotate(90deg));
			}
		}

		i {
			background: url(/v4/img/sprites/icon-topnav.svg);
			display: inline-block;
			width: 12px;
			height: 12px;
			background-position: -104px 0;
			position: relative;
			top: 0;
			margin-right: 5px;
			-webkit-transition: all .25s cubic-bezier(0.455, 0.030, 0.515, 0.955);
 			-moz-transition: all .25s cubic-bezier(0.455, 0.030, 0.515, 0.955);
   		-o-transition: all .25s cubic-bezier(0.455, 0.030, 0.515, 0.955);
      transition: all .25s cubic-bezier(0.455, 0.030, 0.515, 0.955); /* easeInOutQuad */
		}
	}

	.desc{
		@include font-size(1.6);
		color:#828A90;
		margin-bottom: 20px;
	}

	.modal-backdrop {
		background-color:#000000;

		&.in {
			opacity: 0.8;
		}
	}
	.modal-dialog {
		margin-top: 100px;
		@media (max-width: 768px) {
			margin-top: 10px;
		}
	}
	.modal-content {
		border:0;
		border-radius: 0;
		box-shadow: 0 10px 20px 6px rgba(0,0,0,0.3);
	}
	.modal-title {
		@include font-size(2.4);

		@media (max-width: 768px) {
			@include font-size(2);
		}
	}
	.modal-body {
		padding: 30px;

		> row div[class^=".col-sm-"] {
			padding-bottom: 10px;
		}

		p {
			color: $color-lighter;
		}
		.applying-name {
			border-bottom: solid 1px #eee;
			margin-bottom: 10px;
			@media (max-width: 768px) {
				text-align: center;
			}
		}
		.applying-img {
			margin-bottom: 10px;
			img {
				max-width: 90%;
				height: 30px;
			}
			@media (max-width: 768px) {
				text-align: center;
			}
		}
		.applying-price {
			padding-bottom: 10px;
			@media (max-width: 768px) {
				margin-bottom: 15px;
				border-bottom: solid 1px #eee;
			}
		}
		input[type="text"],
		input[type="tel"],
		select,
		input[type="email"] {
			width: 280px;
			margin-top: 10px;
			position: relative;

			@media (max-width: 480px) {
				width: 100%;
			}
		}
		.icn_name::-webkit-input-placeholder,
		.icn_email::-webkit-input-placeholder,
		.icn_tel::-webkit-input-placeholder { color: #ddd; }
		.icn_name:-moz-placeholder,
		.icn_email:-moz-placeholder,
		.icn_tel:-moz-placeholder { color: #eee; }
		.icn_name::-moz-placeholder,
		.icn_email::-moz-placeholder,
		.icn_tel::-moz-placeholder { color: #eee; }
		.icn_name:-ms-input-placeholder,
		.icn_email:-ms-input-placeholder,
		.icn_tel:-ms-input-placeholder { color: #eee; }

		.icn_name, .icn_email, .icn_tel, .icn_addr {
			background: url(../img/icn_form.png) no-repeat;
			background-size: 24px auto;
			padding-left: 40px;
		}
		.icn_name {
			background-position: 7px 4px;
		}
		.icn_email {
			background-position: 7px -46px;
		}
		.icn_tel {
			background-position: 7px -94px;
		}
		.icn_addr {
			background-position: -99999px -99999px;
		}

		.color-red {
			color: #EB3A63;
		}

		.parsley-error.form-control {
			border-color: #EB3A63;
		}
		.font-xs label {
			font-family: open_sansregular,"Helvetica Neue",Arial,sans-serif;
			font-weight: 400;
			font-size: 1.2rem;
		}
	}
	.modal-footer {
		padding:20px;
		text-align: center;
		background:#f8f8f8;
	}
}

.bb-applied {
	pointer-events:none;
	background-color: #88CF8D !important;
}

//Overwrite title size for MY only
.imoney-my {
	#apply-modal {
		.modal-title {
			@include font-size(1.8);
		}
	}
}

//***********************************
//  section: FAQ / Ask Us
//***********************************
#faq {
	table {
		width: 100%;
		text-align: left;
		& td, & th {
			border: 1px solid #ECEFF2;
			padding: 6px 10px;
		}
		thead {
			background: #B4E2F1;
			th {
				border-color: white;
				font-family: $font-bold;
				color: #193D5A;
			}
		}
		ul {
			margin-bottom: 0;
		}
	}
}

.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
    width: 100% !important;
}

.fade {
  opacity: 0;
  @include transition(opacity .3s linear);
  &.in {
    opacity: 1;
  }
}

// overwrite
.home__cta--bottom__container:before {
	display: none;
}

@import "../../bower_components/imoney-assets/dev/scss/_inc/_cta-bottom";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_footer";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_misc";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_shame";

//user-review-acquisition style
@import "../../bower_components/imoney-assets/dev/scss/_inc/user-review-acquisition";