@import "../../bower_components/imoney-assets/bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_var";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_mixin";
// @import "../../bower_components/imoney-assets/dev/scss/_inc/_global";

//Bootstrap
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/_bootstrap-non-critical";
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_dropdowns";
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_modals";
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_modals";
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_component-animations";

// @import "../../bower_components/imoney-assets/dev/scss/_inc/_navigation--sub";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_layout";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_button";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_modal";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_form-global";




/* ==========================================================================
   BB PROVIDER STYLING
   ========================================================================== */





//importing provider elements
@import "../../bower_components/imoney-assets/dev/scss/_inc/_sticky-anchor"; 

@import "../../bower_components/imoney-assets/dev/scss/_inc/_block-product-provider";

//***********************************
//  section: ad leaderboard
//***********************************

.ad--leaderboard {
	text-align: center;
	//box-shadow: 0 1px 3px rgba(0,0,0,.15);
	padding: 30px 15px 0 15px;

	.header & {
		padding-bottom: 50px;
	}

	> div {
		height: 90px;
		width: 728px;
		margin: 0 auto;
		box-shadow: 0 0 0 1px rgba($color-brand1,.1);

		.header & {
			box-shadow: 0 0 0 5px rgba($color-brand1,.1);
		}
	}

	&__mobile {
		display: none;
		padding: 0;
		padding-top: 15px;
		> div {
			height: 50px;
			width: 320px;
		}
		@media (max-width: 380px) {
			padding-top: 0;
			> div { width: 100%; }
		}
	}
	@media (max-width: 991px) {
		padding: 0;
		padding-bottom: 15px;
	}

	@media (max-width: 767px) {
		display: none;
		&__mobile { display: block; }
	}
	@media (max-width: 365px) {
		&__mobile { display: none; }
	}
}

/* Overwrite rules for provider*/

.header-provider__bg:before {
	background: url(/bbrunner/img/bg_abstract.png) right center no-repeat;
	width:713px;
	right:0;
}

.page-bb-provider {

	[role="main"] {
		overflow:hidden;
	}
}

.page-bb-provider  {

	.btn-see-all {

		i {
			background: url(/v4/img/provider/icon-bband.png) no-repeat;
			height:30px;
			width:35px;
			background-size: 35px auto;
		}
	}	
}

.provider__title {
	margin-bottom: 7px;

	@media (max-width: $screen-sm-max) {
		margin-bottom: 13px;
	}
}
.provider__keypoints li {
	padding-top: 30px;
}

.provider__keypoints li p {
	@media (min-width: $screen-lg) {
		min-height:auto;
	}
}
.provider {
	img {
		margin-bottom: 10px;
	}

	@media (max-width: $screen-sm-max) {
		text-align:left;
	}

	@media (max-width: $screen-xs-max) {
		padding: 30px 20px;
	}
}
.provider-details {
	margin-top:5px;
	font-family: $font-bold;
	text-align:right;
	@include font-size(1.6);

	@media (max-width: $screen-md-max) {
		@include font-size(1.3);
	}

	@media (max-width:$screen-sm-max) {
		display: none;
	}
}

.modal-body {
	.font-xs label {
			font-family: open_sansregular,"Helvetica Neue",Arial,sans-serif;
			font-weight: 400;
			font-size: 1.2rem;
		}
}

/*overriding promo css*/
.provider.promo.my-en {
	padding-top: 50px;
}
.provider.promo.my-en::after {
  content : "Recommended";
  display : block;
  position : absolute;
  top : 0px;
  left : 0px;
  right : auto;
  bottom : auto;
  font-family : open_sanssemibold, "Helvetica Neue", Arial, sans-serif;
  font-size : 1.5rem;
  color : rgb(255, 255, 255);
  background-color : rgb(252, 149, 39);
  padding : 2px 10px 3px 10px;
  border-top-left-radius : 0px;
  border-top-right-radius : 0px;
  border-bottom-right-radius : 10px;
  border-bottom-left-radius : 0px;
}

.provider.promo.my-en.rebate::after {
	content: "RM50 Rebate";
}

// Slashed old prices for MY
.imoney-my {
	.provider__keypoints li h4 {
		margin-bottom: 0px;
	}
	.provider__keypoints-old-price {
		text-decoration: line-through;
		color: #f8514e;
	}
	.applying-price {
		padding-bottom: 0px !important;
		&.font-xxlg {
			line-height: 22px;
			margin-top: 10px;
		}
		&-old {
			text-decoration: line-through;
			color: #f8514e;
		}
	}
}

@import "../../bower_components/imoney-assets/dev/scss/_inc/_grid-percentage";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_cta-bottom";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_footer";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_misc";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_shame";