@import "../../bower_components/imoney-assets/bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_var";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_mixin";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_global";

//Bootstrap
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/_bootstrap-non-critical";

@import "../../bower_components/imoney-assets/dev/scss/_inc/_navigation--sub";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_layout";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_button";


@import "../../bower_components/imoney-assets/dev/scss/_inc/_thank-you-page";

@import "../../bower_components/imoney-assets/dev/scss/_inc/_footer";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_misc";

//CreditScore Banner
.creditscore {
  margin-bottom: 50px;
  &__body { 
    margin-left: 0;
    margin-right: 0;
    background-color: #FFF;
    padding: 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width: 991px) {
      padding: 20px;
    }
    &--header {
      background-color: #206CB4;
      color: #FFF;
      text-align: center;
      min-height: 100px;
      font-size: 2.4rem;
      font-family: $font-semibold;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      background-image: url(https://www.imoney.my/ctos-leads/img/bg_header-ctos.jpg);
      background-size: 121%;
      background-position: bottom;
      padding: 15px 30px;
      line-height: 2.8rem;
      background-repeat: no-repeat;
      a {
        display: none;
        @media (max-width: 991px) {
      display: block;
      max-width: 250px;
      margin: 15px auto 0;
    }
      }
      button { margin-top: 10px }
    }
    &--content {
      span {
        color: #206CB4;
        font-family: $font-semibold;
        margin-bottom: 10px;
        font-size: 2.3rem;
        display: block;
        @media (max-width: 991px) {
          font-size: 1.8rem;
        }
      }
    }
    &--keypoints {
      padding: 50px;
      @media (max-width: 991px) { padding: 15px 0px; }
      .row {
         @media (min-width: 991px) {
          display: flex;
         }
        
      }
      &__point {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        @media (max-width: 991px) {
      text-align: center;
        justify-content: center;
        }
        span {
          color: #206CB4;
          font-size: 1.6rem;
          display: block;
          margin-bottom: 0;
          font-family: $font-semibold;
        }
      }
      i {
        display: block;
        width: 98px;
        height: 75px;
        background-image: url(https://www.imoney.my/ctos-leads/img/icn_usp.png);
        background-repeat: no-repeat;
        background-size: auto 75px;
        @media (max-width: 991px) {
          margin: 0 auto;
        }
      }
      .icn-002 { background-position: -88px 0px; }
      .icn-003 { background-position: -175px 0px; }
    }
  }
  &__cta {
    text-align: center;
    background-color: #FFF;
    padding-bottom: 30px;
    @media (max-width: 991px) { padding-bottom: 50px; }
  }
  .has-text-centered-touch {
    @media (max-width: 991px) { text-align: center; }
  }
  .has-text-centered-mobile {
    @media (max-width: 420px) { text-align: center; }
  }
}

.add-border{
	border-top: 1px #869eb1 solid;
}

.d-flex{
	display: flex;
} 

.justify-content-center {
	justify-content: center;
}

.thank-you_next{
	margin-bottom: 10px;
}

.m_b-3{
	margin-bottom: 30px;
} 

.cresitscore-search svg {
  margin-right: 5px;
  margin-left: -5px;
}