@import "../../bower_components/imoney-assets/bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_var";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_mixin";

//Bootstrap
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/_bootstrap-non-critical";
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_navs";
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/modals";

@import "../../bower_components/imoney-assets/dev/scss/_inc/_navigation--sub";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_layout";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_button";

// img bg source
$imgurl: "/bbrunner/img/";
$v4imgurl: "/v4/img/";

//***********************************
//  section: sticky head
//***********************************

.sticky-bb-header {
	position: fixed;
	top:0;
	left:0;
	right: 0;
	height:65px;
	z-index: 5;
	background-color: #263033;
	@include transition(.4s ease);
	@include transition-property(transform);
	@include transform(translate3d(0,-70px,0));

	@media (max-width: 480px) {
		top:initial;
		bottom:-70px;
		@include transform(translate3d(0,0,0));
		@include transition(.4s ease bottom);
	}


	&.slidein {
		@include transform(translate3d(0,0,0));
		@include transition-property(transform);
		@include transition(.4s ease);

		@media (max-width: 480px) {
			@include transition(.4s ease bottom);
			bottom:0;
		}

	}

	.container {
		display: table;
		height: 100%;
		padding-left:0;
		padding-right: 0;
		overflow: hidden;
		position: relative;

		@media (max-width: 767px) {
			width: 100%;
		}

		&:before {
			content: "";
			position: absolute;
			width: 500px;
			height:65px;
			background:url(#{$imgurl}bg_abstract.png) no-repeat;
			background-size: 500px auto;
			opacity: 0.4;
			right:5%;
		}
	}

	.sticky--plan-img, .sticky--plan-name, .sticky--plan-btn {
		display: table-cell;
		vertical-align: middle;
	}

	.sticky--plan-img {
		width: 110px;
		text-align: center;
		background-color: #DDE2E6;

		img {
			width: 85px;
		}

		@media (max-width: 480px) {
			display: none;
		}
	}

	.sticky--plan-name {
		@include font-size(2.1);
		color: #ffffff;
		font-family: $font-semibold;
		padding-left: 20px;
		line-height: 23px;

		@media (max-width: 767px) {
			@include font-size(1.8);
		}

		@media (max-width: 480px) {
			display: none;
		}

	}

	.sticky--plan-btn {
		text-align: right;
		width: 23.5%;

		@media (max-width: 767px) {
			padding-right: 10px;
		}

		@media (max-width: 480px) {
			width: 100%;
			padding-left:10px;
		}

		a {
			display: inline-block;
			position: relative;
			width: 100%;
			right: auto;
			top: auto;
			padding: 8px 25px 10px;
		}
	}
}

//*****
// Sticky apply button - MY-EN

@media (max-width: 480px) {
  .sticky-bb-header.my-en {
    transition-duration : 0.4s;
    transition-timing-function : ease;
    transition-delay : initial;
    transition-property : bottom;
    bottom : 0px;
    z-index : 99;
  }

  div.apply.my-en {
    display : none;
  }
}

//***********************************
//  section: ad leaderboard
//***********************************


.ad-wrap {
	margin-top: -15px;
}

.ad--leaderboard {
	text-align: center;
	//box-shadow: 0 1px 3px rgba(0,0,0,.15);
	// padding: 30px 15px 0 15px;
	padding-bottom: 30px;

	.header & {
		padding-bottom: 50px;
	}

	> div {
		height: 90px;
		width: 728px;
		margin: 0 auto;
		box-shadow: 0 0 0 1px rgba($color-brand1,.1);

		.header & {
			box-shadow: 0 0 0 5px rgba($color-brand1,.1);
		}
	}

	&__mobile {
		display: none;
		padding: 0;
		padding-bottom: 15px;
		> div {
			height: 50px;
			width: 320px;
		}
		@media (max-width: 380px) {
			padding-top: 0;
			> div { width: 100%; }
		}
	}

	@media (max-width: 1199px) {
		display: none;
		&__mobile { display: block; }
	}
	@media (max-width: 370px) {
		&__mobile { display: none; }
	}
}

//***********************************
//  section: hero image
//***********************************

.header--broadband {
	overflow: hidden;
	position: relative;
	min-height: 270px;
	background: #CDDEE7 url(#{$imgurl}bg_abstract.png) no-repeat 80% 0%;
	color: #fff;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	transition: background-color 0.3s;

	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		min-height: 270px;
		@include background(linear-gradient(-180deg, rgba(0,0,0,0), rgba(0,0,0,0.15)));
	}

	.container {
		position: relative;
	}

	h1 {
		font-family: $font-bold;
		color: #fff;
		position: relative;
		padding-top: 50px;
		padding-right: 350px;
		@media (max-width: 320px) { font-size: 24px; padding-top: 60px; margin-bottom: 0;}
		@media (min-width: 440px) and (max-width: 321px) { font-size: 28px;}
		@media (max-width: 767px) { padding-right: 0; }

		&.fixedip span {
			position: relative;
			&:after {
				content: "";
				position: absolute;
				width: 55px;
				height: 78px;
				bottom: -10px;
				margin-left: 20px;
				padding-top: 20px;
				background: url(#{$imgurl}icn_fixedip.png) no-repeat;
				background-size: 55px auto;
				background-position-y: 20px;
			}
		}
	}

	@media (max-width: 767px) { background-position: -150% 0%; min-height: 200px;}
	@media (max-width: 650px) { background-position: 0% 0%;}

	a {
		@media (max-width: 360px) { width: 100%; }
	}

	.logo-holder {
		width: 340px;
		height: 150px;
		right: 20px;
		top: 33px;
		position: absolute;
		z-index: 2;
		background: url(#{$imgurl}img_laptop.png) no-repeat;
		background-size: 340px auto;
		padding: 8px 67px 44px 110px;
		text-align: center;
		line-height: 98px;

		&--img {
			max-width: 150px;
			max-height: 40px;
			vertical-align: middle;

			@media (max-width: 767px) {
				max-width: 60px;
				max-height: 25px;
			}
		}

		@media (max-width: 767px) {
			background: #fff;
			border-radius: 12px;
			width: auto;
			height: auto;
			top: 22px;
			left: 15px;
			right: auto;
			padding: 10px 15px;
			line-height: 1;
		}
	}
}

i.icon-bb-white {
	width: 32px;
	height: 25px;
	display: inline-block;
	background: url(#{$imgurl}bb-ss-icon-white@2x.png) no-repeat;
	background-size: 32px auto;
	margin-left: 12px;
	vertical-align: middle;

	@media (max-width: 350px) { display: none; }
}

//***********************************
//  section: main content
//***********************************

div[role="main"] {
	margin-top: -110px;
	border-radius: 3px;
	padding: 0;

	@media (max-width: 767px) { margin-top: 0; }
}

@media (max-width: 794px) {
	.row {
		margin: 0;
	}
}

.bb-keypoints {

	@include linear-gradient(#fff 0%, #f7f7f7 50%, #f7f7f7 100%);
	border-radius: 3px 3px 0 0;

	ul {
		display: table;
		width: 100%;
		padding-left: 0px;
		margin-bottom: 0px;
		list-style: none;

		li {
			height: 110px;
			padding: 30px 23px 0 30px;
			border-right: solid 1px #E4E6E7;
			border-bottom: solid 1px #E4E6E7;
			color: #A8AEB3;

			&:last-child {
				border-right: none;

			}

			@media (max-width: 435px) {
				padding-left: 10px;
				&:last-child {
					padding-right: 10px;
				}
			}
		}

		i {
			background: url(#{$imgurl}icn_keypoints.svg) no-repeat;
			display: block;
			float: left;
			width: 45px;
			height: 45px;
			margin-right: 15px;

			.no-svg & {
				background-image: url(#{$imgurl}icn_keypoints.png);
			}

			@media (max-width: 515px) {
				margin-right: 10px;
			}

			@media (max-width: 374px) {
				&.icon-download {
					margin-top: 10px;
				}
			}
		}

		h4 {
			@include font-size(2.4);
			color: $color;
			margin-top: 5px;

			.extra-info {
				font-family: $font;
			}

			@media (max-width: 515px) {
				@include font-size(1.8);
				line-height: 15px;
			}

			@media (max-width: 435px) {
				@include font-size(1.5);
			}
		}
	}

	i.icon-price { background-position: 0px 0px; }
	i.icon-speed { background-position: -45px 0px; }
	i.icon-coverage { background-position: -90px 0px; }
	i.icon-download { background-position: -140px 0px; }

	&__price {
		margin-bottom: 0px;
	}

	&__gst {
		padding-left: 60px;

		@media (max-width: 515px) {
			padding-left: 55px;
		}
	}
}

table {
	border: solid 2px $lightgrey;
	width: 100%;

	col {
		border: solid 2px $lightgrey;
	}

	tr {
		border: solid 1px $lightgrey;
	}

	th {
		font-family: $font-light;
		color: $color-lighter;
		padding: 15px;

		@media (max-width: 435px) {
			padding: 12px;
		}
	}

	td {
		font-family: $font-semibold;
		color: $color-brand1;
		padding: 10px;
	}

	.subheader {
		background-color: #EAF1F3;
		font-family: $font-light;
		@include font-size(1.2);
		color: #798D9E;
		padding: 3px;

		&:nth-child(odd) {
			background-color: #F5F8F9;
		}
	}
}

.bb-content {

	padding: 40px 25px 40px 55px;

	@media (max-width: 991px) {
		padding-right: 55px;
		padding-bottom: 0px;
	}

	@media (max-width: 767px) {
		padding-left: 35px;
		padding-right: 35px;
	}

	@media (max-width: 435px) {
		padding-left: 20px;
		padding-right: 20px;
	}

	h3 {
		color: $color-brand2;
		margin-bottom: 15px;
		margin-top: 30px;

		i {
			background: url(#{$imgurl}icn_topics.svg) no-repeat;
			background-size: 150px auto;
			width: 30px;
			height: 30px;
			vertical-align: bottom;
			display: inline-block;
			margin-right: 10px;

			&.icn_speed { background-position: 0px 0px; }
			&.icn_tv { background-position: -30px 0px; }
			&.icn_fees { background-position: -60px 0px; }
			&.icn_package { background-position: -90px 0px; }
			&.icn_phone { background-position: -120px 0px; }
		}
	}

	& > h3:first-of-type {
		margin-top: 0;
	}

	p.disclaimer {
		@include font-size(1.1);
		font-style: italic;
		color: $color-lighter;
		text-align: right;
		margin-bottom: 0px;
	}

	table {
		margin-bottom: 5px;

		th:first-child {
			width: 49%;
		}

		td {
			text-align: center;

			&#price-bb, &#price-package, &#price-total {
				width: 29%;
				padding-bottom: 15px;
				h4 {
					margin-bottom: 2px;
				}
			}

			&#price-bb, &#price-total {
				position: relative;
				&:after {
					content: "+";
					position: absolute;
					display: block;
					width: 36px;
					height: 36px;
					top: 20px;
					right: -18px;
					background-color: #99D0E7;
					border-radius: 50%;
					@include font-size(2.4);
					font-family: $font-semibold;
					color: #FFF;
				}
				&.discount {
					&:after { content: "-"; }
				}
			}

			&#price-total {
				background-color: #F5F8F9;
				text-align: left;
				padding-left: 45px;
				&:after {
					content: "=";
					right: auto;
					left: -20px;
					text-align: center;
				}
				h4 {
					font-family: $font-bold;
					@include font-size(2.2);
					span {
						font-family: $font-semibold;
						@include font-size(1.4);
						color: #798D9E;
					}
				}
			}

			@media (max-width: 560px) {
				&#price-bb, &#price-tv {
					&:after { display: none; }
				}
				@-moz-document url-prefix() {
					&#price-bb { width: 52%; }
					&#price-tv { width: 46%; }
				}
				&#price-total {
					text-align: center;
					padding-left: 10px;
					&:after { display: none; }
				}
			}

			.extra-info {
				font-family: $font-light;
				color: #A9AEB3;
			}
		}
	}

	ul.btns-radio {
		list-style-position: inside;
		overflow: hidden;
		padding-left: 0px;
		text-align: center;
		& li {
			width: 32%;
			display: inline-block;
			vertical-align: top;
			position: relative;
			margin-right: 6px;
			padding: 0;

			@media (min-width: 480px) and (max-width: 700px) {
				width: 48%;
			}

			@media (max-width: 479px) {
				width: 100%;
				margin-right: 0;
			}

			@-moz-document url-prefix() {
				float: none;
				margin-right: 2px;
			}

			input, label {
				display:block;
				position:absolute;
				top:0; left:0; right:0; bottom:0;
			}
			input[type="radio"] {
				opacity:0.011;
				z-index:100;
				&:checked + label {
					background-color: #FC8F51;
					border: solid 1px #FC8F51;
					color: #FFF;
					h4 {
						text-shadow: 2px 2px 0 rgba(0,0,0,.2);
						margin-bottom: 8px;
						color: #FFF;

						span { color: #FFF; }
					}
					li {
						color: #323232;
					}
				}
			}
			label {
				cursor:pointer;
				z-index:90;
				position: relative;
				background-color: #EBEFF0;
				border: solid 1px #EBEFF0;
				border-radius: 5px;
				font-family: $font;
				text-align: left;
				color: #687179;
				@include font-size(1.4);
				@include transition(all 200ms linear);
				&:hover {
					background-color: #D7DDE0;
					border-color: #D7DDE0;
				}
				h4 {
					display: table;
					width: 100%;
					@include font-size(1.6);
					pointer-events: none;
					padding: 0 15px;
					min-height: 19px;

					span {
						display: table-cell;
						font-family: $font;
						@include font-size(1.4);
						text-align: right;
						text-shadow: none;
						vertical-align: middle;
						color: #687179;
					}
				}
				ul {
					margin: 10px 0 0 0;
					padding: 5px 15px;
					background-color: #fff;
					border-radius: 0 0 5px 5px;
					pointer-events: none;

					li {
						width: 100%;
						display: block;
						position: relative;
						float: none;
						padding: 5px 0 5px 10px;
						@include font-size(1.3);
						color: #707B7E;

						&:before {
							content: "-";
							display: inline-block;
							position: absolute;
							top: 4px;
							left: 0;
						}
					}

					@media (max-width: 369px) {
						margin-top: 15px;
						padding: 10px;
					}
				}
			}
			&:last-child {
				margin-right: 0px;
			}
		}
	}

	ul.ideal-usage {
		overflow: hidden;

		@media (min-width: 796px) {
			margin-left: 15px;
		}

		li {
			width: 120px;
			height: 90px;
			float: left;
			margin: 10px 10px 0 0;
			padding-top: 25px;
			border-radius: 5px;
			background-color: $color-bodybg;
			font-family: $font-semibold;
			@include font-size(1.3);
			text-align: center;
			list-style: none;
			position: relative;

			@media (max-width: 794px) {
				margin-right: 8px;
			}
			@media (max-width: 759px) {
				margin-right: 10px;
				width: 23%;
			}
			@media (max-width: 625px) {
				margin-right: 8px;
			}
			@media (max-width: 560px) {
				width: 30%;
			}

			&.bb-type {
				background: #99D0E7;
				padding-top: 20px;

				i {
					background: url(#{$imgurl}icn_homeoffice.svg) no-repeat;
					background-size: 90px auto;
					width: 30px;
					height: 30px;

					&.icn_home { background-position: -30px 0px;}
					&.icn_office { background-position: -60px 0px; width: 21px;}
				}
			}

			&.is-ideal:after {
				content:"";
				position:absolute;
				display: block;
				top:0;
				right:0;
				background: url(#{$imgurl}tick_topright.svg) no-repeat;
				width: 35px;
				height: 30px;

				.no-svg & {
					background: url(#{$imgurl}tick_topright.png) no-repeat;
				}
			}

			&.not-ideal {
				color: #B9BFC2;

				i {
					opacity: .3;
				}

				&:after {
					content: "Not ideal";
					position: absolute;
					display: block;
					width: 100%;
					top: 0;
					padding: 2px;
					background-color: #E3E6E7;
					border-radius: 5px 5px 0 0;
				}
			}
		}

		i {
			background: url(#{$imgurl}icn_usage.png) no-repeat;
			background-size: 24px auto;
			width: 24px;
			height: 24px;
			display: block;
			margin: 0 auto;
			&.icn_browse { background-position: 0px 0px; }
			&.icn_email { background-position: 0px -24px; }
			&.icn_facebook { background-position: 0px -48px; }
			&.icn_twitter { background-position: 0px -72px; }
			&.icn_spotify { background-position: 0px -96px; }
			&.icn_skype { background-position: 0px -120px; }
			&.icn_youtube { background-position: 0px -144px; }
			&.icn_download { background-position: 0px -168px; }
			&.icn_filetrnx { background-position: 0px -192px; }
			&.icn_videoconf { background-position: 0px -216px; }
			&.icn_gaming { background-position: 0px -240px; }
		}
	}
}

div.apply {
	content: "";
	position: absolute;
	top: 110px;
	right: 0;
	padding: 15px;
	background-color: #fafbfc;

	.btn {
		width: 100%;
	}

	@media (max-width: 991px) {
		position: static;
		top: 0px;
	}
}

aside {

	margin-top: 75px;

	&.col-md-3 {
		padding-left: 0;
		padding-right: 55px;
	}

	h4 {
		background: url(#{$v4imgurl}arrow-br@2x.png) no-repeat 0px 4px;
		background-size: 12px auto;
		padding-left: 22px;
		margin-top: 35px;
		margin-bottom: 15px;
		@include font-size(1.7);

		span {
			color: $color-complement;
		}
	}

	@media (max-width: 991px) {
		margin-top: 0px;
		padding-bottom: 40px;

		&.col-md-3 {
			padding-left: 35px;
			padding-right: 35px;
		}
	}

	.suggested__bb {
		border: solid 1px #eee;
		border-radius: 3px;
		margin-bottom: 20px;
		-webkit-transition: all 0.1s;
		-moz-transition: all 0.1s;
		transition: all 0.1s;

		&--title {
			padding: 12px 20px;
			font-family: $font-semibold;
			border-bottom: solid 1px #eee;

			img {
				max-width: 55px;
				max-height: 20px;
				margin-right: 10px;
				vertical-align: baseline;
			}

			p {
				display: inline-block;
				width: calc(100% - 65px);
				vertical-align: middle;
				margin-bottom: 0;
				color: $color;
			}
		}

		&--info {
			width: 50%;
			float: left;
			display: inline-block;
			padding: 12px 20px;
			font-family: $font-light;
			@include font-size(1.3);
			color: $color-lighter;

			&:last-child {
				border-left: solid 1px #eee;
				padding-right: 11px;
			}

			strong {
				font-family: $font-semibold;
				color: $color-brand1;
			}
		}

		&:after {
			content: "";
			display: table;
			clear: both;
		}

		&:hover {
			box-shadow: 0px 0px 0px 1px #44ACDC;
			border-color: #44ACDC;
		}
	}
}

.section--lightgrey {
	background-color: #ECF0F4;
	@include background(linear-gradient(to bottom, rgba(221,226,230,1), rgba(236,240,244,1)));
	padding: 40px;
	text-align: center;

	.divider {
		width: 200px;
		height: 1px;
		border-top: solid 1px #D6DEE4;
		display: inline-block;

		&--left {
			margin-right: 15px;
		}

		&--right {
			margin-left: 15px;
		}

		@media (max-width: 580px) {
			width: 30%
		}
	}
}

.review {
	@include font-size(1.6);
	padding: 40px 20px;

	@media (min-width: 750px) {
		padding: 40px 40px;
	}
	@media (min-width: 992px) {
		padding: 40px 100px;
	}

	h3 {
		color: $color-brand2;
		margin-top: 1.3em;
	}

	p {
		line-height: 26px;
		color: #545F68;

		&.lead {
			color: $color;
		}
	}
}

#apply-modal {


	//new close style
	.close-wrap {
		text-align: right;
		padding-top:7px;
		padding-bottom: 10px;
	}

	.close-btn {
		color:#99B6CB;
		position: relative;
		-webkit-backface-visibility: hidden;
		@include font-size(1.6);

		&:hover {
			text-decoration: none;

			i {
				@include transform(rotate(90deg));
			}
		}

		i {
			background: url(#{$v4imgurl}sprites/icon-topnav.svg);
			display: inline-block;
			width: 12px;
			height: 12px;
			background-position: -104px 0;
			position: relative;
			top: 0;
			margin-right: 5px;
			-webkit-transition: all .25s cubic-bezier(0.455, 0.030, 0.515, 0.955);
 			-moz-transition: all .25s cubic-bezier(0.455, 0.030, 0.515, 0.955);
   		-o-transition: all .25s cubic-bezier(0.455, 0.030, 0.515, 0.955);
      transition: all .25s cubic-bezier(0.455, 0.030, 0.515, 0.955); /* easeInOutQuad */
		}
	}

	.desc{
		@include font-size(1.6);
		color:#828A90;
		margin-bottom: 20px;
	}

	.modal-backdrop {
		background-color:#000000;

		&.in {
			opacity: 0.8;
		}
	}
	.modal-dialog {
		margin-top: 100px;
		@media (max-width: 768px) {
			margin-top: 10px;
		}
	}
	.modal-content {
		border:0;
		border-radius: 0;
		box-shadow: 0 10px 20px 6px rgba(0,0,0,0.3);
	}
	.modal-title {
		@include font-size(2.4);

		@media (max-width: 768px) {
			@include font-size(2);
		}
	}
	.modal-body {
		padding: 30px;

		> row div[class^=".col-sm-"] {
			padding-bottom: 10px;
		}

		p {
			color: $color-lighter;
		}
		.applying-name {
			border-bottom: solid 1px #eee;
			margin-bottom: 10px;
			@media (max-width: 768px) {
				text-align: center;
			}
		}
		.applying-img {
			margin-bottom: 10px;
			img {
				max-width: 90%;
				height: 30px;
			}
			@media (max-width: 768px) {
				text-align: center;
			}
		}
		.applying-price {
			padding-bottom: 10px;
			@media (max-width: 768px) {
				margin-bottom: 15px;
				border-bottom: solid 1px #eee;
			}
		}
		input[type="text"],
		input[type="tel"],
		select,
		input[type="email"] {
			width: 280px;
			margin-top: 10px;
			position: relative;

			@media (max-width: 480px) {
				width: 100%;
			}
		}
		.icn_name::-webkit-input-placeholder,
		.icn_email::-webkit-input-placeholder,
		.icn_tel::-webkit-input-placeholder { color: #ddd; }
		.icn_name:-moz-placeholder,
		.icn_email:-moz-placeholder,
		.icn_tel:-moz-placeholder { color: #eee; }
		.icn_name::-moz-placeholder,
		.icn_email::-moz-placeholder,
		.icn_tel::-moz-placeholder { color: #eee; }
		.icn_name:-ms-input-placeholder,
		.icn_email:-ms-input-placeholder,
		.icn_tel:-ms-input-placeholder { color: #eee; }

		.icn_name, .icn_email, .icn_tel, .icn_addr {
			background: url(../img/icn_form.png) no-repeat;
			background-size: 24px auto;
			padding-left: 40px;
		}
		.icn_name {
			background-position: 7px 4px;
		}
		.icn_email {
			background-position: 7px -46px;
		}
		.icn_tel {
			background-position: 7px -94px;
		}
		.icn_addr {
			background-position: -99999px -99999px;
		}

		.color-red {
			color: #EB3A63;
		}

		.parsley-error.form-control {
			border-color: #EB3A63;
		}
		.font-xs label {
			font-family: open_sansregular,"Helvetica Neue",Arial,sans-serif;
			font-weight: 400;
			font-size: 1.2rem;
		}
	}
	.modal-footer {
		padding:20px;
		text-align: center;
		background:#f8f8f8;
	}
}

.bb-applied {
	pointer-events:none;
	background-color: #88CF8D !important;
}

//Overwrite title size for MY only
.imoney-my {
	#apply-modal {
		.modal-title {
			@include font-size(1.8);
		}
	}
}


//***********************************
//  section: FAQ / Ask Us
//***********************************
.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
    width: 100% !important;
}

.fade {
  opacity: 0;
  @include transition(opacity .3s linear);
  &.in {
    opacity: 1;
  }
}


// MY slashed price
.imoney-my {
	.applying-price {
		padding-bottom: 0px !important;
		&.font-xxlg {
			line-height: 22px;
			margin-top: 10px;
		}
		&-old {
			text-decoration: line-through;
			color: #f8514e;
		}
	}
	.bb-keypoints {
		&__gst {
			line-height: 11px;
		}
		ul h4 {
			margin-top: 3px;
			line-height: 15px;
			margin-left: 55px;
		}
		ul li {
			height: 130px;
			padding: 30px;
		}
		&__price--old {
			padding-left: 60px;
			margin: 0;
			@media (max-width: 767px) {
				padding-left: 55px;
			}
		}
		&__price--old, &__price--old span {
			text-decoration: line-through;
			color: #f8514e;
			line-height: 13px;
		}
	}
	.suggested__bb--price-old {
		text-decoration: line-through;
		color: #f8514e;
		strong {
			color: #f8514e;
		}
	}
	div.apply {
		top: 130px;
	}
}

@import "../../bower_components/imoney-assets/dev/scss/_inc/_footer";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_misc";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_shame";