@import "../../bower_components/imoney-assets/bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_var";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_mixin";

$v4imgurl: "/v4/img/";

//Bootstrap
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/_bootstrap-non-critical";
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/component-animations";
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/modals";
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/tooltip";
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/close";

@import "../../bower_components/imoney-assets/dev/scss/_inc/_button";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_modal";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_misc";

$featured-card-color : #EDCA52;
$normal-bb-color : #E1EDF5;
$ss-color : #B0D5E9;

$green-button : #44B74D;
$yellow-button : #F5CD45;

body {
	background-color: $ss-color;

}

.bb-smartsearch-header {
	padding:10px 0;
	background-color: #ffffff;
	position: relative;
	border-bottom: 6px solid #3E73B6;

	.smartsearch-logo {
		margin: 0 auto;
		color:#2F7FBA;
		@include font-size(2.0);
		padding-left: 45px;
		background:url(/bbrunner/img/bb-ss-icon@2x.png) no-repeat 0 0;
		background-size: 39px auto;
	}
}

.imoney-logo {
	background:url(#{$v4imgurl}my/imoney-malaysia-logo.svg) no-repeat;
	display: inline-block;
	width: 112px;
	height:29px;
	text-indent: -1000em;
	background-size: 100px auto;


	.imoney-ph & {
		background-image: url(#{$v4imgurl}ph/imoney-logo.svg);
		width: 112px;
		height: 29px;
		background-size: 100px auto;
	}

	.imoney-id & {
		background-image: url(#{$v4imgurl}id/aturduit-logo.svg);
		width: 120px;
		height: 30px;
		background-size: 115px auto;
	}

	.imoney-sg & {
		background-image: url(#{$v4imgurl}sg/imoney-singapore-logo.svg);
		height:36px;
		background-size:90px auto;
	}
}

.no-svg {

	.imoney-logo {
		background:url(/v4/img/my/imoney-malaysia-logo.png) no-repeat;
	}
}

a.tooltip {
	// display: none;
	// position: absolute !important;
	// top: -9999px !important;
	// left: -9999px !important;
	font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
	outline: none;
	visibility:hidden;
	opacity: 1;
	display: inline-block;
	position: absolute;
	z-index: 10;
	top: 35px;

	.results-wrapper.animated & {
		visibility:visible;
	}
	strong {
		line-height: 30px;
	}
	&:hover {
		text-decoration: none;
	}
	span {
		z-index: 10;
		display: none;
		padding: 12px 15px;
		margin-top: 20px;
		width: 180px;
		top: 10px;
		left: -3px;
	}
	&:hover span {
		display: inline;
		position: absolute;
		z-index: 1000;
		border: 1px solid #ddd;
		border-radius: 6px;
		background-color: #fff;
		@include font-size(1.2);
		color: #859297;
	}
}

.results-header {
	padding-top:20px;
	padding-bottom:40px;

	h1 {
		@include font-size(2.8);
		margin-top: 10px;
		margin-bottom: 15px;
		color:#1F4D6E;
		font-family: $font-semibold;
	}
}

.filter-wrap {

	ul {
		margin:0;
		padding:0;

		&:after {
			content:"";
			clear:both;
		}

		li {
			display: inline-block;
			padding:4px 20px 4px 35px;
			background:#569CC1;
			color:$ss-color;
			border-radius: 30px;
			margin-left: 10px;
			font-family: $font-light;
			box-shadow: 0 0 8px rgba(0,0,0,0.1);
			position: relative;
			margin-bottom: 10px;

			&:before {
				content: "";
				width: 15px;
				height:12px;
				background: url(/v4/img/tick-icon@2x.png) no-repeat 0 0;
				background-size:15px 12px;
				position: absolute;
				left:12px;
				top:8px;
				opacity: 0.8;
			}

			&:first-child {
				margin-left: 0;
			}
		}

	}
}

.results-body {
	padding-left:50px;
	padding-right: 50px;

	&:after {
		content: "";
		display: table;
		clear:both;
	}

	.results-bb {
		width: 20% - 0.5*2;
		float:left;
		position: relative;
		display: inline-block;
		background:transparent;
		margin-left:0.5%;
		margin-right:0.5%;

		.animated {

			&.featured-bb, &.normal-bb{
				visibility: visible;
			}
		}

		.featured-bb {
			background: lighten($featured-card-color, 30);
			box-shadow: 3px 3px 0px rgba(0,0,0,0.2);
			visibility: hidden;

			.btn-apply {
				background:$yellow-button;
				color:darken($featured-card-color, 40);
				@include transition(.1s ease-in background);

				&:hover {
					background: darken($yellow-button, 8);
					@include transition(.1s ease-in background);
				}
			}

			.results-bb {
				&__header {
					box-shadow: inset 0 200px 0 #FFDB76;
					border-bottom: 1px solid #E3CA87;

					.bb-coverage, .bb-price {
						color: #B3883A;
					}

					.bb-speed {
						background-color: #A08039;
					}
				}
			}
		}

		.normal-bb {
			background: #ffffff;
			box-shadow: 3px 3px 0px rgba(0,0,0,0.2);
			visibility: hidden;
		}

		//resultscards header
		&__header {
			padding: 55px 10px 0 10px;
			text-align: center;
			box-shadow: inset 0 200px 0 $normal-bb-color;
			border-bottom: 1px solid #E3D7D7;
			color: #7E8E9D;

			.bb-image {
				width: 140px;
				margin:0 auto;

				img {
					max-height:30px;
					margin:0 auto;
				}
			}

			.bb-name {
				@include font-size(1.4);
				font-family: $font-semibold;
				line-height: 1.1;
				position: absolute;
				top: 95px;
				left: 10px;
				right: 10px;
				color: #07456B;
			}

			.bb-price {
				@include font-size(1.2);
				font-family: $font;
				color: #7E8E9D;
				display: block;
				position: absolute;
				top: 43px;
				width: 100%;
				margin: 0 auto;
				span {
					@include font-size(3.0);
					color: #364852;
				}
			}

			.bb-coverage {
				position: absolute;
				top: 12px;
				left: 15px;
				@include font-size(1.4);
				color: #7E8E9D;
				text-align: left;
				padding-top: 4px;
				background: url(/bbrunner/img/icn_coverage.png) no-repeat;
				background-size: 20px auto;
				&.low {
					background-position: 0px 0px;
					padding-left: 20px;
				}
				&.high {
					background-position: 0px -30px;
					padding-left: 24px;
				}
			}

			.bb-speed {
				position: absolute;
				top: 10px;
				right: 10px;
				background-color: #748A9A;
				padding: 3px 10px;
				border-radius: 3px;
				@include font-size(1.4);
				font-family: $font-semibold;
				color: #fff;
			}

			.bb-reward {
				text-align: left;
				padding: 193px 0 10px 9px;
				min-height: 100px;
				position: relative;

				li {
					list-style: none;
					background: url(/v4/img/tick_green.gif) no-repeat 0px 5px;
					background-size: 11px 9px;
					padding-left: 15px;
					color: #323232;
				}
				.red {
					font-family: $font-semibold;
					color: #FF7F72;
				}
			}

			.highlight-card {
				position: absolute;
				top:-29px;
				left:0;
				box-shadow:inset 0 -2px 0 rgba(0,0,0,0.1);
				padding: 6px 15px 6px 26px;
				color:#ffffff;
				@include font-size(1.2);
				border-radius: 4px 4px 0 0;

				&:before {
					position: absolute;
					content: "";
					width: 9px;
					height:10px;
					background-image:url(/v4/img/best-arrow-icon@2x.png);
					background-size : 9px 10px;
					left:10px;
					top:10px;
					opacity: 0.7;
				}

				&.promo {
					@include linear-gradient(#EF9D3D, #CE842D);
				}
			}
		}

		//resultscards body
		&__body {
			@include font-size(1.2);
			color: #7E8E9D;
			padding:20px;

			ul.icns_usage {
				padding-left: 0px;
				li {
					background: url(/bbrunner/img/icn_usage.png) no-repeat;
					background-size: 20px auto;
					color: #323232;
					padding-left: 28px;
					margin: 7px 0;
					list-style: none;
					&.icn_browse { background-position: 0px 0px; }
					&.icn_email { background-position: 0px -20px; }
					&.icn_facebook { background-position: 0px -40px; }
					&.icn_twitter { background-position: 0px -60px; }
					&.icn_spotify { background-position: 0px -80px; }
					&.icn_skype { background-position: 0px -100px; }
					&.icn_youtube { background-position: 0px -120px; }
					&.icn_download { background-position: 0px -140px; }
					&.icn_filetrnx { background-position: 0px -160px; }
					&.icn_videoconf { background-position: 0px -180px; }
					&.icn_gaming { background-position: 0px -200px; }
				}
			}
		}

		//resultscards body
		&__fineprint {
			@include font-size(1.2);
			color: #7E8E9D;
			padding: 20px 20px;
			border-top: solid 1px #E3D7D7;

			div {
				margin-bottom: 10px;
			}

			h3 {
				@include font-size(1.4);
				font-family: $font-semibold;
				margin: 3px 0 3px;
			}

			span {
				@include font-size(1.2);
				font-family: $font;
			}

			h3, p , span {
				color: #323232;
			}
		}
	}

	.button-wrapper {
		padding:10px 20px 20px;
		text-align: center;
		display: none;

		&:after {
			content: "";
			clear: both;
			display: table;
		}
		&.abf {
			//apply now button above the fold
			position: absolute;
			z-index: 10;
			top: 208px;
			left: 0;
			width: 100%;
			display: block;
		}
	}

	.btn-apply {
		position: relative;
		width: 100%;
		@include font-size(1.6);
		padding:10px 20px 13px;
		text-align: center;
		background: $green-button;
		box-shadow: inset 0 -2px 0 rgba(0,0,0,0.3);
		color:#ffffff;
		border-radius: 3px;
		font-family: $font-semibold;
		@include transition(.1s ease-in background);
		text-shadow:1px 2px 0 rgba(0,0,0,0.15);

		&:hover {
			background: darken($green-button, 5);
			@include transition(.1s ease-in background);
		}
	}
}

.results-footer {
	padding-top: 50px;
	padding-bottom: 90px;
	background-color: $ss-color;

	.cta-footer {
		text-align: center;
	}

	ul {
		margin:0;
		padding: 0;

		li {
			display: inline-block;
			margin-left:8px;
			margin-bottom: 8px;
		}
	}

	.btn-outline {
		display: block;
		outline: none;
		color:#1F4D6E;
		background:transparent;
		border:1px solid #1F4D6E;
		border-radius: 30px;
		padding:8px 20px;
		@include font-size(1.2);
		text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
		@include transition(.2s ease all);

		&:hover {
			text-decoration: none;
			background:#1F4D6E;
			color:#ffffff;
		}
	}
}

.radio-skip {
	margin:0;
	padding:0;

	li {
		display: block;
		margin-bottom: 8px;
		list-style: none;

		label {
			display: block;
			background:#EEF1F4 url(/v4/img/skip-radio-empty.png) 13px 50% no-repeat;
			background-size:14px 14px;
			border:1px solid #BBD4DB;
			box-shadow: 1px 1px 0 rgba(0,0,0,0.1);
			padding:6px 10px 6px 40px;
			color:#274D6B;
			font-family: $font-semibold;
			@include font-size(1.5);
			border-radius: 4px;

			&:hover {
				cursor: pointer;
				border-color:#7398A4;
				background-color:#F4F5F7;
			}
		}

		input[type="radio"] {
			display: none;
		}

		input:checked + label {
			background-color:#586A84;
			background-image: url(/v4/img/skip-radio-checked.png);
			color:#ffffff;
			border-color:#507595;
			@include transition(.2s ease all)
		}
	}
}

.results-skip {

	//new close style
	.close-wrap {
		text-align: right;
		padding-top:7px;
		padding-bottom: 10px;
	}

	.close-btn {
		color:#99B6CB;
		position: relative;
		-webkit-backface-visibility: hidden;
		@include font-size(1.6);

		&:hover {
			text-decoration: none;

			i {
				@include transform(rotate(90deg));
			}
		}

		i {
			background: url(/v4/img/sprites/icon-topnav.svg);
			display: inline-block;
			width: 12px;
			height: 12px;
			background-position: -104px 0;
			position: relative;
			top: 0;
			margin-right: 5px;
			-webkit-transition: all .25s cubic-bezier(0.455, 0.030, 0.515, 0.955);
			-moz-transition: all .25s cubic-bezier(0.455, 0.030, 0.515, 0.955);
			-o-transition: all .25s cubic-bezier(0.455, 0.030, 0.515, 0.955);
			transition: all .25s cubic-bezier(0.455, 0.030, 0.515, 0.955); /* easeInOutQuad */
		}
	}

	.desc{
		@include font-size(1.6);
		color:#828A90;
		margin-bottom: 20px;
	}

	.modal-backdrop {
		background-color:#000000;

		&.in {
			opacity: 0.8;
		}
	}
	.modal-title {
		@include font-size(2.4);
	}
	.modal-dialog {
		margin-top:100px;
	}
	.modal-body {
		padding-left:30px;
		padding-right: 30px;
		padding-bottom: 40px;
	}
	.modal-content {
		border:0;
		border-radius: 0;
		box-shadow: 0 10px 20px 6px rgba(0,0,0,0.3)
	}
	.modal-footer {
		padding:20px;
		text-align: center;
		background:#f8f8f8;
	}

	.customer-information-wrap {
		color:#848B90;
		font-style: italic;

		p {
			@include font-size(1.6);
			font-style: normal;
		}
	}

	.apply-information-content {
		color:#ADB4BA;
	}
	.contact-text {
		color:#848B90;
		@include font-size(1.8);
		font-family: $font-semibold;
	}

	.apply-bb-name {
		color:#274D6B;
		@include font-size(1.6);
		margin-bottom:10px;
		font-family: $font-semibold;
	}

	.apply-bb-img {
		margin-bottom: 5px;

		img {
			width:50%;
		}
	}
}

.modal-green-box {
	background: #3FA361;
	padding:25px 10px;

	h1,h2,h3,h4,h5,h6 {
		color:#ffffff;
		margin:0;
		font-family: $font-semibold;
		text-align: center;
	}
	h3 {
		@include font-size(2.5);
	}
}

.related-content-top {
	padding-bottom: 20px;
	border-bottom: 1px solid #e1e1e1;

	h4 {
		max-width: 400px;
		margin:10px auto 17px;
		text-align: center;

		@media (max-width: 480px) {
			margin: 10px 0 17px;
			text-align: left;
		}
	}
}
.related-content-bottom {
	padding-top:20px;
}

.related-products-link {
	margin:0;
	padding:0;
	text-align: center;

	li {
		display: inline-block;
		margin:0 10px 5px;
	}
}
.modal-articles {

	a {
		@include font-size(1.6);
	}

	li {
		margin-bottom: 5px;
		padding-left:25px;
		background:url(/v4/img/list-bullet.png) 7px 9px no-repeat;
	}

}

#apply-modal {


	//new close style
	.close-wrap {
		text-align: right;
		padding-top:7px;
		padding-bottom: 10px;
	}

	.close-btn {
		color:#99B6CB;
		position: relative;
		-webkit-backface-visibility: hidden;
		@include font-size(1.6);

		&:hover {
			text-decoration: none;

			i {
				@include transform(rotate(90deg));
			}
		}

		i {
			background: url(/v4/img/sprites/icon-topnav.svg);
			display: inline-block;
			width: 12px;
			height: 12px;
			background-position: -104px 0;
			position: relative;
			top: 0;
			margin-right: 5px;
			-webkit-transition: all .25s cubic-bezier(0.455, 0.030, 0.515, 0.955);
			-moz-transition: all .25s cubic-bezier(0.455, 0.030, 0.515, 0.955);
			-o-transition: all .25s cubic-bezier(0.455, 0.030, 0.515, 0.955);
			transition: all .25s cubic-bezier(0.455, 0.030, 0.515, 0.955); /* easeInOutQuad */
		}
	}

	.desc{
		@include font-size(1.6);
		color:#828A90;
		margin-bottom: 20px;
	}

	.modal-backdrop {
		background-color:#000000;

		&.in {
			opacity: 0.8;
		}
	}
	.modal-dialog {
		margin-top: 100px;
		@media (max-width: 768px) {
			margin-top: 10px;
		}
	}
	.modal-content {
		border:0;
		border-radius: 0;
		box-shadow: 0 10px 20px 6px rgba(0,0,0,0.3);
	}
	.modal-title {
		@include font-size(2.4);

		@media (max-width: 768px) {
			@include font-size(2);
		}
	}
	.modal-body {
		padding: 30px;

		> row div[class^=".col-sm-"] {
			padding-bottom: 10px;
		}

		p {
			color: $color-lighter;
		}
		.applying-name {
			border-bottom: solid 1px #eee;
			margin-bottom: 10px;
			@media (max-width: 768px) {
				text-align: center;
			}
		}
		.applying-img {
			margin-bottom: 10px;
			img {
				max-width: 90%;
				height: 30px;
			}
			@media (max-width: 768px) {
				text-align: center;
			}
		}
		.applying-price {
			padding-bottom: 10px;
			@media (max-width: 768px) {
				margin-bottom: 15px;
				border-bottom: solid 1px #eee;
			}
		}
		input[type="text"],
		input[type="tel"],
		input[type="email"] {
			width: 280px;
			margin-top: 10px;
			position: relative;

			@media (max-width: 480px) {
				width: 100%;
			}
		}
		.icn_name::-webkit-input-placeholder,
		.icn_email::-webkit-input-placeholder,
		.icn_tel::-webkit-input-placeholder { color: #ddd; }
		.icn_name:-moz-placeholder,
		.icn_email:-moz-placeholder,
		.icn_tel:-moz-placeholder { color: #eee; }
		.icn_name::-moz-placeholder,
		.icn_email::-moz-placeholder,
		.icn_tel::-moz-placeholder { color: #eee; }
		.icn_name:-ms-input-placeholder,
		.icn_email:-ms-input-placeholder,
		.icn_tel:-ms-input-placeholder { color: #eee; }

		.icn_name, .icn_email, .icn_tel, .icn_addr {
			background: url(../img/icn_form.png) no-repeat;
			background-size: 24px auto;
			padding-left: 40px;
		}
		.icn_name {
			background-position: 7px 4px;
		}
		.icn_email {
			background-position: 7px -46px;
		}
		.icn_tel {
			background-position: 7px -94px;
		}
		.icn_addr {
			background-position: -99999px -99999px;
		}

		.color-red {
			color: #EB3A63;
		}

		.parsley-error.form-control {
			border-color: #EB3A63;
		}
		.font-xs label {
			font-family: open_sansregular,"Helvetica Neue",Arial,sans-serif;
			font-weight: 400;
			font-size: 1.2rem;
		}
	}
	.modal-footer {
		padding:20px;
		text-align: center;
		background:#f8f8f8;
	}
}

/** END Bootstrap modal overwrite */

/* ==========================================================================
   ANIMATE.CSS
   ========================================================================== */
.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -moz-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
      -o-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
         transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955); /* easeInOutQuad */
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -moz-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
      -o-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
         transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955); /* easeInOutQuad */
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
            transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
            transform: translate3d(0, -5px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
            transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
            transform: translate3d(0, -5px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  -webkit-animation-name: bounceInUp;
          animation-name: bounceInUp;
}

@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
          animation-name: fadeOutUp;
}

.loading-wrap {
	position: absolute;
	top:20px;
	color:rgba(0,0,0,0.6);
	width: 100%;
	text-align: center;

	span {
		display: block;
		text-align: center;
		color: #204D75;
		@include font-size(1.1);
		margin-top: 10px;
	}
}
/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

@media (max-width: 1366px) {

	.results-body {
		padding-left:10px;
		padding-right: 10px;
	}
}

@media (max-width: 991px) {

	.results-header {
		padding-bottom: 20px;
	}

	.results-body {

		.results-bb {
			width: 100%;
			margin-left:0;
			margin-right:0;
			margin-bottom: 20px;

			&__header {
				padding: 30px 17px 24px 17px;
				text-align: left;
				background:transparent;
				box-shadow: none;

				&:after {
					content:"";
					clear:both;
					display: table;
				}

				.highlight-card {
					top:8px;
					left: auto;
					right:22px;
					padding:3px 20px 3px 25px;
					border-radius: 20px;
					box-shadow: none;

					&:before {
						top:7px;
					}
				}

				.bb-image {
					margin: 0;
					margin-top:5px;
					display: inline-block;
					float: left;
					padding-bottom: 0;
				}

				.bb-name {
					@include font-size(1.6);
					margin-left:170px;
					padding-bottom: 7px;
					top:auto;
					left:auto;
					right:auto;
					position: relative;
				}

				.bb-price {
					position: static;
					top: auto;
					width: 100%;
					margin: 5px auto 0;
				}

				.bb-coverage {
					top: 0px;
					left: 0px;
					float: left;
					clear: left;
					position: relative;
					transform: translateY(200%);
					margin: 13px 0 0 calc((140px - 85px)/2);
				}

				.bb-speed {
					float: left;
					clear: left;
					position: static;
					transform: translateY(-100%);
					margin: 13px 0 0 calc((140px - 66px)/2);
				}

				.bb-reward {
					margin-left: 170px;
					padding:0;
					min-height: inherit;

					&:before {
						display: none;
					}
				}
			}

			&__body {
				.icns_usage {
					width: 100%;
					display: table;
					li {
						width: 33%;
						float: left;
					}
				}
			}

			&__fineprint {
				width: 100%;
				display: table;
				padding-bottom: 0;
				div {
					width: 50%;
					float: left;
				}
			}

			.featured-bb {
				background-color: #fff;

				.results-bb {
					&__header {
						box-shadow: none;
						background-color: #fbf4dd;

						.bb-coverage, .bb-price {
							color: #7E8E9D;
						}

						.bb-speed {
							background-color: #748A9A;
						}
					}
				}
			}
		}

		.button-wrapper {
			padding:20px;
			display: block;
			&.abf {
				display: none;
			}
		}

		.btn-apply {
			text-transform: uppercase;
			width:200px;
			float:right;
			padding-top:15px;
			padding-bottom: 17px;
			@include font-size(1.8);
			vertical-align: top;
		}
	}
}

@media (max-width: 768px) {

	body {
		background-color: #ffffff;
	}
	.results-body {

		.results-bb {

			&__header {
				background-color: #E1EDF5;
				border-bottom: none;
			}
		}
	}

	.container-fluid {
		padding-left: 0;
		padding-right: 0;

		.row {
			margin-left:0;
			margin-right: 0;
		}
	}
	.results-skip {

		.desc {
			@include font-size(1.4);
		}
		.modal-body {
			padding-left:15px;
			padding-right: 15px;
		}
		.modal-title {
			@include font-size(1.8);
		}

		.modal-dialog {
			margin-top:50px;
		}
	}

	.radio-skip {

			li {

				label{
					@include font-size(1.4);
				}
			}
	}
	.bb-smartsearch-header {
		background-color:#56BCF1;
		color:#ffffff;

		.smartsearch-logo {
			color:#ffffff;
			background-image: url(/bbrunner/img/bb-ss-icon-white@2x.png);
			background-size: 35px auto;
			padding-left:40px;
			@include font-size(1.6);
			line-height: 1.6;
		}

		a {
			color:#ffffff;
		}
	}
	.results-header {
		padding-left:10px;
		padding-right: 10px;
	}

	.results-body {
		padding-left:0;
		padding-right: 0;

		.results-bb {
			margin-bottom: 0;
			box-shadow: none;

			.results-wrapper {
				border-top:2px solid #6788A5;
				box-shadow: none;
			}
		}
	}
}

@media (max-width: 480px) {

	.results-header {
		padding: 20px 15px 20px 15px;
		h1 {
			@include font-size(2.5);
		}
	}
	.results-body {

		.button-wrapper {
			padding:15px 10px;
		}

		.results-bb {

			&__header {
				padding: 30px 0 24px 0;

				.highlight-card {
					@include font-size(1.0);
					padding-bottom: 5px;
				}

				.bb-image {
					img {
						max-width: 80px;
					}
				}

				.bb-name, .bb-reward {
					margin-left : 146px;
				}

				.bb-price {
					left: 145px;
				}
			}

			&__body {
				.icns_usage li {
					width: 50%;
				}
			}

		}

		.btn-apply {
			width: 170px;
		}
	}

	.results-footer {
		padding-bottom: 40px;

		ul {

			li {
				display: block;
				margin-left:0;
				margin-right:15px;
				margin-left:15px;
			}
		}

		.btn-outline {
			width: 100%;
			padding:12px 20px;
			box-shadow: 0 0 5px rgba(0,0,0,0.15);
			background:darken($ss-color, 10);
		}
	}

	.results-skip {
		.apply-bb-img img {
			margin: 0 auto;
		}
		.apply-bb-name {
			text-align: center;
		}
	}
}

@media (max-width: 320px) {
	.results-body {
		.results-bb {
			&__fineprint {
				div {
					width: 100%;
					display: block;
				}
			}
		}
	}
}

// Slash old price for MY
.imoney-my {
	.bb-price-old, .bb-price-old span {
	    font-size: 14px !important;
	    font-weight: 100;
	    font-family: "open_sansregular","Helvetica Neue",Arial,sans-serif;
	    color: #f14d00 !important;
	    text-decoration: line-through;
	}
}

//user-review-acquisition style
@import "../../bower_components/imoney-assets/dev/scss/_inc/user-review-acquisition";