@import "../../bower_components/imoney-assets/bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_var";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_mixin";

//Bootstrap
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/_bootstrap-non-critical";
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_navs";
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/modals";

@import "../../bower_components/imoney-assets/dev/scss/_inc/_navigation--sub";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_layout";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_button";

// img bg source
$imgurl: "/bbrunner/img/";
$v4imgurl: "/v4/img/";


//***********************************
//  Common assets
//***********************************

//VAR
$darkblue: #193D5A;
$medblue: #3F80AE;
$lightblue: #4EAAD8;
$black: #434C55;

.container {
	position: relative;
}

// ICONS
.circle {
	&--blue {
		width: 35px;
		height: 35px;
		display: block;
		background-color: $lightblue;
		border-radius: 50%;
	}
}
.icon {
	width: 50px;
	height: 50px;
	display: block;
	content: '';
	position: relative;
	background-repeat: no-repeat;
	background-size: auto 35px;
	background-position: center;
	margin: 0 auto;

	&-faq {
		background-image: url(/bbrunner/img/plan-recommender/pr-calculator.png);
		position: relative;
		margin: -65px auto;
		margin-bottom: 35px;
	}
	&-search {
		width: 17px;
		height: 17px;
		background-size: auto 17px;
		background-image: url(/bbrunner/img/plan-recommender/search.png);
		display: inline-block;
		margin-left: 4px;
	    position: relative;
	    top: 2px;
	}
	&-lightning {
		background-image: url(/bbrunner/img/plan-recommender/pr-lightning.png);
		position: relative;
		background-size: cover;
	}
	&-price {
		background-image: url(/bbrunner/img/plan-recommender/pr-dollar.png);
		position: relative;
		background-size: 90%;
		background-position: center;
	}
}

//images
.img-plan {
	width: 57px;
}

//card styling
.divider {
	width: 60px;
	height: 3px;
	display: block;
	background-color: $darkblue;
	margin-top: 30px;
	&:before {
		width: 30px;
		height: 3px;
		background-color: #FFF;
		display: block;
		content: '';
		float: right;
	}
}

//buttons
.btn-lg {
	padding: 12px 16px 13px;
	font-family: $font-semibold;
}
.btn-line {
	-webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    transition: 0.2s ease all;
    color: $medblue;
    background-color: transparent;
    display: block;
    padding: 5px 15px;
    margin: 0 auto;
    margin-bottom: 65px;
    border: solid 1px $medblue;
    border-radius: 15px;
    outline: none;
    text-align: center;
    &:hover {
    	background-color: $medblue;
    	color: #FFF;
    }
}

//Form
.form-group-wrap {
	.form-group {
		width: 49%;
		display: inline-block;
		&--right {
			float: right;
		}
	} 
}
//form inputs
select {
	width: 100%;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	background: transparent url(/bbrunner/img/plan-recommender/down.svg) no-repeat right 10px center !important;
}
.select-speed {
    border-radius: 3px 0 0 3px;
}
//Remove spin down on number inputs
.no-spinners {
  -moz-appearance:textfield;
  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
  	-webkit-appearance: none;
  	margin: 0;
  }
}

//Responsive show/hide
.desktop {
	@media (max-width: 767px) {
		display: none !important;
	}
}
.mobile {
	display: none;
	@media (max-width: 767px) {
		display: block;
	}
}


//others
.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.textwrap {
	white-space: nowrap;
}
.clear {
	clear: both;
}


//***********************************
//  section: landing page
//***********************************



.plan-recommendation {
	padding-bottom: 20px;
	// @media (max-width: 767px) {
	// 	padding: 0 30px 20px 30px;
	// }
}

.content {
	background-image: linear-gradient(-134deg, #E4F5FB 0%, #BCDAF7 100%);
	position: relative;
	min-height: 750px;
	@media (max-width: 767px) {
		min-height: 525px;
	}
}

//HEADER
h1 {
	text-align: center;
	color: $darkblue;
	margin: 40px 0;
	font-size: 31px;
	@media (max-width: 767px) {
		margin: 25px 0 0 0;
		font-size: 24px;
	}
	span.emphasis {
		color: $lightblue;
		font-family: $font-semibold;
	}
}
h2 {
	color: #FFF;
	font-size: 22px;
	margin-top: 0px;
	line-height: 30px;
	@media (max-width: 767px) {
		text-align: center;
		font-size: 18px;
		color: $black;
		line-height: 22px;
		span.emphasis {
			color: $darkblue;
			font-family: $font-semibold;
		}
	}
	span.emphasis {
		font-family: $font;
		font-style: italic;
	}
}
h4 {
	font-size: 18px;
	text-align: center;
	margin-top: 0px;
	@media (max-width: 767px) {
		padding: 10px 0;
	}
	span {
		color: $lightblue;
		font-family: $font-semibold;
	}
}

.form-group {
	@media (max-width: 767px) {
		margin-bottom: 10px;
	}
	label {
		color: $black;
		font-family: $font-semibold;
	}
}

.parsley-errors-list {
	font-size: 11px;
	font-size: 1.1rem;
	color: #EB3A63;
}

.landing-card {
	margin: 0 auto;
	margin-bottom: 100px;
	box-shadow: 0 0 5px 0 rgba(30,126,169,0.30);
	position: relative;
	width: 740px;
	border-radius: 7px;
	@media (max-width: 767px) {
		width: 100%;
		box-shadow: none;
		margin-bottom: 50px;
	}
}

.col {
	position: relative;
	width: 370px;
	height: auto;
	padding: 60px 35px 40px 35px;
	float: left;
	min-height: 508px;
	@media (max-width: 767px) {
		width: 100%;
		float: inherit;
		min-height: auto;
		padding: 20px;
	}
	&-formapply {
		background-color: #FFF;
		border-radius: 0 7px 7px 0;
		@media (max-width: 767px) {
			margin: 0 auto;
			max-width: 425px;
			border-radius: 7px;
			box-shadow: 0 0 5px 0 rgba(30,126,169,0.30);
		}
		@media (max-width: 424px) {
			border-radius: 0px;
		}
		img {
			margin-left: auto;
			margin-right: auto;
			display: block;
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
	&-hero {
		background-image: linear-gradient(-180deg, #81D0EF 0%, #2888C8 100%);
		border-radius: 7px 0px 0px 7px;
		@media (max-width: 767px) {
			background-image: none;
			border-radius: none;
			padding-top: 10px;
		}
		.hero-modem {
			background-image: url(/bbrunner/img/plan-recommender/pr-hero.png);
			background-size: cover;
			display: block;
			width: 339px;
			height: 274px;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
}


//***********************************
//  section: loading page
//***********************************

.loading {
	display: none;
	position: relative;
	width: 100%;
	text-align: center;
	padding: 0 20px;
	&--wrap {
		padding-top: 100px;
		width: 100%;
		max-width: 500px;
		top: 50%;
		position: relative;
		margin: 0 auto;
		p {
			display: block;
			margin-top: 10px;
			color: $darkblue;
			font-size: 18px;
			text-align: center;
			span {
				font-family: $font-semibold;
				color: $lightblue;
			}
		}
	}	
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  div {
	  box-sizing: border-box;
	  display: block;
	  position: absolute;
	  width: 51px;
	  height: 51px;
	  margin: 6px;
	  border: 6px solid #fff;
	  border-radius: 50%;
	  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	  border-color: #fff transparent transparent transparent;
	  &:nth-child(1) {
		  animation-delay: -0.45s;
		}
	&:nth-child(2) {
		  animation-delay: -0.3s;
		}
	&:nth-child(3) {
		  animation-delay: -0.15s;
		}
	}
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//***********************************
//  section: results page - empty results
//***********************************

#results-none {
	display: none;
	padding-top: 70px;
	h2 {
		text-align: center;
		font-size: 30px;
		color: $lightblue;
		font-family: $font-semibold;
	}
	p {
		text-align: center;
		font-size: 18px;
	}
	img {
		display: block;
	    margin: 0 auto;
	    margin-bottom: 15px;
	}
	.mean-time {
		font-family: $font;
		font-size: 15px;
		margin-top: 30px;
		text-align: center;
		display: block;
		position: relative;
    	margin-bottom: 20px;
    	width: 100%;
    	margin: 0 auto;
    	margin-bottom: -20px;
    	@media (min-width: 450px) {
    		width: 400px;
    		margin-bottom: inherit;
    		&:before, &:after {
	    		width: 120px;
			    position: absolute;
			    content: "";
			    height: 1px;
			    background-color: #C9D0D2;
			    top: 50%;
	    	}
	    	&:before {
	    		left: 100%;
	    	}
	    	&:after {
	    		right: 100%;
	    	}
    	}
	}
	.articles-section {
		margin-top: 170px;
		opacity: 0;
		-moz-transition: all 0.4s ease-in-out;
	    -o-transition: all 0.4s ease-in-out;
	    -webkit-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
		&.articles-section--fade-in {
			margin-top: 70px;
			opacity: 1;
		}
	}
	.articles-wrap {
		// width: 80%;
		margin: 0 auto;
		margin-top: 30px;
		margin-bottom: 70px;

		.related {
			box-shadow: 1px 2px 2px rgba(0,0,0,0.17);
		    position: relative;
		    margin-bottom: 20px;
		    min-height: 350px;
		    background-color: #ffffff;
		    &:after {
			    content: "";
			    clear: both;
			    display: table;
			}
		    &-title {
			    position: absolute;
			    color: #ffffff;
			    font-size: 12px;
			    font-size: 1.2rem;
			    text-transform: uppercase;
			    padding: 3px 20px;
			    background: #ED671E;
			    top: 8px;
			    right: 0;
			    font-family: "open_sanssemibold","Helvetica Neue",Arial,sans-serif;
			    height: 24px;
			    &:before {
				    content: "";
				    position: absolute;
				    left: -12px;
				    top: 0;
				    border: 12px solid #ED671E;
				    border-left-color: transparent;
				}
			}
			ul {
				margin: 0;
    			padding-top: 30px;

    			padding-left: 0;
				list-style: none;
			}
			li {
			    padding: 10px 10px 10px 20px;
			    border-top: 1px solid #EEEEEE;
			    text-align: left;
			    float: left;
			    display: table;
			    width: 100%;
			    &:first-child {
			    	border-top: 0;
			    }
			    .img-wrap {
			    	width: 50px;
				    display: table-cell;
				    vertical-align: middle;
			    }
			    img {
			    	width: 50px;
				    height: 50px;
				    border-radius: 2px;
				    border: 1px solid rgba(0,0,0,0.1);
			    }
			    a {
			    	display: table-cell;
				    vertical-align: middle;
				    padding-left: 15px;
			    }
			}
		}
	}
}

//***********************************
//  section: results page
//***********************************

.results {
	display: none;
	h2 {
		color: $darkblue;
		text-align: center;
		font-family: $font-semibold;
		margin-top: 30px;
		span {
			color: $lightblue;
			font-family: $font-bold;
		}
	}
	.selected-labels {
		margin: 0 auto;
		text-align: center;
		margin-bottom: 30px;
		label {
			display: inline-block;
			background-color: $lightblue;
			border-radius: 20px;
			padding: 3px 15px;
			color: #FFF;
			text-align: center;
			font-family: $font;
			margin: 0 3px;
			margin-bottom: 10px;
			min-width: 100px;
			@media (max-width: 767px) {
				font-size: 13px;
			}
		}
	}
	&-cards {
		max-width: 590px;
		width: 100%;
		margin: 0 auto;
		margin-top: 60px;
		margin-bottom: 50px;
		.result-card {
			background-color: #FFF;
			border-radius: 7px;
			float: left;
		    width: 280px;
		    // min-height: 340px;
		    box-shadow: 0 0 5px 0 rgba(30,126,169,0.30);
		    &--price {
		    	float: right;
		    }
		    .circle--blue {
		    	text-align: center;
			    margin: 0px auto;
			    margin-top: -25px;
			    width: 50px;
			    height: 50px;
		    }
		    .product-info--name {
		    	padding: 10px;
		    	text-align: center;
		    	font-family: $font-semibold;
		    	img {
	    			display: inline-block;
	    			width: 70px;
	    			max-height: 40px;
	    		}
	    		.product-name {
	    			width: 155px;
	    			display: inline-block;
	    			margin-top: 5px;
	    			vertical-align: bottom;
	    			line-height: 15px;
	    		}
		    }
		    .product-info-wrap {
		    	border-top: 1px solid #EEEEEE;
		    	text-align: center;
		    	color: $darkblue;
		    	
	    		.product-info {
	    			padding: 15px;
			    	&--speed, &--price, &--quota {
			    		font-family: $font-bold;
			    	}
			    	&--price, &--speed {
			    		width: 50%;
					    float: left;
					    border-right: 1px solid #EEE;
			    	}
			    	&--quota {
			    		width: 50%;
			    		float: right;
			    	}
	    		}
	    		
		    	.product-info {
		    		padding: 10px;
		    	}
		    }
		}
		h3 {
			text-align: center;
			color: $darkblue;
			font-size: 18px;
			span {
				color: $lightblue;
				font-family: $font-semibold;
			}
		}
		.btn-apply {
			width: 100%;
		    display: block;
		    text-align: center;
		    padding: 14px;
		    border-radius: 0 0 7px 7px;
		    font-size: larger;
		    font-family: $font-semibold;
			background-image: linear-gradient(-180deg, #46BE4F 0%, #339D3B 100%);
			box-shadow: 0 3px 0 0 #277E2E;
		    &:hover {
		    	text-decoration: none;
		    	opacity: 0.9;
		    }
		}	
	}
	.featured-wrap {
		display: block;
		margin: 0 auto;
		width: 130px;
		height: 130px;
		border: 1px solid #ECEFF2;
		border-radius: 50%;
		text-align: center;
		color: $darkblue;
		margin-top: 20px;
		.featured {
			display: block;
			margin: 0 auto;
			width: 120px;
			height: 120px;
			border: 2px solid #ECEFF2;
			border-radius: 50%;
			margin-top: 4px;
			&--speed {
				.line {
					&--middle {
						font-size: 42px;
						margin-top: 23px;
						font-family: $font-bold;
					}
					&--bottom {
						font-size: 14px;
						margin-top: -4px;
						font-family: $font-bold;
					}
				}
			}
			&--price {
				.line {
					&--top {
						font-size: 18px;
						margin-top: 13px;
						font-family: $font-bold;
					}
					&--middle {
						font-size: 33px;
						font-family: $font-bold;
						margin-top: -4px;
						span {
							font-size: 20px;
						}
					}
					&--bottom {
						font-size: 14px;
						font-weight: $font !important;
						color: #696969 !important;
						margin-top: -2px;
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.featured-product-wrap {
		padding: 0 20px;
	}
	.featured {
		&-wrap {
			width: 50% !important;
			float: left;
			width: 100px !important;
			height: 100px !important;
			.featured {
				width: 90px !important;
				height: 90px !important;
			}
		}
	}
	.product-info {
		&--name {
			padding: 0px !important;
			margin-top: 20px;
			width: 50%;
			float: right;
			.product-name {
				width: 100% !important;
			}
		}
		&-wrap {
			margin-top: 10px;
		}
	}
	.results .featured-wrap {
		margin-top: 10px;
		.featured--speed {
			.line--middle {
			    font-size: 33px;
			    margin-top: 14px;
			}
			.line--bottom {
				margin-top: -8px;
			}
		}
		.featured--price {
			.line--middle, .line--middle span {
				font-size: 22px;
			}
			.line--middle {
				margin-top: -6px;
			}
			.line--top {
				margin-top: 8px;
			}
			.line--bottom {
				margin-top: -5px;
			}
		}
	}
}

@media (max-width: 634px) {
	.results-cards .result-card, .results-cards .result-card--price {
		float: inherit;
	}
	.results-cards .result-card {
		margin: 0 auto;
		margin-top: 70px;
		margin-bottom: 50px;
		.circle--blue {
			position: relative;
    		top: -23px;
		}
		.card-body {
			margin-top: -25px;
		}
	}
}


//BEST PLAN
.plan-best {
	display: none;
	min-height: 318px;
	text-align: center;
    padding: 0 20px;
    @media (max-width: 767px) {
		min-height: 244px;
	}
	@media (max-width: 634px) {
		min-height: auto;
		padding: 0 20px 30px 20px;
	}
}

//REGULAR PLAN
.plan-display {
	display: block;
}

//***********************************
//  section: FAQ
//***********************************

.faq {
	width: 100%;
	background-color: #FFF;
	padding: 40px 0;
	h4 {
		color: $darkblue;
		font-size: 20px;
		text-align: center;
		margin-bottom: 35px;
		line-height: 27px;
	}
	h5 {
		text-align: left;
		font-size: 19px;
		font-family: $font-semibold;
	}
	h6 {
		font-size: 18px;
		font-family: $font;
		color: $lightblue;
		margin-top: 30px;
	}
	p {
		color: #8B8B8B;
		line-height: 24px;
		margin-bottom: 15px;
	}
}


//***********************************
//  section: MODAL
//***********************************

#apply-modal {
	//new close style
	.close-wrap {
		text-align: right;
		padding-top:7px;
		padding-bottom: 10px;
	}

	.close-btn {
		color:#99B6CB;
		position: relative;
		-webkit-backface-visibility: hidden;
		@include font-size(1.6);

		&:hover {
			text-decoration: none;

			i {
				@include transform(rotate(90deg));
			}
		}

		i {
			background: url(#{$v4imgurl}sprites/icon-topnav.svg);
			display: inline-block;
			width: 12px;
			height: 12px;
			background-position: -104px 0;
			position: relative;
			top: 0;
			margin-right: 5px;
			-webkit-transition: all .25s cubic-bezier(0.455, 0.030, 0.515, 0.955);
 			-moz-transition: all .25s cubic-bezier(0.455, 0.030, 0.515, 0.955);
   		-o-transition: all .25s cubic-bezier(0.455, 0.030, 0.515, 0.955);
      transition: all .25s cubic-bezier(0.455, 0.030, 0.515, 0.955); /* easeInOutQuad */
		}
	}

	.desc{
		@include font-size(1.6);
		color:#828A90;
		margin-bottom: 20px;
	}

	.modal-backdrop {
		background-color:#000000;

		&.in {
			opacity: 0.8;
		}
	}
	.modal-dialog {
		margin-top: 100px;
		@media (max-width: 768px) {
			margin-top: 10px;
		}
	}
	.modal-content {
		border:0;
		border-radius: 0;
		box-shadow: 0 10px 20px 6px rgba(0,0,0,0.3);
	}
	.modal-title {
		@include font-size(2.4);

		@media (max-width: 768px) {
			@include font-size(2);
		}
	}
	.modal-body {
		padding: 30px;

		> row div[class^=".col-sm-"] {
			padding-bottom: 10px;
		}

		p {
			color: $color-lighter;
		}
		.applying-name {
			border-bottom: solid 1px #eee;
			margin-bottom: 10px;
			@media (max-width: 768px) {
				text-align: center;
			}
		}
		.applying-img {
			margin-bottom: 10px;
			img {
				max-width: 90%;
				height: 30px;
			}
			@media (max-width: 768px) {
				text-align: center;
			}
		}
		.applying-price {
			padding-bottom: 10px;
			@media (max-width: 768px) {
				margin-bottom: 15px;
				border-bottom: solid 1px #eee;
			}
		}
		input[type="text"],
		input[type="tel"],
		select,
		input[type="email"] {
			width: 280px;
			margin-top: 10px;
			position: relative;

			@media (max-width: 480px) {
				width: 100%;
			}
		}
		.icn_name::-webkit-input-placeholder,
		.icn_email::-webkit-input-placeholder,
		.icn_tel::-webkit-input-placeholder { color: #ddd; }
		.icn_name:-moz-placeholder,
		.icn_email:-moz-placeholder,
		.icn_tel:-moz-placeholder { color: #eee; }
		.icn_name::-moz-placeholder,
		.icn_email::-moz-placeholder,
		.icn_tel::-moz-placeholder { color: #eee; }
		.icn_name:-ms-input-placeholder,
		.icn_email:-ms-input-placeholder,
		.icn_tel:-ms-input-placeholder { color: #eee; }

		.icn_name, .icn_email, .icn_tel, .icn_addr {
			background: url(../img/icn_form.png) no-repeat;
			background-size: 24px auto;
			padding-left: 40px;
		}
		.icn_name {
			background-position: 7px 4px;
		}
		.icn_email {
			background-position: 7px -46px;
		}
		.icn_tel {
			background-position: 7px -94px;
		}
		.icn_addr {
			background-position: -99999px -99999px;
		}

		.color-red {
			color: #EB3A63;
		}

		.parsley-error.form-control {
			border-color: #EB3A63;
		}
		.font-xs label {
			font-family: open_sansregular,"Helvetica Neue",Arial,sans-serif;
			font-weight: 400;
			font-size: 1.2rem;
		}
	}
	.modal-footer {
		padding:20px;
		text-align: center;
		background:#f8f8f8;
	}
}