@import "../../bower_components/imoney-assets/dev/scss/_inc/_var";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_mixin";
@import "../../bower_components/imoney-assets/bower_components/bourbon/app/assets/stylesheets/bourbon";

$ss-color : #B0D5E9;
$green-button : #44B74D;

$imgurl: "/bbrunner/img/";
$v4imgurl: "/v4/img/";

@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/_bootstrap-non-critical";
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/component-animations";
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/modals";
@import "../../bower_components/imoney-assets/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/tooltip";

@import "../../bower_components/imoney-assets/dev/scss/_inc/_popup-prefertotalk";
@import "../../bower_components/imoney-assets/dev/scss/_inc/_button";

html, body {
	background-color: $ss-color;
}

.bb-smartsearch-header {
	padding:10px 0;
	background-color: #ffffff;
	position: relative;

	.smartsearch-logo {
		margin: 0 auto;
		color:#2F7FBA;
		@include font-size(2.0);
		padding-left: 45px;
		background:url(#{$imgurl}bb-ss-icon@2x.png) no-repeat 0 0;
		background-size: 39px auto;
	}

	a.seeAllCards {
		line-height: 2;
	}
}

.imoney-logo {
	background:url(#{$v4imgurl}my/imoney-malaysia-logo.svg) no-repeat;
	display: inline-block;
	width: 112px;
	height:29px;
	text-indent: -1000em;
	background-size: 100px auto;


	.imoney-ph & {
		background-image: url(#{$v4imgurl}ph/imoney-logo.svg);
		width: 112px;
		height: 29px;
		background-size: 100px auto;
	}

	.imoney-id & {
		background-image: url(#{$v4imgurl}id/aturduit-logo.svg);
		width: 120px;
		height: 30px;
		background-size: 115px auto;
	}

	.imoney-sg & {
		background-image: url(#{$v4imgurl}sg/imoney-singapore-logo.svg);
		height:36px;
		background-size:90px auto;
	}
}

.no-svg {

	.imoney-logo {
		background:url(#{$v4imgurl}my/imoney-malaysia-logo.png) no-repeat;
	}
}

.ss-header {
	padding-top:20px;
	// padding-bottom:30px;

	h1 {
		@include font-size(2.8);
		margin-top: 10px;
		margin-bottom: 15px;
		color:#1F4D6E;
		font-family: $font-semibold;
	}
}

.ss-container {
	width: 710px;
	margin: 0 auto;
	position: relative;
}

.smartsearch {
	opacity: 0;
	width: 600px;
	float: left;
	background-color: white;
	color: #859297;
	padding: 0;
	-webkit-box-shadow: 3px 4px 0 0 rgba(0,0,0,0.15);
	box-shadow: 3px 4px 0 0 rgba(0,0,0,0.15);
	h1 {
		font-size: 20px;
		color: #323232;
		padding: 30px;
		margin: 0px;
		position: relative;
		border-bottom: solid 1px #ddd;
	}
	.smartsearch-content {
		padding: 30px;
		&.capture {
			background: url(#{$imgurl}img_girl.jpg) no-repeat bottom right;
			background-size: 200px auto;
			div[class^="col-"] {
				padding: 0px;
			}
			p {
				margin-bottom: 25px;
			}
			button {
				margin-top: 10px;
				margin-bottom: 24px;
			}
			p.secure {
				font-family: $font-semibold;
				font-size: 12px;
				color: #E15C31;
				background: url(#{$v4imgurl}form/icon-lock.png) no-repeat center left;
				background-size: 12px auto;
				padding-left: 20px;
				margin-bottom: 0;
			}
			.font-xs {
				max-width: 375px;
				@media (max-width: 768px) {
					width: 100%;
				}
				label {
					font-family: open_sansregular,"Helvetica Neue",Arial,sans-serif;
					font-weight: 400;
					font-size: 1.2rem;
					@media (max-width: 599px) {
						padding-left: 0px;
					}
				}
				#parsley-id-multiple-allow_checked {
					margin: inherit;
				}
				input[type="checkbox"] {
					position: inherit;
					width: inherit;
					margin-left: -15px;
					
				}

			}
		}
	}
	.slideNumber {
		width: 35px;
		height: 35px;
		display: inline-block;
		text-align: center;
		vertical-align: middle;
		padding-top: 4px;
		margin-right: 5px;
		border: solid 2px #DCE5E8;
		color: #6E8F98;
		border-radius: 50%;
	}
	&.slick-slider {
		margin-bottom: 0px;
	}
}

.smartsearch-indicator {
	width: 110px;
	float: left;
	background-color: #33709C;
	margin-top: 10px;
	padding: 0px;
	padding-bottom: 20px;
	opacity: 0;
	ul.slick-slider {
		position: static;
		list-style: none;
		margin: 0px;
		padding: 0px;
		li.slick-slide {
			display: table-cell;
			position: relative;
			width: 100px !important;
			height: 80px;
			margin: 0 5px;
			padding: 20px 23px;
		}
	}
	.icn_start, .icn_modem, .icn_meter, .icn_user, .icn_location {
		width: 55px;
		height: 50px;
		display: block;
		position: relative;
		// cursor: pointer;
		background: url(#{$imgurl}icn_indicator.png) no-repeat;
		background-size: 166px auto;
	}
	.icn_start {
		background-position: 0px 15px;
		&.icn_highlight {
			background-position: -109px 15px;
		}
	}
	.icn_modem {
		background-position: 5px -60px;
		&.icn_highlight {
			background-position: -109px -60px;
		}
	}
	.icn_meter {
		background-position: 5px -150px;
		&.icn_highlight {
			background-position: -108px -150px;
		}
	}
	.icn_user {
		background-position: 5px -250px;
		&.icn_highlight {
			background-position: -110px -250px;
		}
	}
	.icn_location {
		background-position: 5px -360px;
		&.icn_highlight {
			background-position: -110px -360px;
		}
	}
	.icn_start:after, .icn_modem:after, .icn_meter:after, .icn_user:after {
			content: "";
			display: block;
			position: absolute;
			width: 7px;
			height: 34px;
			background: url(#{$imgurl}icn_indicator_arrow.png) no-repeat;
			background-size: 6px auto;
			top: 53px;
			left: 25px;
		}
	.icn_highlight {
		-webkit-animation-name: fadingIn;
		-webkit-animation-duration: 0.3s;
		-webkit-animation-timing-function: linear;
	}
	@-webkit-keyframes fadingIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	.icn_highlight_done {
		&:before {
			content: "";
			display: block;
			position: absolute;
			width: 20px;
			height: 16px;
			background: url(#{$imgurl}tick_white.png) no-repeat;
			background-size: 20px auto;
			top: 43px;
			left: 40px;
		}
	}
}

.smartsearch-footer {
	@include font-size(1.3);
	color: #4788B6;
	padding: 30px 20px 20px 20px;
	strong {
		color: #3E789B;
	}
	.btn-line {
		@include transition(.2s ease all);
		background-color: transparent;
		padding: 5px 15px;
		margin-bottom: 10px;
		border: solid 1px #3F80AE;
		border-radius: 15px;
		outline: none;
		&:hover {
			background-color: #3F80AE;
			color: #fff;
		}
	}
}

.ss-progressbar {
	background-color: #3E73B6;
	height: 6px;
	@include transition(width 800ms ease-out);
}

.btns-homeoffice, .btns-radio {
	list-style-position: inside;
	overflow: hidden;
}

.btns-homeoffice li, .btns-radio li {
	width: 100px;
	height: 110px;
	float: left;
	display: inline-block;
	position: relative;
	margin-right: 50px;
	margin-bottom: 10px;
	padding: 0;
	label, input {
		display:block;
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
	}
	input[type="checkbox"],
	input[type="radio"] {
		opacity:0.011;
		z-index:100;
	}
	input[type="checkbox"]:checked + label,
	input[type="radio"]:checked + label {
		background-color: #FC8F51;
		border: solid 1px #FC8F51;
		p {
			color: #323232;
		}
	}
	input[type="checkbox"][disabled] + label:hover {
		background-color: #E8EAEB;
	}
	label {
		text-align: center;
		cursor:pointer;
		z-index:90;
		padding-top: 75px;
		background-color: #E8EAEB;
		position: relative;
		font-size: 14px;
		font-size: 1.4rem;
		font-family: $font;
		font-weight: normal;
		border: solid 1px #E8EAEB;
		border-radius: 3px;
		@include transition(all 200ms linear);
		&:hover {
			background-color: #D7DDE0;
		}
		p {
			border-radius: 0 0 3px 3px;
			background-color: #fff;
			padding: 5px 0;
			margin-bottom: 0px;
		}
	}
}
.btns-homeoffice {
	width: 250px;
	margin: 0 auto;
	padding-left: 0px;
	li:last-child {
		margin-right: 0px;
	}
}
.icn_home:before, .icn_office:before {
	width: 33px;
	height: 33px;
	content: "";
	display: block;
	position: absolute;
	top: 25px;
	left: 35px;
	background: url(#{$imgurl}icn_homeoffice.png) no-repeat;
	background-size: 66px auto;
}
	.icn_home:before { background-position: 0px 0px; }
	.icn_office:before { background-position: 0px -33px; }

	input[type="radio"]:checked + label.icn_home:before {
		background-position: -33px 0px; }
	input[type="radio"]:checked + label.icn_office:before {
		background-position: -33px -33px; }

	.icn_home:after,
	.icn_office:after,
	.btns-radio label:before {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: #fff;
		content: "";
		display: block;
		position: absolute;
		top: 3px;
		right: 3px;
	}
	input[type="checkbox"]:checked + label:after,
	input[type="radio"]:checked + label:after,
	.btns-radio input[type="radio"]:checked + label:before {
		background: #fff url(#{$imgurl}tick_orange.png) no-repeat 5px 5px;
		background-size: 10px auto; }

.btns-radio li {
	width: auto;
	min-width: 100px;
	height: 40px;
	margin-right: 1px;
	&:first-child label {
		border-radius: 3px 0 0 3px;
	}
	&:last-child label {
		border-radius: 0 3px 3px 0;
	}
	label {
		text-align: left;
		border-radius: 0px;
		padding: 10px 10px 10px 40px;
		&:before {
			right: auto;
			top: 10px;
			left: 10px;
		}
	}
	input[type="radio"]:checked + label {
		color: #fff;
	}
}

.btns-radio.purpose li {
	float: none;
	display: block;
	width: 310px;
	height: auto;
	label {
		border-radius: 3px;
	}
	&:first-child label {
		border-radius: 3px;
	}
	&:last-child label {
		border-radius: 3px;
	}
}

.btns-radio.staticIP {
	width: 202px;
	margin: 0 auto;
	padding-left: 0;
}

.btns-radio.habit {
	padding-left: 10px;
	li {
		width: 130px;
		height: 290px;
		margin-right: 1px;
		label {
			color: #fff;

			.imoney-id & { min-height: 62px; }
		}
		&:nth-of-type(1) label {
			background-color: #FCC751;
			border-color: #FCC751;
		}
		&:nth-of-type(2) label {
			background-color: #FCAC51;
			border-color: #FCAC51;
		}
		&:nth-of-type(3) label {
			background-color: #FC8E51;
			border-color: #FC8E51;
		}
		&:nth-of-type(4) label {
			background-color: #FC6851;
			border-color: #FC6851;
		}
		input[type="radio"]:checked + label {
			background-color: desaturate(darken(#FC6851, 18), 24);
			border-color: desaturate(darken(#FC6851, 18), 24);
			color: #fff;
		}
		input[type="radio"]:checked + label span {
			color: #fff;
		}
	}
	ul.icns_usage {
		font-size: 12px;
		font-size: 1.2rem;
		border-top: solid 1px #ddd;
		margin: 20px 5px 10px 5px;
		padding-top: 10px;
		padding-left: 0px;
		li {
			float: none;
			display: block;
			height: 20px;
			color: #859297;
			background: url(#{$imgurl}icn_usage.png) no-repeat;
			background-size: 20px auto;
			padding-left: 28px;
			margin: 3px 0;
			list-style: none;
			&.icn_none { background: none; padding-left: 0; }
			&.icn_browse { background-position: 0px 0px; }
			&.icn_email { background-position: 0px -20px; }
			&.icn_facebook { background-position: 0px -40px; }
			&.icn_twitter { background-position: 0px -60px; }
			&.icn_spotify { background-position: 0px -80px; }
			&.icn_skype { background-position: 0px -100px; }
			&.icn_youtube { background-position: 0px -120px; }
			&.icn_download { background-position: 0px -140px; }
			&.icn_filetrnx { background-position: 0px -160px; }
			&.icn_videoconf { background-position: 0px -180px; }
			&.icn_gaming { background-position: 0px -200px; }
		}
		strong {
			color: #545454;
		}
	}
}

.btns-radio.userNum {
	width: 260px;
	margin: 0 auto;
	padding-left: 0;
	li {
		float: none;
		display: block;
		width: 260px;
	}
	label {
		border-radius: 3px;
	}
	&:first-child label {
		border-radius: 3px;
	}
	&:last-child label {
		border-radius: 3px;
	}
}

.location {
	width: 580px;
	margin: 0 auto;
	display: table;
	.btns-radio {
		list-style-position: inside;
		overflow: hidden;
		padding-left: 0px;
		margin-bottom: 0px;
		li {
			float: left;
			display: inline-block;
			margin-right: 10px;
			label {
			border-radius: 3px;
			width: 165px;
			}
			&:first-child label, &:last-child label {
				border-radius: 3px;
			}
			&:last-child {
				margin-right:0px;
			}
		}
		.imoney-id & {
			float: left;
			display: inline-block;
			li {
				float: none; display: block;
				label { width: 163px; }
			}
		}
	}
}

input[type="text"],
input[type="tel"],
input[type="email"] {
	width: 280px;
	border: solid 1px #bbbbbb;
	box-shadow: none;
	margin-top: 10px;
	position: relative;
}
.icn_name::-webkit-input-placeholder,
.icn_email::-webkit-input-placeholder,
.icn_tel::-webkit-input-placeholder,
.icn_addr::-webkit-input-placeholder { color: #ddd; }
.icn_name:-moz-placeholder,
.icn_email:-moz-placeholder,
.icn_tel:-moz-placeholder,
.icn_addr:-moz-placeholder { color: #eee; }
.icn_name::-moz-placeholder,
.icn_email::-moz-placeholder,
.icn_tel::-moz-placeholder,
.icn_addr::-moz-placeholder { color: #eee; }
.icn_name:-ms-input-placeholder,
.icn_email:-ms-input-placeholder,
.icn_tel:-ms-input-placeholder,
.icn_addr:-ms-input-placeholder { color: #eee; }

.icn_name, .icn_email, .icn_tel, .icn_addr {
	background: url(../img/icn_form.png) no-repeat;
	background-size: 24px auto;
	padding-left: 40px;
}
.icn_name {
	background-position: 7px 4px;
}
.icn_email {
	background-position: 7px -46px;
}
.icn_tel {
	background-position: 7px -94px;
}
.icn_addr {
	background-position: -99999px -99999px;
}

.color-red {
	color: #EB3A63;
}

.parsley-error.form-control {
	border-color: #EB3A63;
}

.btn-show, .btn-callback {
	background: $green-button;
	box-shadow: inset 0 -2px 0 rgba(0,0,0,0.3);
	font-size: 15px;
	font-size: 1.5rem;
	font-family: $font-semibold;
	color: #fff;
	@include transition(background .1s ease-in);
	&:hover, &:focus, &:active {
		background: darken($green-button, 5);
		color: #fff;
		outline: 0;
	}
	&[disabled] {
		background: #ccc;
	}
}

a.tooltip {
	outline: none;
	opacity: 1;
	display: inline-block;
	position: absolute;
	top: 35px;
	right: 20px;
	strong {
		line-height: 30px;
	}
	&:hover {
		text-decoration: none;
	}
	span {
		z-index: 10;
		display: none;
		padding: 12px 15px;
		margin-top: 10px;
		width: 232px;
		right: 0px;
	}
	&:hover span {
		display: inline;
		position: absolute;
		z-index: 1000;
		border: 1px solid #ddd;
		border-radius: 6px;
		background-color: #fff;
		color: #859297;
	}
}

.hiddenQuestion {
	p {
		position: relative;
	}
	a.tooltip {
		top: auto;
		right: auto;
		margin-left: 15px;
	}
}


//***********************************
//  responsive css
//***********************************

@media (max-width : 768px) {
	html, body {
		background-color: #ffffff;
	}

	p {
		text-align: center;
	}

	.bb-smartsearch-header {
		background-color:#56BCF1;
		color:#ffffff;

		.smartsearch-logo {
			color:#ffffff;
			background-image: url(#{$imgurl}bb-ss-icon-white@2x.png);
			background-size: 35px auto;
			padding-left:40px;
			@include font-size(1.6);
			line-height: 1.6;
		}

		a {
			color:#ffffff;
		}
	}

	.ss-container, .smartsearch {
		width: 100%;
		box-shadow: none;
	}

	.ss-header, .smartsearch-indicator, .tooltip {
		display: none;
		position: absolute !important;
		top: -9999px !important;
		left: -9999px !important;
	}

	.smartsearch {
		h1 {
			text-align: center;
		}
		.smartsearch-content.capture p {
			text-align: left;
		}
		.slideNumber {
			display: block;
			margin: 0 auto;
			margin-bottom: 15px;
		}
	}

	.smartsearch-footer {
		width: 100%;
		background-color: $ss-color;
	}

	.btns-radio {
		width: 250px;
		padding-left: 0px;
		margin: 0 auto;

		li {
			float: none;
			display: block;
			min-width: 250px;

			&:first-child label, &:last-child label {
				border-radius: 3px;
			}
		}
		&.purpose {
			width: 310px;
		}
		&.staticIP {
			width: 250px;
		}
		&.habit {
			width: 100%;
			padding-left: 0px;
			li {
				width: 100%;
				height: auto;
				label {
					border-radius: 3px;
					font-family: $font-semibold;
					.imoney-id & { min-height: auto; }
				}
			}
			ul.icns_usage {
				display: none;
			}
			span {
				background-color: transparent;
				position: absolute;
				padding: 0;
				top: 10px;
				right: 10px;
				font-family: $font;
			}
		}
		&.location label {
			width: 165px;
		}
	}
	.location .btns-radio {
		width: auto;
		li {
			width: 165px;
			min-width: auto;
		}
	}
}

@media (min-width : 600px) and (max-width : 768px) {
	.smartsearch-content {
		padding: 30px 100px;
		&.capture {
			padding: 30px 60px;
			p {
				text-align: left;
			}
		}
	}

	.btns-rewards {
		width: 450px;
	}
}

@media (max-width : 599px) {
	.smartsearch {
		.smartsearch-content {
			&.capture {
				background: #fff;
				.container-fluid {
					padding: 0px;
				}
				div[class^="col-"]{
					width: 100%;
				}
				input {
					width: 250px;
					margin: 10px auto 0;

				}
				button {
					display: block;
					margin: 15px auto;
				}
				.filled {
					width: 250px;
					margin: 0 auto;
				}
			}
		}
	}

	.location {
		width: 100%;
		.btns-radio li {
			width: 250px;
			float: none;
			display: block;
			margin: 0 auto 10px;
			&:last-child {
				margin-right: auto;
			}
			label {
				width: auto;
			}
		}
	}

	.btns-homeoffice {
		width: 220px;
		li {
			margin-right: 20px;
		}
	}

	.btns-radio.habit li {
		width: 100%;
		height: auto;
		span {
			position: static;
			text-align: left;
			font-family: $font;
		}
	}
}

@media (max-width : 370px) {
	.btns-radio {
		&.purpose {
			width: 250px;
			li {
				width: 250px;
				height: auto;
			}
		}
	}
}

.font-xs {
	label {
		font-family: open_sansregular,"Helvetica Neue",Arial,sans-serif;
		font-weight: 400;
		font-size: 1.2rem;
		@media (max-width: 599px) {
			padding-left: 0px;
		}
	}
	input[type="checkbox"] {
		position: inherit;
		width: inherit;
		margin-left: -15px;
		height: inherit;
		
	}

}

@import "./_p1-trust-elems";