<div class="container creditscore">
    <div class="creditscore__body--header">
      CreditScore yang kukuh meningkatkan kemungkinan permohonan anda diluluskan.
    </div>
    <div class="row creditscore__body is-multiline">
      
      <div class="creditscore__body--content col-md-6 col-sm-12 has-text-centered-touch">
        <p>
          <span class="hidden-sm hidden-xs">CreditScore anda mempengaruhi kebarangkalian permohonan produk kredit anda diluluskan.</span>
          Temui CreditScore anda dengan kami dan ketahui prestasi kewangan anda di mata pihak bank, dan juga bandingkan skor anda dengan orang ramai.
      </div>
      <div class="creditscore__body--keypoints col-md-6 col-sm-12">
        <div class="row">
          <div class="col-md-3 col-sm-12">
            <i class="icn-001"></i>
          </div>
          <div class="col-md-9 col-sm-12 creditscore__body--keypoints__point has-text-centered-mobile">
            <p>
              <span>Penarafan yang mudah difahami </span>
              mengenai keutuhan kredit anda
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-12">
            <i class="icn-002"></i>
          </div>
          <div class="col-md-9 col-sm-12 creditscore__body--keypoints__point has-text-centered-mobile">
            <p>
              <span>Kebarangkalian permohanan anda diluluskan </span>
              untuk pinjaman, pembiayaan, kad kredit, atau produk kredit lain 
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-12">
            <i class="icn-003"></i>
          </div>
          <div class="col-md-9 col-sm-12 creditscore__body--keypoints__point has-text-centered-mobile">
            <p>
              <span>Nasihat</span>
              mengenai tindakan yang anda boleh lakukan untuk meningkatkan CreditScore anda
            </p>
          </div>
        </div>
        </div>
      </div>
      <div class="creditscore__cta col-md-12">
        <a href="https://www.imoney.my/ms/credit-score/?utm_source=thankyoupage&utm_medium=thankyoureferral&utm_campaign=thankyoupage&src=thankyou" class="creditscore-cta btn btn-lg btn-complement btn-complement--gradient" target="_blank">
          <div class="cresitscore-search d-flex">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="20px" height="20px" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20"><path d="M17.545 15.467l-3.779-3.779a6.15 6.15 0 0 0 .898-3.21c0-3.417-2.961-6.377-6.378-6.377A6.185 6.185 0 0 0 2.1 8.287c0 3.416 2.961 6.377 6.377 6.377a6.15 6.15 0 0 0 3.115-.844l3.799 3.801a.953.953 0 0 0 1.346 0l.943-.943c.371-.371.236-.84-.135-1.211zM4.004 8.287a4.282 4.282 0 0 1 4.282-4.283c2.366 0 4.474 2.107 4.474 4.474a4.284 4.284 0 0 1-4.283 4.283c-2.366-.001-4.473-2.109-4.473-4.474z" fill="#FFF"></path></svg>
              Ketahui CreditScore saya
          </div>
        </a>
      </div>
    </div>
  </div>