{% set currentTemplate = 'cd-filter.html' %}
<form>
    <div class="cd-filter-block">
        <h4>{{ 'LOCATION' | translate(currentTemplate) }}</h4>

        <div class="cd-filter-content" data-imu-track="select" data-subject= "User" data-action = "Click" data-description = "Location" data-region="Listing Filter" data-vertical="Broadband">
            <div class="cd-select cd-filters filter-location">
                <select class="imoney-filter" data-mixtype="state" name="selectLocation" id="selectLocation">
                    <option value="">Choose an option</option>
                    <option data-value="Metro Manila" value="metromanila">Metro Manila</option>
                    <option data-value="Davao" value="davao">Davao</option>
                    <option data-value="Cebu" value="cebu">Cebu</option>
                    <option data-value="Others" value="others">Others</option>
                </select>
            </div> <!-- cd-select -->
        </div> <!-- cd-filter-content -->
    </div> <!-- cd-filter-block -->

    <div class="cd-filter-block" data-imu-track="input[type=checkbox]" data-subject= "User" data-action = "Click" data-description = "Usage" data-region="Listing Filter" data-vertical="Broadband">
        <h4>{{ 'INTERNET USAGE' | translate(currentTemplate) }}</h4>

        <ul class="cd-filter-content cd-filters list filter-usage">
            <li>
                <input class="imoney-filter" data-mixtype="usage" data-mix="light" type="checkbox" id="light" data-value = "Light">
                <label class="checkbox-label" for="light">{{ 'Light' | translate(currentTemplate) }}</label>
            </li>

            <li>
                <input class="imoney-filter" data-mixtype="usage" data-mix="moderate" type="checkbox" id="moderate"  data-value = "Moderate">
                <label class="checkbox-label" for="moderate">{{ 'Moderate' | translate(currentTemplate) }}</label>
            </li>

            <li>
                <input class="imoney-filter" data-mixtype="usage" data-mix="heavy" type="checkbox" id="heavy"  data-value = "Heavy">
                <label class="checkbox-label" for="heavy">{{ 'Heavy' | translate(currentTemplate) }}</label>
            </li>

            <li>
                <input class="imoney-filter" data-mixtype="usage" data-mix="extreme" type="checkbox" id="extreme"  data-value = "Extreme">
                <label class="checkbox-label" for="extreme">{{ 'Extreme' | translate(currentTemplate) }}</label>
            </li>
        </ul> <!-- cd-filter-content -->
    </div> <!-- cd-filter-block -->

    <div class="cd-filter-block" data-imu-track="input[type=radio]" data-subject= "User" data-action = "Click" data-description = "Provider" data-region="Listing Filter" data-vertical="Broadband">
        <h4>{{ 'PROVIDER' | translate(currentTemplate) }}</h4>

        <ul class="cd-filter-content cd-filters list filter-provider">
            <li>
                <input class="imoney-filter" data-mixtype="state" data-mix="" type="radio" name="provider" id="provider" checked data-value = "All">
                <label class="radio-label" for="provider">{{ 'All' | translate(currentTemplate) }}</label>
            </li>
            <li>
                <input class="imoney-filter" data-mixtype="state" data-mix="convergeict" type="radio" name="provider" id="convergeict" data-value = "ConvergeICT">
                <label class="radio-label" for="convergeict">ConvergeICT</label>
            </li>
            <li>
                <input class="imoney-filter" data-mixtype="state" data-mix="rise" type="radio" name="provider" id="rise" data-value = "Rise">
                <label class="radio-label" for="rise">Rise</label>
            </li>
            <li>
                <input class="imoney-filter" data-mixtype="state" data-mix="infinivan" type="radio" name="provider" id="infinivan" data-value = "InfiniVAN">
                <label class="radio-label" for="infinivan">InfiniVAN</label>
            </li>
            <li>
                <input class="imoney-filter" data-mixtype="state" data-mix="globe" type="radio" name="provider" id="globe" data-value = "Globe">
                <label class="radio-label" for="globe">Globe</label>
            </li>

            <li>
                <input class="imoney-filter" data-mixtype="state" data-mix="pldt" type="radio" name="provider" id="pldt" data-value = "PLDT">
                <label class="radio-label" for="pldt">PLDT</label>
            </li>

            <li>
                <input class="imoney-filter" data-mixtype="state" data-mix="sky" type="radio" name="provider" id="sky" data-value = "Sky">
                <label class="radio-label" for="sky">One Sky</label>
            </li>
        </ul> <!-- cd-filter-content -->
    </div> <!-- cd-filter-block -->
</form>