{% set currentTemplate = 'cta__bottom_options.html' %}
<div class="cta__bottom__options">
    <ul>
        <li>
            <i class="icon-callme"></i>
            <a data-action="Call" data-description = "Link" data-value ="tel:6326255727" href="tel:6326255727">Call: +632 6255727</a>
        </li>
    </ul>
</div>