{% set currentTemplate = 'prefertotalk-popup.html' %}
{#
<div class="modal fade PreferToTalk" tabindex="-1" role="dialog" aria-labelledby="Prefer to talk" aria-hidden="true" data-imu-track="input, button, a" data-subject="User" data-region="SmartSearch Prefer To Talk? Popup" data-vertical="Credit Card">
	<div class="modal-dialog">
		<div class="close-wrap animated fadeInDown">
			<a href="#" class="close-btn" data-dismiss="modal" data-action = "Click" data-description = "Button" data-value="Close"><i></i>{{ 'Close' | translate(currentTemplate) }}</a>
		</div>
		<div class="modal-content">
			<div class="wrapper" >
				<h1>{{ 'Let our experts help you!' | translate(currentTemplate) }}</h1>
				<p>{{ 'Just give us your name, email and phone number and one of our experts will call you soon.' | translate(currentTemplate) }}</p>
				<form action="#" id="prefer-to-talk-form">
					<div class="form-group">
						<input data-description = "Your Name" data-value="$('#name').val()" data-action="Input"  class="form-control icn_name" type="text" id="name" name="name" placeholder="{{ 'Your Name' | translate(currentTemplate) }}" data-parsley-trigger="change" data-parsley-required-message="{{ 'Please enter your name' | translate(currentTemplate) }}" required data-parsley-group="block1"  data-parsley-pattern="/^[a-zA-z\s]*$/" data-parsley-pattern-message="{{ 'Your name should only consist of letters' | translate(currentTemplate) }}" data-parsley-minlength="3" data-parsley-minlength-message="{{ 'Please enter your name (Min. 3 digits)' | translate(currentTemplate) }}"/>
					</div>
					<div class="form-group">
						<input data-description = "Email" data-value="$('#email').val()" data-action="Input"  class="form-control icn_email" type="email" id="email" name="email_address" placeholder="{{ 'Email' | translate(currentTemplate) }}" data-parsley-trigger="change" data-parsley-type="email" data-parsley-error-message="{{ 'A valid email address is required' | translate(currentTemplate) }}" required data-parsley-group="block1" />
					</div>
					<div class="form-group">
						<input data-description="Contact Number" data-value="$('#phone').val()"  data-action="Input" class="form-control icn_tel" type="tel" id="phone" name="phone_number" placeholder="{{ 'Contact Number' | translate(currentTemplate) }}" data-parsley-required-message="{{ 'A valid phone number is required' | translate(currentTemplate) }}" data-parsley-trigger="change" data-parsley-type="number" required data-parsley-group="block1" data-parsley-minlength="9" data-parsley-minlength-message="{{ 'A valid phone number is required (Min. 9 digits)' | translate(currentTemplate) }}"/>
					</div>
					<button  data-action="Submit" class="btn btn-callback btn-lg" type="submit" data-description = "Form" data-value="Prefer to talk?">{{ 'Call me' | translate(currentTemplate) }}</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="PreferToTalkThankYouBB" tabindex="-1" role="dialog" aria-labelledby="Prefer to talk" aria-hidden="true" data-region="smartsearch help popup" data-vertical="Broadband" data-imu-track="input, button, a">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-green-box">
					<h2>{{ "We'll call you soon!" | translate('_popup-thankyou-bb.html') }}</h2>
				</div>				
				<div class="modal-body">
					<div class="related-content-top">
		        <h4>{{ 'In the mean time, read our latest broadband news and updates on our Learning Centre' | translate('_popup-thankyou-bb.html') }}</h4>
		        <ul class="list-unstyled modal-articles">
		        	<li><a href="/articles/">Click here to go to Learning Centre!</a></li>
		        </ul>
		      </div>
		      <div class="related-content-bottom">
		      	<h4 class="text-center">{{ 'Or check out our other financial products' | translate('_popup-thankyou-bb.html') }}</h4>
		      	<ul class="related-products-link">
		      		<li><a class="btn btn-round btn-outline btn-outline--dark" href="/credit-card">Credit Cards</a></li>
		      		<li><a class="btn btn-round btn-outline btn-outline--dark" href="/personal-loan">Personal Loans</a></li>
		      		<li><a class="btn btn-round btn-outline btn-outline--dark" href="/fixed-deposit">Fixed Deposits</a></li>
		      	</ul>
		      </div>
		    </div>
			</div>
		</div>
	</div>
	#}