{% set currentTemplate = 'ss-thankyou-popup.html' %}
<div class="modal fade modal-default" id="modal-broadband-thankyou">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-green-box">
                <h3 class="green-text">{{ 'Thank you for your application'| translate(currentTemplate) }}</h3>
            </div>
            <div class="modal-body" data-description="SmartSearch Thank You Popup" data-region="SmartSearch Thank You Popup" data-vertical="Broadband">
                <div class="user__review--wrapper" data-imu-track="a" data-description="Let's go">
                    <div class="user__review--content">
                        <h3>{{ 'Do you have opinion on this Broadband page?' | translate(currentTemplate) }}</h3>
                        <p>{{ 'Tell us your experience!' | translate(currentTemplate) }}</p>
                        <p>Email to hello@imoney.ph</p>
                    </div>
                </div>
                <div class="related-content-bottom">
                    <h4 class="text-center">{{ 'Or check out our other financial products'| translate(currentTemplate) }}</h4>
                    <ul class="related-products-link" data-imu-track="a" data-description="Check out other products">
                        <li><a class="btn btn-round btn-outline btn-outline--dark" href="/credit-card">Credit Cards</a></li>
                        <li><a class="btn btn-round btn-outline btn-outline--dark" href="/home-loan">Home Loans</a></li>
                        <li><a class="btn btn-round btn-outline btn-outline--dark" href="/personal-loan">Personal Loans</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>