{% set currentTemplate = 'tab-content.html' %}
<div class="tab-content col-lg-12">
<div role="tabpanel" class="tab-pane fade in active" id="faq">
<h3 class="color-brand--light">Types of Broadband Connection</h3>
<p>Choosing which type of broadband connection should be based on your lifestyle as well as preference. If you’re always on the go, or out of office, then a mobile internet plan would be best for your need. If you want internet access once you get home from work or school, then a faster and more stable option would either be DSL, LTE, Cable, or Fiber connectivity. However, even after taking into account the above options, it will ultimately depend on the available service in your area.</p>
<h3 class="color-brand--light">Important Factors in Choosing a Broadband Plan</h3>
<p><strong>Speed</strong> - Nobody wants a slow internet. Unfortunately at the moment, the Philippines has one of the slowest internet speeds in Asia. Generally, higher speeds would cost more but it will save you time downloading and uploading files. It also provides for seamless online browsing and streaming experience.</p>
<p><strong>Monthly Data Allowance</strong> - It usually varies depending on the provider whether their plan is unlimited or has a data cap. Also, it doesn’t follow that cheaper packages automatically carry a quota, however it’s probable that these plans would have smaller data allowance compared to higher priced packages. If you have the budget, then it’s best to go for the unlimited option and make the most of your subscription without the worries of reaching your limit.</p>
<p><strong>Location</strong> - Most providers’ websites have a list of areas that their services cover. Make sure to check if your area is covered based on the package that you’re planning to get. This can be a major deciding factor since it will depend if the service is already set-up in the vicinity. Some providers will offer either DSL or Fiber connections depending on the available infrastructure in your location.</p>
<p><strong>Subscription Fee</strong> - Since you will be paying this amount on a monthly basis, it should be well within your budget. An amount that’s easy to allocate without adding stress to your monthly payables. Keep in mind that there’s usually a minimum lock-in period that’s tied up with the contract. Think it through and make sure that you’re getting good value for your money.</p>
<p><strong>Contract Period</strong> - Most of the time, there’s a 2-year, lock-in period that goes with your subscription. It means you have to remain as a subscriber for the duration of this period or pay extra charges for early termination. This is required by the provider to cover for the installation and equipment that comes with your broadband internet such as modem, WiFi router, and other necessary devices.</p>
<p><strong>Promos and Bundles</strong> - There are a lot of promotions and bundled plans being offered by our local internet providers. Some offer discounts when you switch to their service. There are also plans with bundled online entertainment packages and even HD cable TV subscriptions. If you’re an existing subscriber, look into the possibility of including an internet service at a discount. Whereas if you’re new, you can check out which add-ons you’re interested in. Just be sure you’ll be able to make the most of your subscription.</p>
<p>It basically boils down to every user’s specific need. Think about what your interests are and how you’ll primarily use the internet. Are you an avid online gamer? Do you regularly download huge files? Or are you just a casual surfer who browses social media and enjoys watching online videos occasionally? Your internet use and browsing habits will mainly dictate the speed requirement and data allowance that you’ll probably need in a month.</p>
<h3 class="color-brand--light">Internet Providers in Philippines</h3>
<p><strong><a href="/broadband/pldt" title="Get PLDT Broadband Plans" target="_blank"> PLDT</a></strong> - The biggest telecom service provider in the Philippines, you can select from a variety of Fiber, DSL and LTE plans that will fit your requirement whether for home or business use. Enjoy high speed surfing with the country’s fastest internet connection through their DSL, Fibr, and Ultera broadband plans.</p>
<p><strong><a href="/broadband/globe" title="Get Globe Broadband Plans" target="_blank">Globe</a></strong> - One of the leading mobile telecom providers in the country, Globe broadband offers home and office plans that will cater to your specific need. From affordable starter packages, to more diverse logistics features for your business, you’re guaranteed to have fast and reliable internet service with promo bundles to choose from. </p>
<p><strong><a href="/broadband/sky" title="Get Sky Broadband Plans" target="_blank">One Sky </a></strong>- Originally a cable TV provider, One Sky has now made its mark in the broadband internet scene since it started back in 2011. Leveraging on their primary business, not only do they provide quick internet connectivity but they also offer HD cable TV promotions, bundled in affordable packages that will surely fit your monthly budget. </p>
<p><strong><a href="/broadband/convergeict" title="Get ConvergeICT Broadband Plans" target="_blank">Converge ICT </a></strong>- One of the newest internet providers in the market, Converge offers broadband services for home, small and medium enterprises, as well as corporate enterprise packages. With their pure fiber optic technology, they guarantee fast and reliable connection with unlimited monthly data allowance and is considered as one of the most affordable plans currently available in the country. </p>
<p><strong><a href="/broadband/rise" title="Get Rise Broadband Plans" target="_blank">RISE, Inc. </a></strong>- Another one of the latest additions of internet providers in the country, founded just recently back in 2015 and headquartered in Cebu city, RISE offers high speed internet both in Cebu as well as select areas in Metro Manila. Using reliable fiber optic connectivity, they are currently focused on providing their services to small and medium businesses (SMEs), enterprise or corporate accounts, as well as educational and government institutions.</p>

<p><strong><a href="/broadband/infinivan" title="Get InfiniVAN Broadband Plans" target="_blank">InfiniVAN  </a></strong>- A more recent broadband provider that only started last 2016, InfiniVAN is comprised of IPS,Inc., a long time telecommunications provider in Japan and PT&T. By teaming up with local cable TV operators across the country, their aim is to provide fast, internet speeds that is at par with international standards. They guarantee fiber connection speeds not less than 20 Mbps with unlimited monthly data allowance that will encourage more growth for businesses and enterprises throughout the country.</p>

<p><strong><a title="Get BayanTel Broadband Plans" target="_blank"> BayanTel </a></strong> - Also one of the data and communications providers in the Philippines, Bayan Telecommunications provides broadband internet in Metro Manila, as well as major cities in Luzon, Visayas, and Mindanao regions. In 2015, Globe Telecom has successfully acquired majority ownership of BayanTel.</p>

    <!-- <h3>What do Customers Say about iMoney?</h3>
    <div itemtype="http://schema.org/Product" itemscope="">
        <meta content="broadband plans Philippines" itemprop="name">
        <p itemtype="http://schema.org/AggregateRating" itemscope="" itemprop="aggregateRating">iMoney.ph is rated
        <span itemprop="ratingValue">4.9</span>/5 based on
        <span itemprop="reviewCount"> 401</span> reviews from the last 12 months. 
        </p>
        <blockquote itemtype="http://schema.org/Review" itemscope="" itemprop="review">
        <meta content="broadband plans Philippines" itemprop="itemReviewed">
        <p><strong><span itemprop="author">Joseph</span></strong> rated iMoney <span itemtype="http://schema.org/Rating" itemscope="" itemprop="reviewRating" title="5.0 / 5"><span itemprop="ratingValue">5.0</span> out of 5 on <span content="2017-02-10"> February 10, 2017</span>
        </span></p><p itemprop="reviewBody">"I was moving into a new property and I needed quickly to get a new broadband connection. I was searching online and found iMoney. I`ve made the best choice applying for broadband plan with them."</p>
        </blockquote>
    </div> -->
</div>
<div role="tabpanel" class="tab-pane fade" id="askUs">
<h3 class="color-brand--light">Ask Us About Broadband</h3>
<p>Have a question about broadband? Ask us via email at <a href="mailto:hello@imoney.ph">hello@imoney.ph</a>.</p>
<hr>
        <!-- <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <div class="row">
            <div class="col-lg-8 col-xs-12">
                <div class="fb-comments" data-href="https://www.imoney.my/broadband/" data-width="100%" data-numposts="5" data-colorscheme="light"></div>
            </div>
            <div class="col-lg-4 col-xs-12 a-center">
                <div class="fb-like-box" data-href="https://www.facebook.com/IMoney.my" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="true" data-show-border="true"></div>
            </div>
        </div> -->
    </div>
</div>