<div class="container creditscore">
  <div class="creditscore__body--header">
    Is your CreditScore strong enough to get you approved for a credit card?
  </div>
  <div class="row creditscore__body is-multiline">
    
    <div class="creditscore__body--content col-md-6 col-sm-12 has-text-centered-touch">
      <p>
        <span>Your CreditScore affects your likeliness to get approved for a Credit Card.</span>
        Find out your CreditScore with us and you’ll be able to find how well you’re doing in the eyes of the banks, as well as seeing how well you stack up against other Malaysians.</p>
    </div>
    <div class="creditscore__body--keypoints col-md-6 col-sm-12">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <i class="icn-001"></i>
        </div>
        <div class="col-md-9 col-sm-12 creditscore__body--keypoints__point has-text-centered-mobile">
          <p>
            <span>An easy to understand rating</span>
            on how good your credit health is
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <i class="icn-002"></i>
        </div>
        <div class="col-md-9 col-sm-12 creditscore__body--keypoints__point has-text-centered-mobile">
          <p>
            <span>How likely you’ll be approved</span>
            for your next loan, credit card or any other credit products
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <i class="icn-003"></i>
        </div>
        <div class="col-md-9 col-sm-12 creditscore__body--keypoints__point has-text-centered-mobile">
          <p>
            <span>Advice</span>
            on what you want can do to improve your CreditScore
          </p>
        </div>
      </div>
      </div>
    </div>
    <div class="creditscore__cta col-md-12">
      <a href="https://www.imoney.my/credit-score?utm_source=thankyoupage&utm_medium=thankyoureferral&utm_campaign=thankyoupage&src=thankyou" class="creditscore-cta btn btn-lg btn-complement btn-complement--gradient" target="_blank">Find out my CreditScore</a>
    </div>
  </div>
</div>