<div class="p1-promo-trust">
	<div class="p1-content">
		<p><span class="first-text">{{ 'Get your</span> <span class="p1-logo"></span> <strong>first month</strong> subscription fee for <span class="free">FREE</span>' | translate('_p1-trust-elems.html') }}</p>
		<a class="p1-promo-btn" href="http://offers.imoney.my/campaign/broadband/p1?src=smartsearch_banner_p1-promo" target="_blank">{{ 'Sign me up' | translate('_p1-trust-elems.html') }}</a>
	</div>
</div>