{% for item in broadbandData.models %}
    {% set product = item.attributes %}
    {% if product.field_promo %}
        {% set featuredClass = 'listing--featured' %}
    {% else %}
        {% set featuredClass = 'listing-normal' %}
    {% endif %}

    <li class="{{featuredClass}} {{ product.class }} {{ product.field_bb_area_list | join(' ') }}" style="display:inline-block;" data-bbscore="{{ product.field_bb_score }}" data-price="{{ product.field_monthly_fee_rm_ }}" data-speed="{{ product.field_speed }}" data-provider="{{ product.field_telco }}" data-type="{% if product.field_broadband_type == "1" %}Home{% else %}Office{% endif %}" data-url="/{{ product.path_alias }}" data-nid="{{ product.nid }}" data-product_name="{{ product.field_product_name }}">
        <div class="item__overview">
            {% if featuredClass == "listing--featured"  %}
                <a class="label label--featured" href="{{ base }}{{ product.path_alias }}">{{ 'Featured' | translate('_products.html') }}</a>
            {% endif %}

            <strong class="item__overview--tag" style="display:inline-block;" >
                {% if product.field_ip == '2' %}{{ 'FIXED IP' | translate('_products.html') }}{% endif %}
            </strong>
            <a href = "{{ base }}{{ product.path_alias }}" data-description = "Product Title" data-url="{{ product.path_alias }}">
                <img class="item__overview--img" src="{{ product.field_logo }}" alt="{{ product.title }}">
                <h5>{{ product.title }}</h5>
            </a>
            <div class="item__overview--price font-xxlg">{{ product.field_monthly_fee_rm_ | iMoney }}<span class="extra-info">{{ '/month' | translate('_products.html') }}</span></div>
            <!-- Slashed old price -->
            <div class="item__overview--price-old">{% if region == 'my' && product.field_old_monthly_fee_rm_ %}{{ product.field_old_monthly_fee_rm_ | iMoney }}<span class="extra-info">{{ '/month' | translate('_products.html') }}</span>{% endif %}</div>
        </div>
        <div class="item__details">
            <div class="item__details--speed">
                <span><strong>{{ product.field_speed | speed }}</strong></span>
            </div>
            <div class="item__details--quota info">
                <span><strong>{{ product.field_quota }}</strong></span>
            </div>
        </div>
        <div class="item__fineprint extra-info a-left">
            {{ product.field_bonus_features_1 }}
        </div>
        <a class="btn-apply{%if product.field_quick_apply_button %} btn-qab{% endif %}" data-toggle="modal"{% if product.field_url %} target="_blank" href="{{ product.field_url }}"{% else %}data-target="#apply-modal"{% endif %}
           name = "applyNow"
           data-url = "{{ base }}{{ product.path_alias }}"
           data-image="{{ product.field_logo }}"
           data-title="{{ product.title }}"
           data-speed="{{ product.field_speed }}"
           data-quota="{{ product.field_quota }}"
           data-subject="User"
           data-action="Click"
           data-nid="{{ product.nid }}"
           data-region = "Listing Content Main"
           data-vertical="Broadband"
           data-description= "Apply Button"
           data-value="{{ product.title }}"
           data-old_price="{{ product.field_old_monthly_fee_rm_ | iMoney }}"
           data-price="{{ product.field_monthly_fee_rm_ | iMoney }}">{% if product.field_apply_button_text %}{{
            product.field_apply_button_text | safe }}{% else %}{{ 'Apply Now' | translate('_products.html') }}{% endif
            %}</a>
    </li>
{% endfor %}
