{% extends 'base.html' %}

{% block css %}
{% parent %}
<!--<link rel="stylesheet" href="/css/base-critical.css">-->
{% endblock %}

{% block head-script %}
{% parent %}
<script>
    iAJSLoader.init([
        [
            "//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js",
            "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"
        ],
        [
            "/v4/js/base.min.js"
        ]
    ]);
</script>
{% endblock %}

{% block content %}
{% parent %}

<div class="container">
    <h3>Error!</h3>
    {{message}}

    <br />
    <code>{{error | json_encode}}</code>
</div>

{% endblock %}

{% block footer-script %}
<!--[if lte IE 9]>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script src="/js/homepage.min.js"></script>
<script src="/js/base.min.js"></script>
<script src="//cdn.optimizely.com/js/2356000143.js"></script>
<![endif]-->
{% endblock %}