{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/v4/css/base-critical.css"/>
<link rel="stylesheet" href="/v4/css/mixitup.css"/>
<link rel="stylesheet" href="/bbrunner/css/bb-glossary.css">
{% endblock %}

{% block head-script %}
<script>var veryFirst = Date.now();</script>
{% parent %}
<script>
    window.ParsleyConfig = {
        errorsWrapper: '<div></div>',
        errorTemplate: '<span class="color-red font-xsm"></span>'
    };
</script>
<script>
    iAJSLoader.init([
        [
            "//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js",
            "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"
        ],
        [
            "//cdnjs.cloudflare.com/ajax/libs/parsley.js/2.0.4/parsley.min.js"
        ],
        [
            "{{ applySource[app.region] }}",
            "/v4/js/base.min.js",
            "/bbrunner/js/bb-glossary.min.js"
        ]
    ]);
</script>
{% endblock %}

{% block content %}
{% parent %}

{% include 'bb-navigation-sub.html' %}

<!-- Header -->
<header role="banner" class="header header--broadband" data-subject= "User" data-action = "Click" data-description = "Link" data-region="Listing Content Top" data-imu-track="a" data-vertical="Broadband">
    <div class="header--broadband--overlay">
        <div class="container">
            <h1>{{ 'BROADBAND GLOSSARY' | translate | safe }}</h1>
            <img src="/bbrunner/img/img_tower.png" width="55" class="tower">
            <img src="/bbrunner/img/img_modem.png" width="145" class="modem">
        </div>
    </div>
</header>

<!-- Main Content Area -->
<div role="main">

    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <h2>Choosing the best internet provider in your area may require you to read and understand the terminology and jargon in order to make the best broadband decision. Lucky for you, iMoney has built a comprehensive and easy-to-understand glossary of all the common broadband terms in Malaysia. This will definitely make comparing internet providers much simpler and your decision much easier to make. This broadband glossary apply for both home and office broadband.</h2>
            </div>
        </div>

        <div class="row">
            <div id="content" class="col-md-11 col-xs-12">
                <section id="A">
                    <h5>ADSL: What is ADSL?</h5>
                        <p>ADSL (Asymmetric Digital Subscriber Line) is a type of DSL broadband communications technology used for connecting to the internet. With the ADSL, you can simply send more data over existing copper telephone lines (POTS).</p>
                </section>

                <section id="B">
                    <h5>Broadband: What is Broadband?</h5>
                        <p>Broadband could be easily defined as a high bandwidth connection to the Internet. Broadband connection is easier and also faster compared to traditional telephone or modem connections. Having high-speed broadband allows you to send and download data at a much faster speed. You can install your broadband connection over your phone, via cable or satellite.</p>
                        <p>In Malaysia, the top choice for broadband providers are: <a href="https://www.imoney.my/broadband/astro" title="Astro Broadband and IPTV">Astro</a>, <a href="https://www.imoney.my/broadband/time" title="TIME Broadband">TIME</a>, <a href="https://www.imoney.my/broadband/maxis" title="Maxis Internet">Maxis</a> and <a href="https://www.imoney.my/broadband/tm" title="Telekom Malaysia Broadband">TM</a>.</p>
                        <p>With iMoney, you can easily apply for your top broadband plan choice.</p>

                    <h5>Bandwidth: What is Bandwidth?</h5>
                        <p>Bandwidth usually refers to the maximum data transfer rate of a network or Internet connection. In other words, it measures exactly how much data can be sent over a specific connection in a given amount of time.</p>

                    <h5>Bit: What is Bit?</h5>
                        <p>A bit (short for binary digit) is the smallest unit of data in a computer. A single bit can have only two values: 0 and 1.</p>

                    <h5>Byte: What is Byte?</h5>
                        <p>Byte is the basic unit of information in computer storage and processing. A single byte, consists of 8 binary digits (bits).</p>
                </section>

                <section id="D">
                    <h5>Download: What is Download?</h5>
                        <p>The most simple explanation for Download is, copying (usually data) from one computer system to another, which typically happens over the Internet.</p>

                    <h5>Download limit: What is Download Limit?</h5>
                        <p>Download limit is how much you are allowed to download on your Broadband connection. Usually the broadband plans will have a specified download limit, which caps the amount of data you can download from the Internet over specific period of time (in most cases it's usually a month).</p>
                        <p>The download limit of the broadband plan is usually expressed in MB or GB.</p>

                    <h5>Download Speed: What is Download Speed?</h5>
                        <p>This is the speed of your broadband plan with which you can download data from the Internet to your computer.</p>

                    <h5>Download Speed Breakdown</h5>
                        <p>Find below the internet usage breakdown, which will help you to choose what broadband speed you need for your plan.</p>
                        <ul>
                            <li><b>Low Usage:</b> Between 1Mbps and 10Mbps</li>
                            <li><b>Moderate Usage:</b> Between 10Mbps and 30Mbps</li>
                            <li><b>Heavy Usage:</b> Between 30Mbps and 50 Mbps</li>
                            <li><b>Extreme Usage:</b> Between 50Mbps and 500Mbps</li>
                        </ul>

                    <h5>DSL: What is DSL?</h5>
                        <p>DSL (or Digital Subscriber Line) is a family of technologies (VDSL, ADSL, HDSL and SDSL), which are used to transfer digital signals over standard telephone lines.</p>
                </section>

                <section id="F">
                    <h5>Fiber Connection: What is Fiber Connection?</h5>
                        <p>Fiber internet connection is an internet connection that transfers data fully or partially via fiber optic cables. Usually, fiber broadband has a much faster connection than the normal DSL. Having fiber connection, you can easily stream TV and videos online.</p>
                        <p>Top provider for fibre broadband connection in Malaysia is <a href="https://www.imoney.my/broadband/time" title="TIME Fibre Broadband">TIME</a></p>

                    <h5>Fiber-optic: What is Fiber-optic Broadband?</h5>
                        <p>This is a type of broadband connection, which is made to use optic cables to transfer data at extreme high speeds. In Malaysia, you can find top Internet providers using this type of connection.</p>
                    </section>

                    <section id="H">
                    <h5>Hotspot: What is Hotspot?</h5>
                        <p>A hotspot is usually a physical location, where people can get Internet access easily (more often using Wi-Fi technology). In most of the cases, you will use wireless local area network using a router connected to an Internet service provider.</p>
                </section>

                <section id="I">
                    <h5>IPTV: What is IPTV?</h5>
                        <p>IPTV (or Internet Protocol Television) is a system, where digital television services are delivered over the Internet using Internet Protocols.</p>
                        <p>In Malaysia, one of the most recognised provider of IPTV is <a href="https://www.imoney.my/broadband/astro" title="Astro Broadband and IPTV">Astro</a>.</p>

                    <h5>IP Address: What is an IP Address?</h5>
                        <p>IP Address (or Internet Protocol Address) is a unique address, which every computing device, namely personal computers, tablet and smartphone, uses to identify itself on the network and communicate easily with other devices in the network.</p>

                    <h5>ISP: What is Internet Service Provider?</h5>
                        <p>ISP is the company responsible for your broadband connection.</p>
                </section>

                <section id="L">
                    <h5>LAN: What is Local Area Network?</h5>
                        <p>LAN is used to supply networking capability to a group of computers in close proximity to each other, like an office building, school or home. The main purpose of LAN is to enable sharing of resources and services like files, printers, applications, email or even Internet access.</p>
                </section>

                <section id="M">
                    <h5>Mbps: What is Mbps?</h5>
                        <p>Mbps (or Megabits per second) is a measure of how fast data can be sent over fixed or wireless Internet connection.</p>
                        <p><i>*1 Mbps = 1,000,000 bits.</i></p>

                    <h5>Modem: What is Modem?</h5>
                        <p>Modem is an electronic device that allows the transmission of data to or from a computer via telephone or other communication lines.</p>
                </section>

                <section id="N">
                    <h5>Network: What is Network?</h5>
                        <p>A network is a collection of computers, servers, mainframes, network devices, or other devices connected to one another, in order to allow sharing.</p>
                </section>

                <section id="R">
                    <h5>Router: What is Router?</h5>
                        <p>The router allows more than one computer to connects to the same network connection.</p>
                    </section>

                    <section id="S">
                    <h5>Streaming: What is Streaming?</h5>
                        <p>Streaming refers to the process of watching videos or listening to music online without the need to download them first.</p>
                </section>

                <section id="U">
                    <h5>Unlimited Download: What is Unlimited Download?</h5>
                        <p>Plans with unlimited download quota allows you to stream/download data as much as you want, without any limitations. Most of the plan in Malaysia are using unlimited download quota, where you can enjoy unlimited data to browse, download and  upload over the Internet connection.</p>
                        <p>Most of the broadband plans in Malaysia have unlimited download quota.</p>

                    <h5>Uploading Speed: What is Uploading Speed?</h5>
                        <p>This is the process of transferring files from your computer, laptop, mobile phone or any other devices to the Internet.</p>
                </section>

                <section id="V">
                    <h5>VoIP: What is VoIP?</h5>
                        <p>VoIP (or Voice Over Internet Protocol) allows you to talk online, the same way you talk over the phone, through a broadband connection. The best example here is Skype.</p>
                </section>

                <section id="W">
                    <h5>WAN: What is WAN?</h5>
                        <p>WAN (or Wide Area Network) is a network that spans into large geographical area. It typically consists of two or more local-area networks (LANs).</p>

                    <h5>WLAN: What is WLAN?</h5>
                        <p>WLAN (or Wireless Local Area Network) uses wireless distribution model with two or more devices that use high-frequency radio waves and sometimes include an access. WLAN gives people the ability to move around the coverage area, often a home or an office, while maintaining a network connection.</p>

                    <h5>Wireless Networking: What is Wireless Networking?</h5>
                        <p>The process where, more than one device can communicate, send and share data between each other using wireless network connection.</p>

                    <h5>Wireless Broadband: What is Wireless Broadband?</h5>
                        <p>The option to connect to the Internet, wirelessly. This is the preferred broadband option as it allows you to have Internet access around your office/house without being plugged.</p>
                </section>
            </div>
            <div class="col-md-1">
                <nav id="navbar">
                    <ul class="nav">
                        <li><a href="#A">A</a></li>
                        <li><a href="#B">B</a></li>
                        <li><a href="#D">D</a></li>
                        <li><a href="#F">F</a></li>
                        <li><a href="#H">H</a></li>
                        <li><a href="#I">I</a></li>
                        <li><a href="#L">L</a></li>
                        <li><a href="#M">M</a></li>
                        <li><a href="#N">N</a></li>
                        <li><a href="#R">R</a></li>
                        <li><a href="#S">S</a></li>
                        <li><a href="#U">U</a></li>
                        <li><a href="#V">V</a></li>
                        <li><a href="#W">W</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <!-- Bottom CTA -->
    <section id="cta-bottom" class="home__cta--bottom section--darkblue">
        <!-- second-cta -->
        <div class="home__cta--bottom__container" data-imu-track="select, button, a"  data-subject="User" data-region="Top 10 Content Bottom" data-vertical="Credit Card">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="home__section__title">{{ 'Still having trouble finding a broadband plan? Try <span class="color-complement">SmartSearch</span>.' | translate | safe }}</h3>
                        <form id="form-bb-bottom" class="form-inline" action="{{ base }}{{ app.urls['bb-smartsearch'] }}" method="get">
                            <div class="form-group" data-action="Input">
                                <select name="purpose" id="purpose-bottom" class="form-control input-lg" tabindex="-1" data-description = "What are you looking for?">
                                    <option value="" selected disabled>{{ "Tell us what you're looking for:" | translate }}</option>
                                    <option value="new broadband">{{ "I'm looking for a new connection" | translate }}</option>
                                    <option value="new provider">{{ "I'm looking for a new provider" | translate }}</option>
                                    <option value="faster speed">{{ "I'm looking for faster download speed" | translate }}</option>
                                    <option value="moving house or office">{{ "I'm looking to move house / office" | translate }}</option>
                                    <option value="compare plans">{{ "I'm looking to compare plans" | translate }}</option>
                                </select>
                            </div><!--
									--><div class="form-group" data-action="Submit" data-description = "Form" data-value="SmartSearch">
                            <button type="submit" class="btn btn-complement btn-complement--gradient btn-lg btn-block" disabled="disabled">{{ 'Start' | translate }}</button>
                        </div>
                        </form>
                        {% include 'localize.html' with {'block': 'cta__bottom__options'} %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block footer-script %}
<!--[if lte IE 9]>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script src="//apply.imoney.my/js/apply.js"></script>
<script src="/js/bb-listing.min.js"></script>
<script src="/js/base.min.js"></script>
<script src="//cdn.optimizely.com/js/2356000143.js"></script>
<![endif]-->
{% endblock %}