{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/v4/css/base-critical.css"/>
<link rel="stylesheet" href="/v4/css/mixitup.css"/>
<link rel="stylesheet" href="/bbrunner/css/bb-listing.css">
{% endblock %}

{% block head-script %}
<script>var veryFirst = Date.now();</script>
{% parent %}
<script>
    window.ParsleyConfig = {
        errorsWrapper: '<div></div>',
        errorTemplate: '<span class="color-red font-xsm"></span>'
    };
</script>
<script>
  googletag.cmd.push(function() {
    googletag.defineSlot('/422122608/V4_728_90_Top_Leaderboard_D', [728, 90], 'div-gpt-ad-1533779671054-0').addService(googletag.pubads());
    googletag.defineSlot('/422122608/V4_320_50_Top_Leaderboard_M', [320, 50], 'div-gpt-ad-1533779759514-0').addService(googletag.pubads());
    googletag.pubads().enableSingleRequest();
    googletag.pubads().collapseEmptyDivs();
    googletag.pubads().setTargeting('Path', ['/{{ app.urls["bb-listing"] }}']).setTargeting('Category', ['internet']).setTargeting('Region', ['{{ app.region }}']);
    googletag.enableServices();
  });
</script>
<script>
    iAJSLoader.init([
        [
            "//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js",
            "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"
        ],
        [
            "//cdnjs.cloudflare.com/ajax/libs/parsley.js/2.0.4/parsley.min.js"
        ],
        [
            "{{ applySource[app.region] }}",
            "//cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js",
            "/v4/js/base.min.js"
        ],
        [
          "/bbrunner/js/bb-listing.min.js"
        ]
    ]);
</script>
{#
<script>
    jQuery(document).ready(function($) {
        // VIEW PRODUCT LIST.
        var     $productList = $('#suggested-broadband').children('li'),
                product_id = [],
                product_name = [],
                product_brand = [],
                product_category = [],
                product_sub_category = [],
                product_bb_price = [],
                product_bb_speed = [],
                lang = $('html').attr('lang'),
                user_device = typeof(WURFL) != 'undefined' ? WURFL.form_factor : undefined,
                track_id = typeof(userManager) != 'undefined' && typeof(userManager.data) != 'undefined' ? userManager.data.trackId : undefined,
                referrer_source = typeof(userManager) != 'undefined' && typeof(userManager.utms) != 'undefined' ? userManager.utms.utmcsr : undefined,
                referrer_medium = typeof(userManager) != 'undefined' && typeof(userManager.utms) != 'undefined' ? userManager.utms.utmcmd : undefined;

        $productList.each(function(index, el) {
            var $element = $(el);
            var subCategory = $element.data('type');
            product_id.push($element.data('nid'));
            product_name.push($element.data('product_name'));
            product_brand.push($element.data('provider'));
            product_category.push('Broadband');
            product_sub_category.push(subCategory);
            product_bb_price.push($element.data('price'));
            product_bb_speed.push($element.data('speed'));
        });

        dataLayer.push({
            event: 'viewProductList',
            event_lang: lang,
            list_type: 'listing',
            list_name: $('body').data('path'),
            list_size: $productList.length,
            product_id: product_id.toString(),
            product_name: product_name,
            product_brand: product_brand,
            product_category: product_category,
            product_sub_category: product_sub_category,
            product_bb_price: product_bb_price,
            product_bb_speed: product_bb_speed,
            track_id: track_id,
            user_device: user_device,
            referrer_source: referrer_source,
            referrer_medium: referrer_medium
        });

        // APPLY NOW.
        $('#apply-modal').on('show.bs.modal', function (event) {
            var $button = $(event.relatedTarget); // Button that triggered the modal
            var $product = $button.closest('#suggested-broadband li');
            var subCategory = $product.data('type');
            dataLayer.push({
                event: 'applyNow',
                event_lang: lang,
                product_id: $product.data('nid').toString(),
                product_name: $product.data('product_name'),
                product_brand: $product.data('provider'),
                product_category: 'Broadband',
                product_sub_category: subCategory,
                product_bb_price: $product.data('price'),
                product_bb_speed: $product.data('speed'),
                track_id: track_id,
                user_device: user_device,
                referrer_source: referrer_source,
                referrer_medium: referrer_medium
            });

            // SUBMIT DETAILS.
            $('#applyForm').on('submit.submitDetail', function(e) {
                dataLayer.push({
                    event: 'submitDetails',
                    event_lang: lang,
                    submit_type: lang + '_bb_listing',
                    product_id: $product.data('nid').toString(),
                    product_name: $product.data('product_name'),
                    product_brand: $product.data('provider'),
                    product_category: 'Broadband',
                    product_sub_category: subCategory,
                    product_bb_price: $product.data('price'),
                    product_bb_speed: $product.data('speed'),
                    track_id: track_id,
                    user_device: user_device,
                    referrer_source: referrer_source,
                    referrer_medium: referrer_medium
                });
            });
        }).on('hide.bs.modal', function (event) {
            $('#applyForm').off('submit.submitDetail');
        });
    });
</script>
#}
{% endblock %}

{% block content %}
{% parent %}

{% include 'bb-navigation-sub.html' %}

<!-- Header -->
<header role="banner" class="header header--broadband" data-subject= "User" data-action = "Click" data-description = "Link" data-region="Listing Content Top" data-imu-track="a" data-vertical="Broadband">
    <div class="container">
        <h1>{{ 'Get the best <strong class="color-brand--light">broadband</strong> plans in Malaysia' | translate | safe }}</h1>
        <a href="{{ base }}{{ app.urls['bb-smartsearch'] }}" data-description="Broadband SmartSearch" class="btn btn-lg btn-complement btn-complement--gradient">{{ 'Try SmartSearch' | translate }}<i class="icon-bb-white"></i></a>
        <img src="/bbrunner/img/img_tower.png" width="55" class="tower">
        <img src="/bbrunner/img/img_modem.png" width="145" class="modem">
    </div>

</header>

<!-- Main Content Area -->
<div role="main">

    <main class="cd-main-content" data-subject= "User" data-action = "Click" data-description = "Link" data-region="Listing Filter" data-imu-track="a" data-vertical="Broadband" data-country="{{ app.country }}">
        <div class="cd-tab-filter-wrapper" data-filter_label="{{ 'Filter Broadbands' | translate }}">
            {% include 'localize.html' with {'block': 'cd-tab-filter'} %}
        </div> <!-- cd-tab-filter-wrapper -->

        <div class="container" >
            <section class="cd-gallery">
                <p class="cd-results-summary text-center extra-info" data-all="{{ 'All Broadband' | translate }}" data-home="{{ 'Home Broadband' | translate }}" data-office="{{ 'Office Broadband' | translate }}">
                    <span class="cd-success-message">{{ 'Showing <strong class="cd-results-count">@var</strong> results of <strong class="cd-results-type">all broadband</strong> in <strong class="cd-results-location">Malaysia</strong>' | translate(null, {'@var': broadbandData.models.length}) | safe }}</span>
                    <span class="cd-fail-message">{{ 'No results found' | translate }}</span>
                </p>
                <div class="ad ad--leaderboard">
                    <!-- /422122608/V4_728_90_Top_Leaderboard_D -->
                    <div id='div-gpt-ad-1533779671054-0' style='height:90px; width:728px;'>
                        <script>
                          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1533779671054-0'); });
                        </script>
                    </div>
                </div>

                <div class="ad ad--leaderboard ad--leaderboard__mobile">
                    <!-- /422122608/V4_320_50_Top_Leaderboard_M -->
                    <div id='div-gpt-ad-1533779759514-0' style='height:50px; width:320px;'>
                        <script>
                          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1533779759514-0'); });
                        </script>
                    </div>
                </div>
                <ul id="suggested-broadband" data-imu-track = "a" data-region = "Listing Content Main">{% include "./_products.html" %}</ul>
                <div class="cd-fail-message">{{ 'No results found' | translate }}</div>
            </section> <!-- cd-gallery -->
        </div>

        <div class="cd-filter">
            {% include 'localize.html' with {'block': 'cd-filter'} %}
            <a href="javascript:void(0);" class="cd-close close-btn" data-value = "Close"><i></i></a>
        </div> <!-- cd-filter -->

        <a href="javascript:void(0);" class="cd-filter-trigger">{{ 'Filters' | translate }}</a>
    </main> <!-- cd-main-content -->


    <!-- FAQ / Ask Us -->
    <!-- Nav tabs -->
    <div class="container">
        <div id="tab">
            <ul class="nav nav-tabs" role="tablist" data-imu-track="a" data-subject= "User" data-action = "Click" data-description = "Link" data-region="Listing Content Bottom" data-vertical="Broadband">
                <li role="presentation" class="active"><a href="#faq" aria-controls="faq" role="tab" data-toggle="tab" data-description="FAQ" data-value = "FAQ"><i></i>{{ 'FAQ' | translate }}</a></li>
                <li role="presentation"><a href="#askUs" aria-controls="askUs" role="tab" data-toggle="tab" data-description="Ask Us" data-value = "Ask Us"><i></i>{{ 'Ask Us' | translate }}</a></li>
            </ul>
        </div>

        <!-- Tab panels -->
        {% include 'localize.html' with {'block': 'tab-content'} %}
    </div>

    <!-- Bottom CTA -->
    <section id="cta-bottom" class="home__cta--bottom section--darkblue">
        <!-- second-cta -->
        <div class="home__cta--bottom__container" data-imu-track="select, button, a"  data-subject="User" data-region="Top 10 Content Bottom" data-vertical="Credit Card">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="home__section__title">{{ 'Still having trouble finding a broadband plan? Try <span class="color-complement">SmartSearch</span>.' | translate | safe }}</h3>
                        <form id="form-bb-bottom" class="form-inline" action="{{ base }}{{ app.urls['bb-smartsearch'] }}" method="get">
                            <div class="form-group" data-action="Input">
                                <select name="purpose" id="purpose-bottom" class="form-control input-lg" tabindex="-1" data-description = "What are you looking for?">
                                    <option value="" selected disabled>{{ "Tell us what you're looking for:" | translate }}</option>
                                    <option value="new broadband">{{ "I'm looking for a new connection" | translate }}</option>
                                    <option value="new provider">{{ "I'm looking for a new provider" | translate }}</option>
                                    <option value="faster speed">{{ "I'm looking for faster download speed" | translate }}</option>
                                    <option value="moving house or office">{{ "I'm looking to move house / office" | translate }}</option>
                                    <option value="compare plans">{{ "I'm looking to compare plans" | translate }}</option>
                                </select>
                            </div><!--
									--><div class="form-group" data-action="Submit" data-description = "Form" data-value="SmartSearch">
                            <button type="submit" class="btn btn-complement btn-complement--gradient btn-lg btn-block" disabled="disabled">{{ 'Start' | translate }}</button>
                        </div>
                        </form>
                        {% include 'localize.html' with {'block': 'cta__bottom__options'} %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Modal for Apply Pressed -->
<div id="apply-modal" class="modal fade" data-translate_month="{{ 'month' | translate }}">
    <div class="modal-dialog">
        <div class="close-wrap animated fadeInDown">
            <a href="#" class="close-btn" data-dismiss="modal"><i></i>Close</a>
        </div>
        <div class="modal-content" data-imu-track="input, button[type=submit]">
            <form method="post" action="." id="applyForm" data-parsley-validate data-thankyou="{{ base }}{{ app.urls['bb-thankyou'] }}">
                <div class="modal-header text-center">
                    {% if region == 'my' && lang == 'en' %}
                    <h4 class="modal-title" id="myModalLabel">{{ 'Just leave your details and let us find you the best possible deal' | translate }}</h4>
                    {% else %}
                    <h4 class="modal-title" id="myModalLabel">{{ 'This is the package you have chosen' | translate }}</h4>
                    {% endif %}
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <div class="applying-img"></div>
                            <div class="applying-name"><h5></h5></div>
                            <div class="row">
                                <div class="col-sm-6 col-xs-6">
                                    <strong class="font-xsm">{{ 'SPEED' | translate }}: </strong>
                                    <p class="applying-speed"></p>
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <strong class="font-xsm">{{ 'QUOTA' | translate }}: </strong>
                                    <p class="applying-quota"></p>
                                </div>
                            </div>
                            <div class="applying-price font-xxlg"></div>
                            <div class="applying-price-old"></div>
                        </div>
                        <div class="col-sm-8 col-xs-12">
                            {% if region === 'my' && lang === 'en' %}
                            <!-- No description for MYEN -->
                            {% else %}
                                <p>{{ 'Please provide your contact details so that we can help you proceed with the application.' | translate }}</p>
                            {% endif %}

                            <div class="capture" data-subject="User" data-action="Input"  data-region="Listing Apply Popup" data-vertical="Broadband">
                                <div class="form-group">
                                    <input data-parsley-pattern="/^[a-zA-z\s]*$/" data-parsley-pattern-message="{{ 'Your name should only consist of letters' | translate }}" class="form-control icn_name" type="text" id="name" name="name" placeholder="{{ 'Your Name' | translate }}" data-parsley-trigger="change" data-parsley-required-message="{{ 'Please enter your name' | translate }}" required data-parsley-group="block6" data-parsley-minlength="3" data-parsley-minlength-message="{{ 'Please enter your name (Min. 3 digits)' | translate }}" tabindex="1"/ data-description = "Your Name">
                                </div>
                                <div class="form-group">
                                    <input class="form-control icn_email" type="email" id="email" data-description = "Email" name="email_address" placeholder="{{ 'Email' | translate }}" data-parsley-trigger="change" data-parsley-type="email" data-parsley-error-message="{{ 'A valid email address is required' | translate }}" required data-parsley-group="block6" tabindex="2"/ description = "Email">
                                </div>
                                <div class="form-group">
                                    <input class="form-control icn_tel" type="tel" id="phone" name="phone_number" data-description = "Contact Number" placeholder="{{ 'Contact Number' | translate }}" data-parsley-required-message="{{ 'A valid phone number is required' | translate }}" data-parsley-trigger="change" data-parsley-type="number" required data-parsley-group="block6" data-parsley-minlength="9" data-parsley-minlength-message="{{ 'A valid phone number is required (Min. 9 digits)' | translate }}" tabindex="3" description = "Contact Number">
                                </div>
                                {% if region == 'ph' %}
                                <div class="form-group">
                                    <select class="form-control icn_addr" name="city" id="city"
                                            data-vertical="Broadband" required data-parsley-group="block6"
                                            data-parsley-error-message="{{ 'Please choose a city' | translate }}"
                                            description="City">
                                        <option value="">Choose a city</option>
                                        <option value="Metro Manila">Metro Manila</option>
                                        <option value="Davao">Davao</option>
                                        <option value="Cebu">Cebu</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </div>
                                {% endif %}
                                {% if region === 'my' && lang === 'en' %}
                                <!-- Hidden address field for MYEN -->
                                    <input value="Wisma UOA Damansara" class="form-control icn_addr" type="hidden" id="address" name="address"
                                    data-action="Input" data-subject="User" data-description = "Address"
                                    data-region="Product Apply Popup" data-vertical="Broadband" required
                                    placeholder="{{ 'Address' | translate }}" tabindex="4" description="Contact Address">
                                {% else %}
                                <div class="form-group">
                                    <input class="form-control icn_addr" type="text" id="address" name="address"
                                    data-action="Input" data-subject="User" data-description = "Address"
                                    data-region="Product Apply Popup" data-vertical="Broadband" required
                                    placeholder="{{ 'Address' | translate }}" tabindex="4" description="Contact Address">
                                    <br/>
                                    <p>{{ 'Example: 13-05 Blok A, Cameron Towers, Gasing Heights, Jalan 5/58B, 46000, Petaling Jaya, Selangor' | translate }}</p>
                                </div>
                                {% endif %}
                                {% if app.pdpa != "" %}
                                    <div class="checkbox font-xs">
                                        <label>
                                            <input type="checkbox" name="allow_checked" checked="" data-parsley-trigger="change" data-parsley-multiple="allow_checked" data-parsley-error-message="{{ 'Please check this box if you want to proceed' | translate }}" required data-parsley-group="block6" tabindex="-1">
                                            {{ app.pdpa | raw }}
                                        </label>
                                    </div>
                                {% endif %}
                                {% if app.marketing_consent != "" %}
                                    <div class="checkbox font-xs">
                                        <label>
                                            <input type="checkbox" name="allow_consent" checked="" data-parsley-trigger="change" data-parsley-multiple="allow_consent" data-parsley-error-message="{{ 'Please check this box if you want to proceed' | translate }}" required data-parsley-group="block6" tabindex="-1">
                                            {{ app.marketing_consent | raw }}
                                        </label>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-value="" id="btn-bb-submit" data-subject="User" data-action="Submit" data-description = "Apply Form" data-region = "Listing Apply Popup" class="btn btn-lg btn-success" type="submit" tabindex="4" data-vertical = "Broadband" data-wait="{{ 'Please wait...' | translate }}" data-proceed="{{ 'Proceed' | translate }}" data-applied="{{ 'Applied' | translate }}">{{ 'Proceed' | translate }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{#% include 'localize.html' with {'block': 'ss-thankyou-popup'} %#}
{% endblock %}

{% block footer-script %}
<!--[if lte IE 9]>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script src="//apply.imoney.my/js/apply.js"></script>
<script src="/js/bb-listing.min.js"></script>
<script src="/js/base.min.js"></script>
<script src="//cdn.optimizely.com/js/2356000143.js"></script>
<![endif]-->
{% endblock %}