{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/v4/css/base-critical.css"/>
<link rel="stylesheet" href="/v4/css/mixitup.css"/>
<link rel="stylesheet" href="/bbrunner/css/bb-product.css">
<link rel="stylesheet" href="/bbrunner/css/bb-recommendation.css">

{% endblock %}

{% block head-script %}
{% parent %}
<script>
    iAJSLoader.init([
        [
            "//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js",
            "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"
        ],
        [
            "//cdnjs.cloudflare.com/ajax/libs/parsley.js/2.0.4/parsley.min.js"
        ],
        [
          "{{ applySource[app.region] }}",
        	"/v4/js/base.min.js",
            "/bbrunner/js/bb-recommendation.min.js",
        ]
    ]);
</script>
{% endblock %}

{% block content %}
{% parent %}

<div class="content">

	 <div class="loading">
    	<div class="loading--wrap">
    		<div class="lds-ring"><div></div><div></div><div></div><div></div></div>
	    	<p>Looking for better <span class="textwrap">broadband plans</span></p>
	    	<img>
    	</div>
    </div>

	<div id="landing">
		<header>
		    <div class="container">
		        <h1>Is it time for a <span class="emphasis">change?</span></h1>
		    </div>
		</header>
	    <div class="plan-recommendation">
	    	<div class="landing-card">
		    	<div class="col col-hero">
			    	<h2 class="desktop">Compare <span class="emphasis">broadband plans</span> <span class="textwrap">to see</span> if you are getting the <span class="textwrap">best deal.</span></h2>
			        <h2 class="mobile">Compare <span class="emphasis">broadband plans</span><span class="textwrap"> for the best deal.</span></h2>
			        <div class="divider desktop"></div>
			        <div class="hero-modem desktop"></div>
		    	</div>
		        
		        <div class="col col-formapply">
		        	<h4>What is your <span class="textwrap">current plan?</span></h4>
			        <img src="/bbrunner/img/plan-recommender/pr-plan.png" class="img-plan desktop">
			        <form id="recommend" data-parsley-validate>
			        	<div class="form-group">
				        	<label>Your broadband provider</label>
				        	<select id="input-provider" class="form-control" required="required" data-parsley-required-message="Your input is required">
				        		<option value="" disabled selected>Select one</option>
								{% for provider in providers.models %}
								<option value="{{ provider.get('title') }}" data-value="{{ provider.get('machine_name') }}">{{ provider.get('title')}}</option>
								{% endfor %}
								<option value="other">Others</option>
				        	</select>
			        	</div>
			        	<div class="form-group-wrap">
				        	<div class="form-group form-group--left">
				        		<label>Price</label>
				        		<div class="input-group">
						        	<span class="input-group-addon">RM</span>
						        	<input id="input-price" type="text" class="form-control no-spinners" placeholder="0.00" step="0.01" min="0.01" max="10000" required="required" data-parsley-errors-container="#price-error" data-parsley-required-message="Your input is required" data-parsley-type="number">
					        	</div>
								<div id="price-error"></div>
				        	</div>
				        	<div class="form-group form-group--right">
				        		<label>Speed</label>
				        		<div class="input-group">
						        	<input id="input-speed" type="number" placeholder="100" step="1" class="form-control no-spinners" min="1" max="10000" required="required" data-parsley-errors-container="#speed-error" data-parsley-required-message="Your input is required">
						        	<span class="input-group-addon">Mbps</span>
					        	</div>
								<div id="speed-error"></div>
				        	</div>
			        	</div>
			        	<div class="form-group">
			        		<label>Where do you stay?</label>
				        	<select id="input-state" class="form-control" required="required" data-parsley-required-message="Your input is required">
				        		<option disabled selected>Select one</option>
								<option value="Johor" data-value="johor">Johor</option>
								<option value="Kedah" data-value="kedah">Kedah</option>
								<option value="Kelantan" data-value="kelantan">Kelantan</option>
								<option value="Kuala Lumpur" data-value="kl">Kuala Lumpur</option>
								<option value="Malacca" data-value="malacca">Malacca</option>
								<option value="Negiri Sembilan" data-value="nsembilan">Negeri Sembilan</option>
								<option value="Pahang" data-value="pahang">Pahang</option>
								<option value="Penang" data-value="penang">Penang</option>
								<option value="Perak" data-value="perak">Perak</option>
								<option value="Perlis" data-value="perlis">Perlis</option>
								<option value="Putrajaya" data-value="putrajaya">Putrajaya</option>
								<option value="Sabah" data-value="sabah">Sabah</option>
								<option value="Sarawak" data-value="sarawak">Sarawak</option>
								<option value="Selangor" data-value="selangor">Selangor</option>
								<option value="Terengganu" data-value="terengganu">Terengganu</option>
							</select>
			        	</div>

			        	<a href="javascript:void(0);" id="btn-submit" data-subject="User" data-action="Click" data-region="Plan Recommendation" data-vertical="Broadband" data-description="Find Plans" class="btn btn-success btn-block btn-lg btn-apply-complement">Find me better broadband plans <i class="icon icon-search desktop"></i></a>
			        </form>
		        </div>
		        <div class="clear"></div>
	    	</div>
	    </div>
	</div>

   <div id="results-none">
   		<div class="container">
   			<img src="/bbrunner/img/plan-recommender/pr-plan.png" class="img-plan">
   			<h2>Congratulations!</h2>
   			<p>You already have the best plan <span class="textwrap">out there.</span></p>
   			<button type="button" class="btn-line">Try again?</button>
   			<div class="articles-section">
   				<h4 class="mean-time">In the mean time, read some of our <span class="textwrap">money saving tips</span></h4>
   				<div class="articles-wrap">
   					<div class="row">
   						<div class="articles--latest-articles col-md-4 col-md-offset-2">
   							<div class="related latest" data-rss="https://www.imoney.my/articles/feed/">
   								<div class="related-title">Latest Articles</div>
   							</div>
   						</div>
   						<div class="articles--money-management col-md-4">
   							<div class="related cards" data-rss="https://www.imoney.my/articles/category/cards/feed/">
   								<div class="related-title">Money Management</div>
   							</div>
   						</div>
   					</div>
   				</div>
   			</div>
   		</div>
   </div>

    <div id="results" class="results">
    	<div class="container">
	    	<h2>Here are plan(s) that are better than your current plan</h2>
	    	<div class="selected-labels">
		    	<label class="selected-plan selected-provider"></label>
		    	<label class="selected-plan selected-price"></label>
		    	<label class="selected-plan selected-speed"></label>
		    	<label class="selected-plan selected-area"></label>
	    	</div>
	    	<div class="results-cards">
	    		<div class="result-card result-card--speed">
	    			<div class="circle--blue icon-lightning"></div>
	    			<div class="card-body">
	    				<div class="plan-best">
	    					<h3><span>Congratulations!</span></h3>
	    					You have the fastest plan for the same price.
	    				</div>
	    				<div class="plan-display">
		    				<h3>You'll gain <span>0Mbps!</span></h3>
		    				<div class="featured-product-wrap">
			    				<div class="featured-wrap">
				    				<div class="featured featured--speed">
				    					<div class="line--middle">0</div>
				    					<div class="line--bottom">Mbps</div>
				    				</div>
			    				</div>
			    				<div class="product-info product-info--name">
		    						<img src="" />
		    						<div class="product-name"></div>
		    					</div>
	    					</div>
	    					<div class="clear"></div>
		    				<div class="product-info-wrap">
		    					<div class="product-info product-info--price">RM0.00</div>
		    					<div class="product-info product-info--quota"></div>
		    					<div class="clear"></div>
		    					<a href="javascript:void(0);"
		    					type="button"
								class="btn-apply"
								data-subject="User"
								data-action="Click"
								data-region="Plan Recommendation"
								data-vertical="Broadband"
		    					data-toggle="modal"
		    					data-target="#apply-modal">
		    					Get faster speeds!</a>
		    				</div>
		    			</div>
	    			</div>
	    		</div>
	    		<div class="result-card result-card--price">
	    			<div class="circle--blue icon-price"></div>
	    			<div class="card-body">
	    				<div class="plan-best">
	    					<h3><span>Congratulations!</span></h3>
	    					You have the cheapest plan for the same speed.
	    				</div>
	    				<div class="plan-display">
		    				<h3>You'll save <span>RM0.00!</span></h3>
		    				<div class="featured-product-wrap">
			    				<div class="featured-wrap">
				    				<div class="featured featured--price">
				    					<div class="line--top">RM</div>
				    					<div class="line--middle">0<span>.00</span></div>
				    					<div class="line--bottom">/month</div>
				    				</div>
			    				</div>
			    				<div class="product-info product-info--name">
		    						<img src="https://www.imoney.my/sites/default/files/logo1.png">
		    						<div class="product-name"></div>
		    					</div>
	    					</div>
	    					<div class="clear"></div>
		    				<div class="product-info-wrap">
		    					<div class="product-info product-info--speed">0Mbps</div>
		    					<div class="product-info product-info--quota"></div>
		    					<div class="clear"></div>
		    					<a href="javascript:void(0);"
		    					type="button"
		    					class="btn-apply"
								data-toggle="modal"
								data-subject="User"
								data-action="Click"
								data-region="Plan Recommendation"
								data-vertical="Broadband"
		    					data-target="#apply-modal">
		    					Get cheaper plan!</a>
		    				</div>
	    				</div>
	    			</div>
	    		</div>
	    		<div class="clear"></div>
	    	</div>
	    </div>
	    <div class="container">
	    	<button id="try-again--plans" type="button" class="btn-line">Try again?</button>
		</div>
	</div>
</div>

<div class="faq">
	<div class="container">
		<div class="circle--blue icon icon-faq"></div>
		<h4>When Should You Consider Switching Your High Speed Broadband Plan</h4>
		<p>
			The broadband landscape in Malaysia has seemingly changed overnight. Government initiatives have supercharged internet speeds and the ISPs have made the necessary changes. More importantly, this was done without any increased costs to consumers.
		</p>
		<p>
			Given the current situation, it’s tempting to compare speeds and prices. But not everyone needs the fastest internet they can afford. However, it doesn’t make sense to skimp and only look for the cheapest available plan either.
		</p>
		<p>
			Here are 3 main indicators for you to switch your broadband:
		</p>

		<h6>1. When you need faster speed</h5>
		<p>
			Watching videos on Netflix or YouTube is the most common internet activities these days. In general, Netflix recommends a 3Mbps connection for Standard Definition (480p) streaming and 5Mbps for HD videos. This number can go all the way up to 25Mbps for 4K or UHD videos.
		</p>
		<p>
			While that number sounds low, it doesn’t take into account the number of other devices on your home network that are also being used to browse social media, play games, and just generally being connected to the internet. Which isn’t much if you’re living alone but can add up if you share your house with other people.
		</p>
		<p>
			All this put together, that 30Mbps connection doesn’t sound like much when having to share it with four other people.
		</p>

		<h6>2. When you are moving</h5>
		<p>
			There are geographic limitations on high speed broadband. Most ISP coverage is concentrated in urban centres, with TIME having the extra limitation of only being allowed to service high rise buildings. In either case, your choice of provider may be limited by your new location.
		</p>
		<p>
			Most people would simply look to have their existing plan transferred to their new location. But this should be taken as an opportunity to shop around for a better deal.
		</p>

		<h6>3. When your contract is up</h5>
		<p>
			There is no better time to be looking at your options than right after your mandatory service contract is completed. Mostly because you won’t be hit with a cancellation fee if you do find a better deal. Maxis and TIME both offer minimal fees, but UniFi takes a stricter approach to the matter.
		</p>
		<p>
			Either way, it’s a good idea to be looking around as soon as you’re able to switch without penalty. Especially since internet speeds increase on an annual basis.
		</p>
	</div>
</div>

<!-- APPLY FORM POPUP -->
<!-- Modal for Apply Pressed -->
<div id="apply-modal" class="modal fade">
	<!-- <div class="modal-backdrop fade in" style="height: 100%"></div> -->
    <div class="modal-dialog">
        <div class="close-wrap animated fadeInDown">
            <a href="#" class="close-btn" data-dismiss="modal"><i></i>Close</a>
        </div>
        <div class="modal-content" data-imu-track="input, button[type=submit]" data-region="Product Apply Popup"
             data-vertical="Broadband">
            <form method="get" action="" id="applyForm" data-parsley-validate data-thankyou="{{ base }}{{ app.urls['bb-thankyou'] }}">
                <div class="modal-header text-center">
                    {% if region == 'my' && lang == 'en' %}
                    <h4 class="modal-title" id="myModalLabel">{{ 'Just leave your details and let us find you the best possible deal' | translate }}</h4>
                    {% else %}
                    <h4 class="modal-title" id="myModalLabel">{{ 'This is the package you have chosen' | translate }}</h4>
                    {% endif %}
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <div class="applying-img"><img src=""></div>
                            <div class="applying-name"><h5></h5></div>
                            <div class="row">
                                <div class="col-sm-6 col-xs-6">
                                    <strong class="font-xsm">{{ 'SPEED' | translate }}: </strong>

                                    <p class="applying-speed"></p>
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <strong class="font-xsm">{{ 'QUOTA' | translate }}: </strong>

                                    <p class="applying-quota"></p>
                                </div>
                            </div>
                            <div class="applying-price font-xxlg" data-month="{{ 'month' | translate }}"></div>
                            <div class="applying-price-old"></div>
                        </div>
                        <div class="col-sm-8 col-xs-12">
                        	{% if region === 'my' && lang === 'en' %}
                        	<!-- Hide description for MYEN -->
                        	{% else %}
                            <p>{{ 'Please provide your contact details so that we can help you proceed with the application.' | translate }}</p>
                            {% endif %}
                            <div class="capture">
                                <div class="form-group">
                                    <input data-action="Input" data-subject="User" data-description="Your Name"
                                           data-region="Product Apply Popup" data-vertical="Broadband"
                                           data-parsley-pattern="/^[a-zA-z\s]*$/"
                                           data-parsley-pattern-message="{{ 'Your name should only consist of letters' | translate }}"
                                           class="form-control icn_name" type="text" id="name" name="name"
                                           placeholder="{{ 'Your Name' | translate }}" data-parsley-trigger="change"
                                           data-parsley-required-message="{{ 'Please enter your name' | translate }}" required
                                           data-parsley-group="block6" data-parsley-minlength="3"
                                           data-parsley-minlength-message="{{ 'Please enter your name (Min. 3 digits)' | translate }}"
                                           tabindex="1"/>
                                </div>
                                <div class="form-group">
                                    <input data-action="Input" data-subject="User" data-description="Email"
                                           data-region="Product Apply Popup" data-vertical="Broadband"
                                           class="form-control icn_email" type="email" id="email" name="email_address"
                                           placeholder="{{ 'Email' | translate }}" data-parsley-trigger="change" data-parsley-type="email"
                                           data-parsley-error-message="{{ 'A valid email address is required' | translate }}" required
                                           data-parsley-group="block6" tabindex="2"/>
                                </div>
                                <div class="form-group">
                                    <input data-action="Input" data-subject="User" data-description="Contact Number"
                                           data-region="Product Apply Popup" data-vertical="Broadband"
                                           class="form-control icn_tel" type="tel" id="phone" name="phone_number"
                                           placeholder="{{ 'Contact Number' | translate }}"

                                           data-parsley-required-message="{{ 'A valid phone number is required' | translate }}"
                                           data-parsley-trigger="change" data-parsley-type="number" required
                                           data-parsley-group="block6" data-parsley-minlength="9"
                                           data-parsley-minlength-message="{{ 'A valid phone number is required (Min. 9 digits)' | translate }}"
                                           tabindex="3"/>
                                </div>
                                {% if region == 'ph' %}
                                <div class="form-group">
                                    <select class="form-control icn_addr" name="city" id="city"
                                            data-vertical="Broadband" required data-parsley-group="block6"
                                            data-parsley-error-message="{{ 'Please choose a city' | translate }}"
                                            description="City">
                                        <option value="">Choose a city</option>
                                        <option value="Metro Manila">Metro Manila</option>
                                        <option value="Davao">Davao</option>
                                        <option value="Cebu">Cebu</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </div>
                                {% endif %}
                                {% if region === 'my' && lang === 'en' %}
                                    <!-- Hidden address field for MYEN -->
                                     <input value="Wisma UOA Damansara" class="form-control icn_addr" type="hidden" id="address" name="address"
                                    data-action="Input" data-subject="User" data-description = "Address"
                                    data-region="Product Apply Popup" data-vertical="Broadband" required
                                    placeholder="{{ 'Address' | translate }}" tabindex="4" description="Contact Address">
                                {% else %}
                                <div class="form-group">
                                    <input class="form-control icn_addr" type="text" id="address" name="address"
                                    data-action="Input" data-subject="User" data-description = "Address"
                                    data-region="Product Apply Popup" data-vertical="Broadband" required
                                    placeholder="{{ 'Address' | translate }}" tabindex="4" description="Contact Address">
                                    <br/>
                                    <p>{{ 'Example: 13-05 Blok A, Cameron Towers, Gasing Heights, Jalan 5/58B, 46000, Petaling Jaya, Selangor' | translate }}</p>
                                </div>
                                {% endif %}
                                {% if app.pdpa != "" %}
                                    <div class="checkbox font-xs">
                                        <label>
                                            <input type="checkbox" name="allow_checked" checked="" data-parsley-trigger="change" data-parsley-multiple="allow_checked" data-parsley-error-message="{{ 'Please check this box if you want to proceed' | translate }}" required data-parsley-group="block6" tabindex="-1">
                                            {{ app.pdpa | raw }}
                                        </label>
                                    </div>
                                {% endif %}
                                {% if app.marketing_consent != "" %}
                                <div class="checkbox font-xs">
                                    <label>
                                        <input type="checkbox" name="allow_consent" checked="" data-parsley-trigger="change" data-parsley-multiple="allow_consent" data-parsley-error-message="{{ 'Please check this box if you want to proceed' | translate }}" required data-parsley-group="block6" tabindex="-1">
                                        {{ app.marketing_consent | raw }}
                                    </label>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-bb-submit" data-subject="User" data-action="Submit" data-region="Plan Recommendation Apply Popup" data-vertical="Broadband" data-description="Apply Form"
							data-wait="Submitting..."
							class="btn btn-lg btn-success" type="submit"
                            tabindex="4">{{ 'Proceed' | translate }}</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
