{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/v4/css/base-critical.css"/>
<link rel="stylesheet" href="/bbrunner/css/bb-product.css">
<link rel="stylesheet" href="/v4/css/mixitup.css"/>
{% endblock %}

{% block head-script %}
{% parent %}
{#
<script>
    jQuery(document).ready(function($) {
        // VIEW PRODUCT.
        var     $product = $('div[role="main"]'),
                product_id = $product.data('nid'),
                product_name = $product.data('product_name'),
                product_brand = $product.data('provider'),
                product_category = 'Broadband',
                product_sub_category = $product.data('type'),
                product_bb_price = $product.data('price'),
                product_bb_speed = $product.data('speed'),
                lang = $('html').attr('lang'),
                track_id = typeof(userManager) != 'undefined' && typeof(userManager.data) != 'undefined' ? userManager.data.trackId : undefined,
                user_device = typeof(WURFL) != 'undefined' ? WURFL.form_factor : undefined,
                referrer_source = typeof(userManager) != 'undefined' && typeof(userManager.utms) != 'undefined' ? userManager.utms.utmcsr : undefined,
                referrer_medium = typeof(userManager) != 'undefined' && typeof(userManager.utms) != 'undefined' ? userManager.utms.utmcmd : undefined;

        dataLayer.push({
            event: 'viewProduct',
            event_lang: lang,
            content_type: 'product',
            product_id: product_id.toString(),
            product_name: product_name,
            product_brand: product_brand,
            product_category: product_category,
            product_sub_category: product_sub_category,
            product_bb_price: product_bb_price,
            product_bb_speed: product_bb_speed,
            track_id: track_id,
            user_device: user_device,
            referrer_source: referrer_source,
            referrer_medium: referrer_medium
        });

        // APPLY NOW.
        $('#apply-modal').on('show.bs.modal', function () {
            dataLayer.push({
                event: 'applyNow',
                event_lang: lang,
                product_id: product_id.toString(),
                product_name: product_name,
                product_brand: product_brand,
                product_category: 'Broadband',
                product_sub_category: product_sub_category,
                product_bb_price: product_bb_price,
                product_bb_speed: product_bb_speed,
                track_id: track_id,
                user_device: user_device,
                referrer_source: referrer_source,
                referrer_medium: referrer_medium
            });
        });

        // SUBMIT DETAILS.
        $('#applyForm').submit(function() {
            dataLayer.push({
                event: 'submitDetails',
                event_lang: lang,
                submit_type: lang + '_bb_product',
                product_id: product_id.toString(),
                product_name: product_name,
                product_brand: product_brand,
                product_category: 'Broadband',
                product_sub_category: product_sub_category,
                product_bb_price: product_bb_price,
                product_bb_speed: product_bb_speed,
                track_id: track_id,
                user_device: user_device,
                referrer_source: referrer_source,
                referrer_medium: referrer_medium
            });
        });
    });
</script>
#}
{% set product = item.attributes %}
<script>
  googletag.cmd.push(function() {

    googletag.defineSlot('/422122608/V4_728_90_Top_Leaderboard_D', [728, 90], 'div-gpt-ad-1533779671054-0').addService(googletag.pubads());
    googletag.defineSlot('/422122608/V4_320_50_Top_Leaderboard_M', [320, 50], 'div-gpt-ad-1533779759514-0').addService(googletag.pubads());
    googletag.pubads().enableSingleRequest();
    googletag.pubads().collapseEmptyDivs();
    googletag.pubads().setTargeting('Path', ['/{{ product.path_alias }}']).setTargeting('Category', ['internet']).setTargeting('Region', ['{{ app.region }}']);
    googletag.enableServices();
  });
</script>
<script>
    iAJSLoader.init([
        [
            "//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js",
            "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"
        ],
        [
            "{{ applySource[app.region] }}",
            "/v4/js/base.min.js",
            "/bbrunner/js/bb-product.min.js"
        ]
    ]);
</script>
{% endblock %}

{% block content %}
{% parent %}

<!--sticky header-->
<div class="sticky-bb-header {{ region + '-' + lang}}">
    <div class="container">
        <div class="sticky--plan-img"></div>
        <div class="sticky--plan-name"></div>
        <div class="sticky--plan-btn"></div>
    </div>
</div>


{% include 'bb-navigation-sub.html' %}
{% set provider = providerItem.attributes %}

<!-- Header -->
<header role="banner" class="header--broadband" data-region="product header" data-color="{{ provider.field_bb_provider_back_color }}">
    <div class="container">
        <h1 class="{% if product.field_ip == 2 %}fixedip{% endif %}"><span>{{ product.field_telco }} {{ product.field_product_name }}</span></h1>
        {% if product.field_broadband_type == 1 %}
        {% set bbType = 'Home' %}
        {% else %}
        {% set bbType = 'Office' %}
        {% endif %}
        <p>{{ product.field_bb_product_page_desc || 'Broadband for your ' + bbType }}</p>
        <div class="logo-holder">
            <img src="{{ product.field_logo }}" alt="{{ product.field_logo_alt }}" data-logo="{{ product.field_telco }}" class="logo-holder--img" />
        </div>
    </div>
</header>

<!-- Main Content Area -->
{{ providerData }}
<div role="main" class="container" data-imu-track="a" data-vertical="Broadband" data-subject="User" data-region="Product Content Right" data-action="Click" data-description="Button"
     data-nid="{{ product.nid }}"
     data-product_name="{{ product.field_product_name }}"
     data-provider="{{ product.field_telco }}"
     data-price="{{ product.field_monthly_fee_rm_ }}"
     data-old_price="{{ product.field_old_monthly_fee_rm_ }}"
     data-speed="{{ product.field_speed }}"
     data-type="{% if product.type == '1' %}Home{% else %}Office{% endif %}">
    <div class="bb-keypoints">
        <ul>
            <li class="col-md-3 col-xs-6">
                <i class="icon-price"></i>{{ 'Price' | translate }}
                <h4 class="bb-keypoints__price">{{ product.field_monthly_fee_rm_ | iMoney }}<span class="extra-info">/{{ 'month' | translate }}</span></h4>
                <p class="bb-keypoints__price--old">{% if region == 'my' && product.field_old_monthly_fee_rm_ %}{{ product.field_old_monthly_fee_rm_ | iMoney }}<span class="extra-info">{{ '/month' | translate }}</span>{% endif %}</span></p>
                {% if (product.field_gst).indexOf('1') != -1 %}
                <div class="bb-keypoints__gst font-xsm">{{ 'GST included' | translate }}</div>
                {% endif %}
            </li>
            <li class="col-md-3 col-xs-6"><i class="icon-speed"></i>{{ 'Speed' | translate }}<h4 class="bb-keypoints__speed">{{ product.field_speed | speed }}</h4></li>
            {#
            @TRICK: This is for the system to catch habits and broadband options.
            {{ 'High' | translate }}
            {{ 'Medium' | translate }}
            {{ 'Low' | translate }}
            #}
            <li class="col-md-3 col-xs-6"><i class="icon-coverage"></i>{{ 'Coverage' | translate }}<h4 class="bb-keypoints__coverage">{{ product.data_telco.field_bb_coverage | translate }}</h4></li>
            <li class="col-md-3 col-xs-6"><i class="icon-download"></i>{{ 'Download Quota' | translate }}<h4 class="bb-keypoints__quota">{{product.field_quota}}</h4></li>
        </ul>
    </div>

    <div class="col-md-3 col-xs-12 apply {{ region + '-' + lang }}">
        <a class="btn btn-lg btn-success{%if product.field_quick_apply_button %} btn-qab{% endif %}"
           {% if product.field_url %}target="_blank" href="{{ product.field_url }}"{% else %}data-target="#apply-modal"{% endif %}
           data-title="{{ product.title }}"
           data-toggle="modal"
           data-image="{{(product.field_logo) }}"
           data-speed="{{ product.field_speed }}"
           data-quota="{{ product.field_quota }}"
           data-price="{{product.field_monthly_fee_rm_ | iMoney }}"
           data-old_price="{{ product.field_old_monthly_fee_rm_ | iMoney }}"
           data-nid="{{product.nid}}"
           data-subject="User"
           data-action="Click"
           data-description="Apply Button"
           data-region="Product Content Right"
           data-vertical="Broadband"
           data-value="{{product.title}}">{% if product.field_apply_button_text %}{{ product.field_apply_button_text | safe }}{% else %}{{ 'Apply Now' | translate }}{% endif %}</a>
    </div>
    <div class="row">
        <div class="bb-content col-md-9 col-xs-12">
            <div class="ad-wrap">
                <div class="ad ad--leaderboard">
                    <!-- /422122608/V4_728_90_Top_Leaderboard_D -->
                    <div id='div-gpt-ad-1533779671054-0' style='height:90px; width:728px;'>
                        <script>
                          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1533779671054-0'); });
                        </script>
                    </div>
                </div>

                <div class="ad ad--leaderboard ad--leaderboard__mobile">
                    <!-- /422122608/V4_320_50_Top_Leaderboard_M -->
                    <div id='div-gpt-ad-1533779759514-0' style='height:50px; width:320px;'>
                        <script>
                          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1533779759514-0'); });
                        </script>
                    </div>
                </div>
            </div>

            {% if product.field_bb_package_details && product.field_bb_package_details.length %}
            <!-- Astro TV packages selections -->
            {% set package_detail = product.field_bb_package_details %}
            <h3><i class="icn_tv"></i>{{ 'Choose your package' | translate }}</h3>
            <ul class="btns-radio" data-imu-track="input[type=radio]" data-subject="User" data-action="Input"
                data-description="Choosen Astro IPTV Package" data-region="Product Content Main"
                data-vertical="Broadband">
                {% for package in package_detail %}
                {% if package.field_bb_package_status %}
                {{ package.price }}
                <li>
                    <input type="radio" name="package" id="{{ package.field_bb_package_title | url_encode }}" value="{{ package.field_bb_package_title }}" data-sum="{{ (Number(product.field_monthly_fee_rm_) + Number(package.field_bb_additional_price)).toFixed(2) | iMoney }}" data-addon="{{ package.field_bb_additional_price }}" data-abs="{{ Math.abs(package.field_bb_additional_price) | iMoney }}" data-addontype="{{ 'Additional cost' | translate }}" required tabindex="-1" checked="checked"/>
                    <label for="{{ package.field_bb_package_title | url_encode }}">
                        <h4>{{ package.field_bb_package_title }}<span>{{ package.field_bb_additional_price | iMoney }}</span></h4>
                        {% if package.field_bb_package_detail.length %}
                        <ul>
                            {% for detail in package.field_bb_package_detail %}
                            <li>{{ detail }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </label>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            <table>
                <colgroup>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <tr>
                    <td id="price-bb" data-price="{{ product.field_monthly_fee_rm_ }}"><h4>{{ product.field_monthly_fee_rm_ | iMoney }}</h4><span class="extra-info">{{ 'Price for broadband' | translate }}</span>
                    </td>
                    <td id="price-package"><h4>0</h4><span class="extra-info">Price for {{ package.field_bb_package_title }}</span></td>
                    <td id="price-total"><h4 class="color-complement"><span>{{ 'Total' | translate }}</span> {{ product.field_monthly_fee_rm_ | iMoney }}</h4>
                        {% if (product.field_gst).indexOf('1') == -1 %}
                        <span class="extra-info">{{ 'Per month' | translate }}</span>
                        {% endif %}
                    </td>
                </tr>
            </table>
            <!-- End : Astro TV packages selections -->
            {% endif %}
            <h3><i class="icn_speed"></i>{{ 'Speed' | translate }}</h3>

            <div class="hidden-xs">
                <table>
                    <colgroup>
                        <col span="2">
                        <col span="2">
                    </colgroup>
                    <tr>
                        <th colspan="2">{{ 'Download a song' | translate }}</th>
                        <th colspan="2">{{ 'Download a movie' | translate }}</th>
                    </tr>
                    <tr>
                        <td class="subheader">{{ 'CD Quality' | translate }}</td>
                        <td class="subheader">{{ 'Best Quality' | translate }}</td>
                        <td class="subheader">{{ 'SD (1.5GB)' | translate }}</td>
                        <td class="subheader">{{ 'HD (4GB)' | translate }}</td>
                    </tr>
                    <tr>
                        <td>{{ '@sec secs' | translate(null, {'@sec': product.cd}) }}</td>
                        <td>{{ '@sec secs' | translate(null, {'@sec': product.best}) }}</td>
                        <td>{{ '@min mins' | translate(null, {'@min': product.sd}) }}</td>
                        <td>{{ '@min mins' | translate(null, {'@min': product.hd}) }}</td>
                    </tr>
                </table>
            </div>
            <!--- Speed table for Mobile screen -->
            <div class="visible-xs">
                <table>
                    <colgroup>
                        <col>
                        <col>
                    </colgroup>
                    <tr>
                        <th>{{ 'Download a song' | translate }}</th>
                        <th>{{ 'Download a movie' | translate }}</th>
                    </tr>
                    <tr>
                        <td class="subheader">{{ 'CD Quality' | translate }}</td>
                        <td class="subheader">{{ 'SD (1.5GB)' | translate }}</td>
                    </tr>
                    <tr>
                        <td>{{ '@sec secs' | translate(null, {'@sec': product.cd}) }}</td>
                        <td>{{ '@min mins' | translate(null, {'@min': product.sd}) }}</td>
                    </tr>
                    <tr>
                        <td class="subheader">{{ 'Best Quality' | translate }}</td>
                        <td class="subheader">{{ 'HD (4GB)' | translate }}</td>
                    </tr>
                    <tr>
                        <td>{{ '@sec secs' | translate(null, {'@sec': product.best}) }}</td>
                        <td>{{ '@min mins' | translate(null, {'@min': product.hd}) }}</td>
                    </tr>
                </table>
            </div>
            <p class="disclaimer">{{ '* Movie file size based on iTunes Movies.' | translate }}</p>

            <p class="disclaimer">{{ '* Download time estimates based on maximum connection speeds. Actual speeds will vary.' | translate }}</p>
            <br>
            <strong>{{ 'This broadband is ideal for...' | translate }}</strong>

            <div class="row">
                <ul class="ideal-usage">

                    {% if product.field_broadband_type == 1 %}
                    <li class="bb-type"><i class="icn_home"></i>{{ 'Your Home' | translate }}</li>
                    {% else %}
                    <li class="bb-type"><i class="icn_office"></i>{{ 'Your Office' | translate }}</li>
                    {% endif %}


                    {% if (product.field_ideal_usage).indexOf('1') !== -1 %}
                    <li class="is-ideal"><i class="icn_browse"></i>{{ 'Web browsing' | translate }}</li>
                    {% else %}
                    <li class="not-ideal"><i class="icn_browse"></i>{{ 'Web browsing' | translate }}</li>
                    {% endif %}

                    {% if (product.field_ideal_usage).indexOf('2') !== -1 %}
                    <li class="is-ideal"><i class="icn_email"></i>{{ 'Check emails' | translate }}</li>
                    {% else %}
                    <li class="not-ideal"><i class="icn_email"></i>{{ 'Check emails' | translate }}</li>
                    {% endif %}

                    {% if (product.field_ideal_usage).indexOf('3') !== -1 %}
                    <li class="is-ideal"><i class="icn_facebook"></i>{{ 'Facebook' | translate }}</li>
                    {% else %}
                    <li class="not-ideal"><i class="icn_facebook"></i>{{ 'Facebook' | translate }}</li>
                    {% endif %}
                    {% if (product.field_ideal_usage).indexOf('4') !== -1 %}
                    <li class="is-ideal"><i class="icn_twitter"></i>{{ 'Twitter' | translate }}</li>
                    {% else %}
                    <li class="not-ideal"><i class="icn_twitter"></i>{{ 'Twitter' | translate }}</li>
                    {% endif %}
                    {% if (product.field_ideal_usage).indexOf('5') !== -1 %}
                    <li class="is-ideal"><i class="icn_spotify"></i>{{ 'Spotify' | translate }}</li>
                    {% else %}
                    <li class="not-ideal"><i class="icn_spotify"></i>{{ 'Spotify' | translate }}</li>
                    {% endif %}
                    {% if (product.field_ideal_usage).indexOf('6') !== -1 %}
                    <li class="is-ideal"><i class="icn_skype"></i>{{ 'Skype' | translate }}</li>
                    {% else %}
                    <li class="not-ideal"><i class="icn_skype"></i>{{ 'Skype' | translate }}</li>
                    {% endif %}
                    {% if (product.field_ideal_usage).indexOf('7') !== -1 %}
                    <li class="is-ideal"><i class="icn_youtube"></i>{{ 'Watch YouTube' | translate }}</li>
                    {% else %}
                    <li class="not-ideal"><i class="icn_youtube"></i>{{ 'Watch YouTube' | translate }}</li>
                    {% endif %}
                    {% if (product.field_ideal_usage).indexOf('8') !== -1 %}
                    <li class="is-ideal"><i class="icn_download"></i>{{ 'Downloading' | translate }}</li>
                    {% else %}
                    <li class="not-ideal"><i class="icn_download"></i>{{ 'Downloading' | translate }}</li>
                    {% endif %}
                    {% if (product.field_ideal_usage).indexOf('9') !== -1 %}
                    <li class="is-ideal"><i class="icn_filetrnx"></i>{{ 'File Transfer' | translate }}</li>
                    {% else %}
                    <li class="not-ideal"><i class="icn_filetrnx"></i>{{ 'File Transfer' | translate }}</li>
                    {% endif %}
                    {% if (product.field_ideal_usage).indexOf('10') !== -1 %}
                    <li class="is-ideal"><i class="icn_videoconf"></i>{{ 'Video Conference' | translate }}</li>
                    {% else %}
                    <li class="not-ideal"><i class="icn_videoconf"></i>{{ 'Video Conference' | translate }}</li>
                    {% endif %}
                    {% if (product.field_ideal_usage).indexOf('11') !== -1 %}
                    <li class="is-ideal"><i class="icn_gaming"></i>{{ 'Online Gaming' | translate }}</li>
                    {% else %}
                    <li class="not-ideal"><i class="icn_gaming"></i>{{ 'Online Gaming' | translate }}</li>
                    {% endif %}
                </ul>
            </div>


            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {% if product.field_voice.length %}
                    <h3><i class="icn_phone"></i>{{ 'Voice Calls' | translate }}</h3>
                    <ul>
                        {% for voice in product.field_voice %}
                        <li class="list-greentick">{{voice}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    {% if product.field_equipment != "" %}
                    <h3><i class="icn_package"></i>{{ 'Packaged Hardware' | translate }}</h3>
                    <ul>
                        {% for key, val in product.field_equipment %}
                        <li class="list-greentick">{{val}}</li>
                        {%endfor%}
                    </ul>
                    {% endif %}
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    {% if product.field_iptv != "" %}
                    <h3><i class="icn_tv"></i>{{ 'IPTV' | translate }}</h3>
                    <ul>
                        {% for key, val in product.field_iptv %}
                        <li class="list-greentick">{{val}}</li>
                        {%endfor%}
                    </ul>
                    {% endif %}
                    <h3><i class="icn_fees"></i>{{ 'Fees &amp; Charges' | translate }}</h3>
                    <ul>
                        {% if product.field_installation_fee %}<li class="list-greentick">{{ 'Installation Fee' | translate }}: {{product.field_installation_fee}}</li>{% endif %}
                        {% if product.field_other_fees %}<li class="list-greentick">{{ 'Other Fees' | translate }}: {{product.field_other_fees}}</li>{% endif %}
                        {% if product.field_termination_policy %}<li class="list-greentick">{{ 'Termination Policy' | translate }}: {{product.field_termination_policy}}</li>{% endif %}
                    </ul>
                </div>
            </div>
        </div>

        <aside class="col-md-3 col-xs-12" data-vertical="Broadband" data-subject="User" data-action="Click"
               data-description="Link">
            {% if cheaper %}
            {% set cheaperProduct = cheaper.attributes %}
            <h4>{{ 'Need something <span>cheaper</span>?' | translate | safe }}</h4>
            <a href="{{ base }}{{ cheaperProduct.path_alias }}"
               class="suggest-cheaper"
               data-description="Product Title"
               data-value="{{ cheaperProduct.title }}"
               data-region="Product Recommend Cheaper">
                <div class="suggested__bb">
                    <div class="suggested__bb--title">
                        <img src="{{ cheaperProduct.field_logo }}">

                        <p>{{ cheaperProduct.title }}</p>
                    </div>
                    <div class="suggested__bb--info suggested__bb--speed">{{ 'Speed' | translate }}<br><strong>{{ cheaperProduct.field_speed | speed }}</strong></div>
                    <div class="suggested__bb--info suggested__bb--price">
                        {{ 'Price' | translate }}<br><strong>{{ cheaperProduct.field_monthly_fee_rm_ | iMoney }}</strong>
                        <!-- Slashed price -->
                        {% if region == 'my' && cheaperProduct.field_old_monthly_fee_rm_ %}
                        <br>
                        <p class="suggested__bb--price-old">
                            <strong>{{ cheaperProduct.field_old_monthly_fee_rm_ | iMoney }}</strong>
                        </p>
                        {% endif %}
                    </div>
                </div>
            </a>
            {% endif %}
            {% if faster.length %}
            <h4>{{ 'Need something <span>faster</span>?' | translate | safe }}</h4>
            {% for fasterItem in faster %}
            {% set fasterProduct = fasterItem.attributes %}
            <a href="{{ base }}{{ fasterProduct.path_alias }}"
               class="suggest-first"
               data-description="Product Title"
               data-value="{{ fasterProduct.title }}"
               data-region="Product Recommend Faster">
                <div class="suggested__bb">
                    <div class="suggested__bb--title">
                        <img src="{{ fasterProduct.field_logo }}">

                        <p>{{ fasterProduct.title }}</p>
                    </div>
                    <div class="suggested__bb--info suggested__bb--speed">{{ 'Speed' | translate }}<br><strong>{{ fasterProduct.field_speed | speed }}</strong></div>
                    <div class="suggested__bb--info suggested__bb--price">
                        {{ 'Price' | translate }}<br><strong>{{ fasterProduct.field_monthly_fee_rm_ | iMoney }}</strong>
                        <!-- Slashed price -->
                        {% if region == 'my' && fasterProduct.field_old_monthly_fee_rm_ %}
                        <br>
                        <p class="suggested__bb--price-old">
                            <strong>{{ fasterProduct.field_old_monthly_fee_rm_ | iMoney }}</strong>
                        </p>
                        {% endif %}
                    </div>

                </div>
            </a>
            {% endfor %}
            {% endif %}
        </aside>
        <!-- sidebar ends -->
    </div>
    <!-- Main Content Area ends -->

    <!-- Product Review Area -->
    {% if product.field_product_review != "" %}
    <div class="section--lightgrey">
        <div>
            <span class="divider divider--left"></span>
            <img src="/v4/img/icon-review.svg" width="46">
            <span class="divider divider--right"></span>
        </div>
        <h3><strong>{{ 'Product Review</strong> by <img src="/v4/img/my/imoney-logo.svg" alt="iMoney" width="84">' | translate | safe }}</h3>
    </div>

    <div class="review">
        {{(product.field_product_review) | markdown }}
    </div>
    {% endif %}
    <div class="clearfix visible-xs-block"></div>
</div>


<!-- Modal for Apply Pressed -->
<div id="apply-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="close-wrap animated fadeInDown">
            <a href="#" class="close-btn" data-dismiss="modal"><i></i>Close</a>
        </div>
        <div class="modal-content" data-imu-track="input, button[type=submit]" data-region="Product Apply Popup"
             data-vertical="Broadband">
            <form method="get" action="" id="applyForm" data-parsley-validate data-thankyou="{{ base }}{{ app.urls['bb-thankyou'] }}">
                <div class="modal-header text-center">
                    {% if region == 'my' && lang == 'en' %}
                    <h4 class="modal-title" id="myModalLabel">{{ 'Just leave your details and let us find you the best possible deal' | translate }}</h4>
                    {% else %}
                    <h4 class="modal-title" id="myModalLabel">{{ 'This is the package you have chosen' | translate }}</h4>
                    {% endif %}
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <div class="applying-img"><img src="/bbrunner/img/logo_astro@2x.png"></div>
                            <div class="applying-name"><h5></h5></div>
                            <div class="row">
                                <div class="col-sm-6 col-xs-6">
                                    <strong class="font-xsm">{{ 'SPEED' | translate }}: </strong>

                                    <p class="applying-speed">10Mbps</p>
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <strong class="font-xsm">{{ 'QUOTA' | translate }}: </strong>

                                    <p class="applying-quota">Unlimited</p>
                                </div>
                            </div>
                            <div class="applying-price font-xxlg" data-month="{{ 'month' | translate }}"></div>
                            <div class="applying-price-old"></div>
                        </div>
                        <div class="col-sm-8 col-xs-12">
                            {% if region === 'my' && lang === 'en' %}
                            <!-- No description for MYEN -->
                            {% else %}
                                <p>{{ 'Please provide your contact details so that we can help you proceed with the application.' | translate }}</p>
                            {% endif %}

                            <div class="capture">
                                <div class="form-group">
                                    <input data-action="Input" data-subject="User" data-description="Your Name"
                                           data-region="Product Apply Popup" data-vertical="Broadband"
                                           data-parsley-pattern="/^[a-zA-z\s]*$/"
                                           data-parsley-pattern-message="{{ 'Your name should only consist of letters' | translate }}"
                                           class="form-control icn_name" type="text" id="name" name="name"
                                           placeholder="{{ 'Your Name' | translate }}" data-parsley-trigger="change"
                                           data-parsley-required-message="{{ 'Please enter your name' | translate }}" required
                                           data-parsley-group="block6" data-parsley-minlength="3"
                                           data-parsley-minlength-message="{{ 'Please enter your name (Min. 3 digits)' | translate }}"
                                           tabindex="1"/>
                                </div>
                                <div class="form-group">
                                    <input data-action="Input" data-subject="User" data-description="Email"
                                           data-region="Product Apply Popup" data-vertical="Broadband"
                                           class="form-control icn_email" type="email" id="email" name="email_address"
                                           placeholder="{{ 'Email' | translate }}" data-parsley-trigger="change" data-parsley-type="email"
                                           data-parsley-error-message="{{ 'A valid email address is required' | translate }}" required
                                           data-parsley-group="block6" tabindex="2"/>
                                </div>
                                <div class="form-group">
                                    <input data-action="Input" data-subject="User" data-description="Contact Number"
                                           data-region="Product Apply Popup" data-vertical="Broadband"
                                           class="form-control icn_tel" type="tel" id="phone" name="phone_number"
                                           placeholder="{{ 'Contact Number' | translate }}"

                                           data-parsley-required-message="{{ 'A valid phone number is required' | translate }}"
                                           data-parsley-trigger="change" data-parsley-type="number" required
                                           data-parsley-group="block6" data-parsley-minlength="9"
                                           data-parsley-minlength-message="{{ 'A valid phone number is required (Min. 9 digits)' | translate }}"
                                           tabindex="3"/>
                                </div>
                                {% if region == 'ph' %}
                                <div class="form-group">
                                    <select class="form-control icn_addr" name="city" id="city"
                                            data-vertical="Broadband" required data-parsley-group="block6"
                                            data-parsley-error-message="{{ 'Please choose a city' | translate }}"
                                            description="City">
                                        <option value="">Choose a city</option>
                                        <option value="Metro Manila">Metro Manila</option>
                                        <option value="Davao">Davao</option>
                                        <option value="Cebu">Cebu</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </div>
                                {% endif %}
                                {% if region === 'my' && lang === 'en' %}
                                <!-- Hidden address field for MYEN -->
                                    <input value="Wisma UOA Damansara" class="form-control icn_addr" type="hidden" id="address" name="address"
                                    data-action="Input" data-subject="User" data-description = "Address"
                                    data-region="Product Apply Popup" data-vertical="Broadband" required
                                    placeholder="{{ 'Address' | translate }}" tabindex="4" description="Contact Address">
                                {% else %}
                                <div class="form-group">
                                    <input class="form-control icn_addr" type="text" id="address" name="address"
                                    data-action="Input" data-subject="User" data-description = "Address"
                                    data-region="Product Apply Popup" data-vertical="Broadband" required
                                    placeholder="{{ 'Address' | translate }}" tabindex="4" description="Contact Address">
                                    <br/>
                                    <p>{{ 'Example: 13-05 Blok A, Cameron Towers, Gasing Heights, Jalan 5/58B, 46000, Petaling Jaya, Selangor' | translate }}</p>
                                </div>
                                {% endif %}
                                {% if app.pdpa != "" %}
                                    <div class="checkbox font-xs">
                                        <label>
                                            <input type="checkbox" name="allow_checked" checked="" data-parsley-trigger="change" data-parsley-multiple="allow_checked" data-parsley-error-message="{{ 'Please check this box if you want to proceed' | translate }}" required data-parsley-group="block6" tabindex="-1">
                                            {{ app.pdpa | raw }}
                                        </label>
                                    </div>
                                {% endif %}
                                {% if app.marketing_consent != "" %}
                                <div class="checkbox font-xs">
                                    <label>
                                        <input type="checkbox" name="allow_consent" checked="" data-parsley-trigger="change" data-parsley-multiple="allow_consent" data-parsley-error-message="{{ 'Please check this box if you want to proceed' | translate }}" required data-parsley-group="block6" tabindex="-1">
                                        {{ app.marketing_consent | raw }}
                                    </label>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-bb-submit" data-subject="User" data-value="{{product.title}}"
                            data-action="Submit" data-description="Apply Form" data-region="Product Apply Popup" data-vertical="Broadband" class="btn btn-lg btn-success" type="submit"
                            tabindex="4">{{ 'Proceed' | translate }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{#% include 'localize.html' with {'block': 'ss-thankyou-popup'} %#}
{% endblock %}
{% block footer-script %}
<!--[if lte IE 9]>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script src="/js/homepage.min.js"></script>
<script src="/js/base.min.js"></script>
<script src="//cdn.optimizely.com/js/2356000143.js"></script>
<![endif]-->
{% endblock %}
