{% extends 'base.html' %}
{% set provider = item.attributes %}
{% block css %}
{# For AMP test page for MyRepublic #}
{% if provider.nid == "495" && region == "sg" %}
<link rel="amphtml" href="https://www.imoney.sg/broadband/myrepublic/amp">
{% endif %}
{# End for AMP test page #}

<link rel="stylesheet" href="/v4/css/base-critical.css"/>
<link rel="stylesheet" href="/bbrunner/css/bb-provider.css">
<link rel="stylesheet" href="/v4/css/mixitup.css"/>
{% endblock %}

{% block head-script %}
{% parent %}
<script>
    window.ParsleyConfig = {
        errorsWrapper: '<div></div>',
        errorTemplate: '<span class="color-red font-xsm"></span>'
    };
</script>
<script>
  googletag.cmd.push(function() {

    googletag.defineSlot('/422122608/V4_728_90_Top_Leaderboard_D', [728, 90], 'div-gpt-ad-1533779671054-0').addService(googletag.pubads());
    googletag.defineSlot('/422122608/V4_320_50_Top_Leaderboard_M', [320, 50], 'div-gpt-ad-1533779759514-0').addService(googletag.pubads());
    googletag.pubads().enableSingleRequest();
    googletag.pubads().collapseEmptyDivs();
    googletag.pubads().setTargeting('Path', ['/{{ app.urls["bb-provider"] }}']).setTargeting('Category', ['internet']).setTargeting('Region', ['{{ app.region }}']);
    googletag.enableServices();
  });
</script>
<script>
    iAJSLoader.init([
        [
            "//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js",
            "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"
        ],
        [
            "/v4/js/base.min.js",
            "//cdnjs.cloudflare.com/ajax/libs/parsley.js/2.0.4/parsley.min.js"
        ],
        [
            "{{ applySource[app.region] }}",
            "/bbrunner/js/bb-provider.min.js"
        ]
    ]);
</script>
{#
<script>
    jQuery(document).ready(function($) {
        // VIEW PRODUCT LIST.
        var     $productList = $('.broadband-wrapper').children('.provider'),
                product_id = [],
                product_name = [],
                product_brand = [],
                product_category = [],
                product_sub_category = [],
                product_bb_price = [],
                product_bb_speed = [],
                lang = $('html').attr('lang'),
                track_id = typeof(userManager) != 'undefined' && typeof(userManager.data) != 'undefined' ? userManager.data.trackId : undefined,
                user_device = typeof(WURFL) != 'undefined' ? WURFL.form_factor : undefined,
                referrer_source = typeof(userManager) != 'undefined' && typeof(userManager.utms) != 'undefined' ? userManager.utms.utmcsr : undefined,
                referrer_medium = typeof(userManager) != 'undefined' && typeof(userManager.utms) != 'undefined' ? userManager.utms.utmcmd : undefined;

        $productList.each(function(index, el) {
            var $element = $(el);
            var subCategory = $element.data('type');
            product_id.push($element.data('nid'));
            product_name.push($element.data('product_name'));
            product_brand.push($element.data('provider'));
            product_category.push('Broadband');
            product_sub_category.push(subCategory);
            product_bb_price.push($element.data('price'));
            product_bb_speed.push($element.data('speed'));
        });

        dataLayer.push({
            event: 'viewProductList',
            event_lang: lang,
            list_type: 'provider',
            list_name: $('body').data('path'),
            list_size: $productList.length,
            product_id: product_id.toString(),
            product_name: product_name,
            product_brand: product_brand,
            product_category: product_category,
            product_sub_category: product_sub_category,
            product_bb_price: product_bb_price,
            product_bb_speed: product_bb_speed,
            track_id: track_id,
            user_device: user_device,
            referrer_source: referrer_source,
            referrer_medium: referrer_medium
        });

        // APPLY NOW.
        $('#apply-modal').on('show.bs.modal', function (event) {
            var $button = $(event.relatedTarget); // Button that triggered the modal
            var $product = $button.closest('.provider');
            var subCategory = $product.data('type');
            dataLayer.push({
                event: 'applyNow',
                event_lang: lang,
                product_id: $product.data('nid').toString(),
                product_name: $product.data('product_name'),
                product_branch: $product.data('provider'),
                product_category: 'Broadband',
                product_sub_category: subCategory,
                product_bb_price: $product.data('price'),
                product_bb_speed: $product.data('speed'),
                track_id: track_id,
                user_device: user_device,
                referrer_source: referrer_source,
                referrer_medium: referrer_medium
            });

            // SUBMIT DETAILS.
            $('#applyForm').on('submit.submitDetail', function(e) {
                dataLayer.push({
                    event: 'submitDetails',
                    event_lang: lang,
                    submit_type: lang + '_bb_provider',
                    product_id: $product.data('nid').toString(),
                    product_name: $product.data('product_name'),
                    product_branch: $product.data('provider'),
                    product_category: 'Broadband',
                    product_sub_category: subCategory,
                    product_bb_price: $product.data('price'),
                    product_bb_speed: $product.data('speed'),
                    track_id: track_id,
                    user_device: user_device,
                    referrer_source: referrer_source,
                    referrer_medium: referrer_medium
                });
            });
        }).on('hide.bs.modal', function (event) {
            $('#applyForm').off('submit.submitDetail');
        });
    });
</script>
#}
{% endblock %}

{% block content %}
{% parent %}

<!--sticky header-->
<div class="sticky-cc-anchor">
    <a href="#provider"><i class="bband"></i>

        <div>{{ 'Browse All @telco Packages' | translate(null,{'@telco': provider.field_telco}) }}</div>
    </a>
    <a href="#promo"><i class="promo"></i><div>{{ 'Promotions' | translate }}</div></a>
    <a href="#info"><i class="info"></i><div>{{ 'FAQ' | translate }}</div></a>
</div>

<!--broadband hero-->
<header role="banner" class="header-provider__bg" data-region="product header" style='background-color: {{ provider.field_bb_provider_back_color }};'>
    <div class="container">
        <div class="header-provider__wrapper">
            <div class="row">
                <div class="col-md-3">
                    <!-- Header background color will change according to data-logo -->
                    <img src="{{ provider.field_bb_provider_image }}" />
                </div>

                <div class="col-md-9">
                    <h1 class="header-provider__title">{{ provider.title }}<div class="dropdown">
                        <button class="btn dropdown-toggle btn-view-other" type="button" data-toggle="dropdown">{{ 'View other provider' | translate }}<span data-subject="User" data-action="Click" data-description="Provider List" data-region="Provider Listing Top" data-vertical="Broadband" class="caret"></span></button>
                        <ul class="dropdown-menu auto-h">
                            {% for product in providerList.models %}
                            {% set providerItem = product.attributes %}
                            <li>
                                <a href="{{ base }}{{ app.urls['bb-listing'] }}/{{ providerItem.machine_name }}">{{ providerItem.field_telco }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    </h1>
                    <div class="header-provider__feature">{{ provider.field_bb_provider_description | safe }}</div>
                </div>
            </div>
        </div>
    </div>
</header>

<!--main content area-->
<div class="provider-product">
    <div class="container">
        <div role="main">
            <!--total broadband products-->
            <div id="provider" class="cc-total" data-provider="{{ provider.field_telco }}">{{ 'Showing all @count @telco Broadband plans' | translate(null, {'@count': products.length, '@telco': provider.field_telco}) }}</div>

            <!--broadband-->
            <div class="broadband-wrapper">
                {% for key, item in products %}
                {% set product = item.attributes %}
                {% if key == 2 %}
                <div class="ad ad--leaderboard">
                    <!-- /422122608/V4_728_90_Top_Leaderboard_D -->
                    <div id='div-gpt-ad-1533779671054-0' style='height:90px; width:728px;'>
                        <script>
                          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1533779671054-0'); });
                        </script>
                    </div>
                </div>

                <div class="ad ad--leaderboard ad--leaderboard__mobile">
                    <!-- /422122608/V4_320_50_Top_Leaderboard_M -->
                    <div id='div-gpt-ad-1533779759514-0' style='height:50px; width:320px;'>
                        <script>
                          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1533779759514-0'); });
                        </script>
                    </div>
                </div>
                {% endif %}
                {% if key == 3 && provider.field_bb_provider_promo %}
                <!--provider promo-->
                <div id="promo" class="provider-promo" data-imu-track="a" style="background-color: {{ provider.field_bb_provider_promo_color }}">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="{{ provider.field_bb_provider_promo_image }}" />
                        </div>
                        <div class="col-md-5">
                            <h5>{{ 'Promotion' | translate }}</h5>
                            <h2>{{ provider.field_bb_provider_promo_title }}</h2>
                            <p>{{ provider.field_bb_provider_promo_desc | safe }}</p>
                        </div>
                        <div class="col-md-2">
                            <a href="{{ provider.field_bb_provider_promo_url }}"
                               data-subject="User"
                               data-action="Click"
                               data-description="Promo Button"
                               data-value="{{ provider.field_telco }} More Details"
                               data-region="Provider Listing Page"
                               data-vertical="Broadband"
                               class="btn btn-lg btn-apply">{{ 'More details' | translate }}</a>
                        </div>
                    </div>
                </div>
                <!--end provider promo-->
                {% endif %}
                <div data-score="{{ product.field_bb_score }}" class="{{ product.class }} provider{% if product.field_promo %} promo{% endif %} {{ region + '-' + lang }}" data-imu-track="a"
                     data-title="{{ product.title }}"
                     data-product_name="{{ product.field_product_name }}"
                     data-provider="{{ product.field_telco }}"
                     data-speed="{{ product.field_speed }}"
                     data-quota="{{ product.field_quota }}"
                     data-nid="{{ product.nid }}"
                     data-type="{% if product.field_broadband_type == "1" %}Home{% else %}Office{% endif %}"
                data-price="{{ product.field_monthly_fee_rm_ }}">
                <div class="row">
                    <div class="col-md-2">
                        <img src="{{ product.field_logo }}" />
                        <div class="provider-details">{% if product.field_broadband_type != 1 %}Business{% endif %} {{ product.field_speed | speed }}</div>
                    </div>
                    <div class="col-md-3">
                        <a href="{{ base }}{{ product.path_alias }}"
                           data-subject="User"
                           data-action="Click"
                           data-description="Product Title"
                           data-value="{{ product.title }}"
                           data-region="Provider Listing Page"
                           data-vertical="Broadband"
                           class="provider__title">{{ product.title }}</a>
                        <ul>
                            {% if product.field_bonus_features_1 != '' %}<li class="list-greentick">{{ product.field_bonus_features_1 }}</li>{% endif %}
                            {% if product.field_bonus_features_2 != '' %}<li class="list-greentick">{{ product.field_bonus_features_2 }}</li>{% endif %}
                            {% if product.field_bonus_features_3 != '' %}<li class="list-greentick">{{ product.field_bonus_features_3 }}</li>{% endif %}
                        </ul>
                    </div>
                    <div class="col-md-5">
                        <ul class="provider__keypoints">
                            <li>
                                <p>{{ 'Speed' | translate }}</p>
                                <h4>{{ product.field_speed | speed }}</h4>
                            </li>
                            <li>
                                <p>{{ 'Coverage' | translate }}</p>
                                {#
                                @TRICK: This is for the system to catch habits and broadband options.
                                {{ 'High' | translate }}
                                {{ 'Medium' | translate }}
                                {{ 'Low' | translate }}
                                #}
                                <h4>{{ item.get('data_telco').field_bb_coverage | translate }}</h4>
                            </li>
                            <li>
                                <p>{{ 'Download Quota' | translate }}</p>
                                <h4>{{ product.field_quota }}</h4>
                            </li>
                            <li>
                                <p>{{ 'Price' | translate }}</p>
                                <h4>{{ product.field_monthly_fee_rm_ | iMoney }}
                                    <small>{{ '/month' | translate }}</small>
                                </h4>
                                <p class="provider__keypoints-old-price">{% if region == 'my' && product.field_old_monthly_fee_rm_ %}{{ product.field_old_monthly_fee_rm_ | iMoney }}{{ '/month' | translate }}{% endif %}</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <!--apply button-->
                        <a class="btn btn-lg btn-apply{%if product.field_quick_apply_button %} btn-qab{% endif %}" data-toggle="modal"
                           {% if product.field_url %}target="_blank" href="{{ product.field_url }}"{% else %}data-target="#apply-modal"{% endif %}
                           data-url = "{{ product.path_alias }}"
                           data-image="{{ product.field_logo }}"
                           data-title="{{ product.title }}"
                           data-speed="{{ product.field_speed }}"
                           data-quota="{{ product.field_quota }}"
                           data-nid="{{ product.nid }}"
                           data-subject="User"
                           data-action="Click"
                           data-region = "Provider Listing Main"
                           data-description= "Apply Button"
                           data-vertical="Broadband"
                           data-value="{{ product.title }}"
                           data-price="{{ product.field_monthly_fee_rm_ | iMoney }}"
                           data-old_price="{{ product.field_old_monthly_fee_rm_ | iMoney }}"
                        >{% if product.field_apply_button_text %}{{ product.field_apply_button_text | safe }}{% else
                            %}{{ 'Apply Now' | translate }}{% endif %}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!--#END MAIN-->
<div class="text-center">
    <a class="btn btn-see-all" href="{{ base }}{{ app.urls['bb-listing'] }}"><i></i><span>{{ 'See all Broadband plans' | translate }}</span></a>
</div>

<div id="info" class="general-info">
    <div class="container">
        <div class="general-info__why-this-bank">{{ provider.field_bb_provider_faq | safe }}</div>
    </div>
</div>


<!-- Modal for Apply Pressed -->
<div id="apply-modal" class="modal modal-default fade" data-month="{{ '/month' | translate }}">
    <div class="modal-dialog">
        <div class="close-wrap animated fadeInDown">
            <a href="#" class="close-btn" data-dismiss="modal"><i></i>Close</a>
        </div>
        <div class="modal-content" data-imu-track="input, button[type=submit]">
            <form method="get" action="https://www.tm.com.my/office/Pages/default.aspx" id="applyForm" data-thankyou="{{ base + app.urls['bb-thankyou'] }}" data-parsley-validate>
                <div class="modal-header text-center">
                    {% if region == 'my' && lang == 'en' %}
                    <h4 class="modal-title" id="myModalLabel">{{ 'Just leave your details and let us find you the best possible deal' | translate }}</h4>
                    {% else %}
                    <h4 class="modal-title" id="myModalLabel">{{ 'This is the package you have chosen' | translate }}</h4>
                    {% endif %}
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <div class="applying-img"></div>
                            <div class="applying-name"><h5></h5></div>
                            <div class="row">
                                <div class="col-sm-6 col-xs-6">
                                    <strong class="font-xsm">{{ 'SPEED' | translate }}: </strong>
                                    <p class="applying-speed"></p>
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <strong class="font-xsm">{{ 'QUOTA' | translate }}: </strong>
                                    <p class="applying-quota"></p>
                                </div>
                            </div>
                            <div class="applying-price font-xxlg"></div>
                            <div class="applying-price-old"></div>
                        </div>
                        <div class="col-sm-8 col-xs-12">
                            {% if region === 'my' && lang === 'en' %}
                            <!-- No description for MYEN -->
                            {% else %}
                                <p>{{ 'Please provide your contact details so that we can help you proceed with the application.' | translate }}</p>
                            {% endif %}
                            <div class="capture" data-subject="User" data-action="Input"  data-region="Provider Apply Psopup" data-vertical="Broadband">
                                <div class="form-group">
                                    <input data-parsley-pattern="/^[a-zA-z\s]*$/" data-parsley-pattern-message="{{ 'Your name should only consist of letters' | translate }}" class="form-control icn_name" type="text" id="name" name="name" placeholder="{{ 'Your Name' | translate }}" data-parsley-trigger="change" data-parsley-required-message="{{ 'Please enter your name' | translate }}" required data-parsley-group="block6" data-parsley-minlength="3" data-parsley-minlength-message="{{ 'Please enter your name (Min. 3 digits)' | translate }}" tabindex="1" data-description = "Your Name">
                                </div>
                                <div class="form-group">
                                    <input class="form-control icn_email" type="email" id="email" data-description = "Email" name="email_address" placeholder="{{ 'Email' | translate }}" data-parsley-trigger="change" data-parsley-type="email" data-parsley-error-message="{{ 'A valid email address is required' | translate }}" required data-parsley-group="block6" tabindex="2" description = "Email">
                                </div>
                                <div class="form-group">
                                    <input class="form-control icn_tel" type="tel" id="phone" name="phone_number" data-description = "Contact Number" placeholder="{{ 'Contact Number' | translate }}" data-parsley-required-message="{{ 'A valid phone number is required' | translate }}" data-parsley-trigger="change" data-parsley-type="number" required data-parsley-group="block6" data-parsley-minlength="9" data-parsley-minlength-message="{{ 'A valid phone number is required (Min. 9 digits)' | translate }}" tabindex="3" description = "Contact Number">
                                </div>
                                {% if region == 'ph' %}
                                <div class="form-group">
                                    <select class="form-control icn_addr" name="city" id="city"
                                            data-vertical="Broadband" required data-parsley-group="block6"
                                            data-parsley-error-message="{{ 'Please choose a city' | translate }}"
                                            description="City">
                                        <option value="">Choose a city</option>
                                        <option value="Metro Manila">Metro Manila</option>
                                        <option value="Davao">Davao</option>
                                        <option value="Cebu">Cebu</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </div>
                                {% endif %}
                                {% if region === 'my' && lang === 'en' %}
                                    <!-- Hidden address field for MYEN -->
                                    <input value="Wisma UOA Damansara" class="form-control icn_addr" type="hidden" id="address" name="address"
                                    data-action="Input" data-subject="User" data-description = "Address"
                                    data-region="Product Apply Popup" data-vertical="Broadband" required
                                    placeholder="{{ 'Address' | translate }}" tabindex="4" description="Contact Address">
                                {% else %}
                                <div class="form-group">
                                    <input class="form-control icn_addr" type="text" id="address" name="address"
                                    data-action="Input" data-subject="User" data-description = "Address"
                                    data-region="Product Apply Popup" data-vertical="Broadband" required
                                    placeholder="{{ 'Address' | translate }}" tabindex="4" description="Contact Address">
                                    <br/>
                                    <p>{{ 'Example: 13-05 Blok A, Cameron Towers, Gasing Heights, Jalan 5/58B, 46000, Petaling Jaya, Selangor' | translate }}</p>
                                </div>
                                {% endif %}
                                {% if app.pdpa != "" %}
                                    <div class="checkbox font-xs">
                                        <label>
                                            <input type="checkbox" name="allow_checked" checked="" data-parsley-trigger="change" data-parsley-multiple="allow_checked" data-parsley-error-message="{{ 'Please check this box if you want to proceed' | translate }}" required data-parsley-group="block6" tabindex="-1">
                                            {{ app.pdpa | raw }}
                                        </label>
                                    </div>
                                {% endif %}
                                {% if app.marketing_consent != "" %}
                                <div class="checkbox font-xs">
                                    <label>
                                        <input type="checkbox" name="allow_consent" checked="" data-parsley-trigger="change" data-parsley-multiple="allow_consent" data-parsley-error-message="{{ 'Please check this box if you want to proceed' | translate }}" required data-parsley-group="block6" tabindex="-1">
                                        {{ app.marketing_consent | raw }}
                                    </label>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-value="" id="btn-bb-submit" data-action="Submit" data-description="Apply Form" data-region="Provider Apply Popup" class="btn btn-lg btn-success" type="submit" tabindex="4" data-vertical = "Broadband" >Proceed</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block footer-script %}
<!--[if lte IE 9]>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/parsley.js/2.0.4/parsley.min.js"></script>
<script src="/v4/js/base.min.js"></script>
<script src="/sniper/js/cc-product.min.js"></script>
<script src="//cdn.optimizely.com/js/2356000143.js"></script>
<![endif]-->
{% endblock %}
