{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/v4/css/base-critical.css"/>
<link rel="stylesheet" href="/bbrunner/css/bb-results.css">
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block head-script %}
<script src="https://cdn.optimizely.com/js/2356000143.js"></script>
{% parent %}
{#
<script>
    jQuery(document).ready(function($) {
        // VIEW PRODUCT LIST.
        var     $productList = $('#suggested-broadband').children(),
                product_id = [],
                product_name = [],
                product_brand = [],
                product_category = [],
                product_sub_category = [],
                product_bb_price = [],
                product_bb_speed = [];

        $productList.each(function(index, el) {
            var $element = $(el);
            var subCategory = $element.data('type');
            product_id.push($element.data('nid'));
            product_name.push($element.data('product_name'));
            product_brand.push($element.data('provider'));
            product_category.push('Broadband');
            product_sub_category.push(subCategory);
            product_bb_price.push($element.data('price'));
            product_bb_speed.push($element.data('speed'));
        });

        dataLayer.push({
            event: 'viewProductList',
            event_lang: $('html').attr('lang'),
            track_id: userManager.data.trackId,
            list_type: 'ss-v2_result',
            list_name: 'SS-v2 Result',
            list_size: $productList.length,
            product_id: product_id,
            product_name: product_name,
            product_brand: product_brand,
            product_category: product_category,
            product_sub_category: product_sub_category,
            product_bb_price: product_bb_price,
            product_bb_speed: product_bb_speed
        });

        // APPLY NOW.
        $('.btn-apply').on('click', function (e) {
            var $product = $(this).closest('.results-bb');
            var subCategory = $product.data('type');
            dataLayer.push({
                event: 'applyNow',
                event_lang: $('html').attr('lang'),
                track_id: userManager.data.trackId,
                product_id: $product.data('nid'),
                product_name: $product.data('product_name'),
                product_brand: $product.data('provider'),
                product_category: 'Broadband',
                product_sub_category: subCategory,
                product_bb_price: $product.data('price'),
                product_bb_speed: $product.data('speed')
            });

            // SUBMIT DETAILS.
            $('#applyForm').submit(function(e) {
                dataLayer.push({
                    event: 'submitDetails',
                    event_lang: $('html').attr('lang'),
                    track_id: userManager.data.trackId,
                    submit_type: $('html').attr('lang') + '_bb_smartsearch_results_v2',
                    product_id: $product.data('nid'),
                    product_name: $product.data('product_name'),
                    product_brand: $product.data('provider'),
                    product_category: 'Broadband',
                    product_sub_category: subCategory,
                    product_bb_price: $product.data('price'),
                    product_bb_speed: $product.data('speed')
                });
            });
        });
    });
</script>
#}
<script>
    iAJSLoader.init([
        [
            "//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js",
            "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"
        ],
        [
            "{{ applySource[app.region] }}",
            "/bbrunner/js/bb-results-v2.min.js",
            "/v4/js/base.min.js"
        ]
    ]);
</script>
{% endblock %}

{% block content %}

<header class="bb-smartsearch-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 hidden-xs">
                <a href="http://www.imoney.my" class="imoney-logo">
                    iMoney.my
                </a>
            </div>
            <div class="col-md-5 col-md-offset-3 col-sm-6 col-sm-offset-2 col-xs-12">
                <div class="smartsearch-logo">{{ 'Broadband SmartSearch' | translate }}</div>
            </div>
        </div>
    </div>
</header>
<section class="results-header" data-region="broadband-result-header" data-vertical="broadband">
    <div class="container">
        <div class="row">
            <h1 class="text-center animated fadeInDown">
                {% if broadband.length %}
                {{ 'The <span id="broadband-count">@count</span> best broadband plans for you' | translate(null, {'@count': broadband.length}) | safe }}
                {% else %}
                {{ 'There are no broadband plans matching your criteria.' | translate }}
                {% endif %}
            </h1>
            <div class="filter-wrap text-center animated fadeInDown">
                {#
                @TRICK: This is for the system to catch habits and broadband options.
                {{ 'Light Usage' | translate }}
                {{ 'Moderate Usage' | translate }}
                {{ 'Heavy Usage' | translate }}
                {{ 'Extreme Usage' | translate }}
                {{ 'Home' | translate }}
                {{ 'Office' | translate }}
                #}
                <ul id="user-filter-summary">
                    <li>{{ query.broadbandFor | translate }}</li>
                    <li>{{ query.habit | translate }}</li>
                    {% if (query.state) %}<li>{{ query.state }}</li>{% endif %}
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="results-body" data-vertical="Broadband" data-imu-track="button">
    <div class="container-fluid">
        <div class="row" id="suggested-broadband">
            {% for product in broadband %}
            <div class="results-bb" data-nid="{{ product.nid }}" data-product_name="{{ product.productName }}" data-provider="{{ product.telco }}" data-type="{% if product.type == '1' %}Home{% else %}Office{% endif %}" data-price={{ product.monthlyFee }}" data-speed="{{ product.speed }}" data-thankyou="{{ base }}{{ app.urls['bb-thankyou'] }}">
                <div class="loading-wrap">
                    <img src="/v4/img/preloader.gif"/>
                    <span>{{ 'Finding connections' | translate }}</span>
                </div>
                <div class="{% if product.feature_status == 'Promo' %}featured{% else %}normal{% endif %}-bb results-wrapper">
                    <div class="results-bb__header">
                        <div class="bb-image">
                            <img class="img-responsive" src="{{ app.liveUrl }}{{ product.logo }}"/>
                        </div>
                        <a href="#" class="bb-coverage {% if product.coverage == '1' %}high{% else %}low{% endif %} tooltip">{{ 'Coverage' | translate }}
						<span>{{ 'This package has @coverage availability in your area.' | translate(null, {'@coverage': coverage}) }}</span>
                        </a>
                        <span class="bb-speed">{{ product.speed }}Mbps</span>
                        <div class="highlight-card promo" style="display: {% if product.feature_status == 'Promo' %}inherit{% else %}none{% endif %}">{{ 'Featured' | translate }}</div>
                        <div class="bb-name" data-name="{{ product.productName }}">{{ product.productName }}</span>
                            <div class="bb-price"><span>{{ product.monthlyFee | iMoney }}</span>/{{ 'month' | translate }}</div>
                        </div>
                        <div class="bb-nid" data-name="{{ product.nid }}" style="display:none;"></div>
                        <div class="button-wrapper abf">
                            <a class="btn btn-apply" {% if product.field_url %}target="_blank" href="{{ product.field_url }}"{% else %}data-toggle="modal" data-target="#apply-modal"{% endif %}
                               name = "applyNow" data-wait="{{ 'Please wait...' | translate }}"
                               data-url = "{{ product.path_alias }}"
                               data-image="{{ product.logo }}"
                               data-title="{{ product.productName }}"
                               data-speed="{{ product.speed }}"
                               data-quota="{{ product.quota }}"
                               data-nid="{{ product.nid }}"
                               data-region = "Smartsearch Results Package"
                               data-vertical="Broadband"
                               data-description= "Apply Button"
                               data-value="{{ product.productName }}"
                               data-action="Submit"
                               data-price="{{ product.monthlyFee | iMoney }}">{{ 'Apply Now' | translate }}</a>
                        </div>

                        <ul class="bb-reward">
                            <li>{{ product.field_bonus_features_1 }}</li>
                            <li>{{ product.field_bonus_features_2 }}</li>
                            <li>{{ product.field_bonus_features_3 }}</li>
                        </ul>
                    </div>
                    <div class="results-bb__body">{{ 'Good for...' | translate }}
                        <ul class="icns_usage">
                            {{ product.icons | safe }}
                        </ul>
                    </div>
                    <div class="results-bb__fineprint">
                        <div>{{ 'Contract' | translate }}
                            <h3>{{ '@tenure months' | translate(null, {'@tenure': product.tenure}) }}</h3>
                        </div>
                        <div>{{ 'Cancellation Fee' | translate }}
                            <h3>{{ product.termination }}</h3>
                        </div>
                        <div style="display: {% if voiceShow == product.coverage %}none{% endif %};">Voice<h3>{{ product.voice }}</h3>
                        </div>
                        <div>{{ 'FREE' | translate }}<h3>{{ product.equipment }}</h3>
                        </div>
                    </div>
                    {# Button for mobile version #}
                    <div class="button-wrapper">
                        <a class="btn btn-apply" {% if product.field_url %}target="_blank" href="{{ product.field_url }}"{% else %}data-toggle="modal" data-target="#apply-modal"{% endif %}
                           name = "applyNow" data-wait="{{ 'Please wait...' | translate }}"
                           data-url = "{{ product.path_alias }}"
                           data-image="{{ product.logo }}"
                           data-title="{{ product.productName }}"
                           data-speed="{{ product.speed }}"
                           data-quota="{{ product.quota }}"
                           data-nid="{{ product.nid }}"
                           data-region = "Smartsearch Results Package"
                           data-vertical="Broadband"
                           data-description= "Apply Button"
                           data-value="{{ product.productName }}"
                           data-action="Submit"
                           data-price="{{ product.monthlyFee | iMoney }}">{{ 'Apply Now' | translate }}</a>
                    </div>
                    {# End button for mobile version #}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Skip and Call link -->
<section class="results-footer" data-region="broadband-results-footer" data-vertical="broadband"
         data-imu-track="button">
    <div class="container-fluid">
        <div class="row">
            <div class="cta-footer">
                <ul>
                    <li>
                        {% if broadband.length %}
                        <button class="btn-outline" data-target="#skip-link" data-toggle="modal" data-subject="User"
                                data-action="Click" data-region="SmartSearch Results Footer"
                                data-vertical="Broadband" data-description="Button">{{ "I didn't find what I was looking for" | translate }}</button>
                        {% else %}
                        <a class="btn-outline" href="{{ app.urls['bb-listing'] }}" title="{{ 'Broadband listing page' | translate }}">{{ 'Browse <strong>all plans</strong> here' | translate | safe }}</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Modal for Apply Pressed -->
<div id="apply-modal" class="modal fade" data-translate_month="{{ 'month' | translate }}">
    <div class="modal-dialog">
        <div class="close-wrap animated fadeInDown">
            <a href="#" class="close-btn" data-dismiss="modal"><i></i>Close</a>
        </div>
        <div class="modal-content" data-imu-track="input, button[type=submit]">
            <form method="post" action="." id="applyForm" data-parsley-validate data-thankyou="{{ base }}{{ app.urls['bb-thankyou'] }}">
                <div class="modal-header text-center">
                    <h4 class="modal-title" id="myModalLabel">{{ 'This is the package you have chosen' | translate }}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <div class="applying-img"></div>
                            <div class="applying-name"><h5></h5></div>
                            <div class="row">
                                <div class="col-sm-6 col-xs-6">
                                    <strong class="font-xsm">{{ 'SPEED' | translate }}: </strong>
                                    <p class="applying-speed"></p>
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <strong class="font-xsm">{{ 'QUOTA' | translate }}: </strong>
                                    <p class="applying-quota"></p>
                                </div>
                            </div>
                            <div class="applying-price font-xxlg"></div>
                        </div>
                        <div class="col-sm-8 col-xs-12">
                            <p>{{ 'Please provide your contact details so that we can help you proceed with the application.' | translate }}</p>
                            <div class="capture" data-subject="User" data-action="Input"  data-region="SmartSearch-v2 Apply Popup" data-vertical="Broadband">
                                <div class="form-group">
                                    <input data-parsley-pattern="/^[a-zA-z\s]*$/" data-parsley-pattern-message="{{ 'Your name should only consist of letters' | translate }}" class="form-control icn_name" type="text" id="name" name="name" placeholder="{{ 'Your Name' | translate }}" data-parsley-trigger="change" data-parsley-required-message="{{ 'Please enter your name' | translate }}" required data-parsley-group="block6" data-parsley-minlength="3" data-parsley-minlength-message="{{ 'Please enter your name (Min. 3 digits)' | translate }}" tabindex="1"/ data-description = "Your Name">
                                </div>
                                <div class="form-group">
                                    <input class="form-control icn_email" type="email" id="email" data-description = "Email" name="email_address" placeholder="{{ 'Email' | translate }}" data-parsley-trigger="change" data-parsley-type="email" data-parsley-error-message="{{ 'A valid email address is required' | translate }}" required data-parsley-group="block6" tabindex="2"/ description = "Email">
                                </div>
                                <div class="form-group">
                                    <input class="form-control icn_tel" type="tel" id="phone" name="phone_number" data-description = "Contact Number" placeholder="{{ 'Contact Number' | translate }}" data-parsley-required-message="{{ 'A valid phone number is required' | translate }}" data-parsley-trigger="change" data-parsley-type="number" required data-parsley-group="block6" data-parsley-minlength="9" data-parsley-minlength-message="{{ 'A valid phone number is required (Min. 9 digits)' | translate }}" tabindex="3"/ description = "Contact Number">
                                </div>
                                <div class="form-group">                                
                                    <input class="form-control icn_addr" type="text" id="address" name="address"
                                    data-action="Input" data-subject="User" data-description = "Address"
                                    data-vertical="Broadband" required
                                    placeholder="{{ 'Address' | translate }}" tabindex="4" description="Contact Address">
                                    <br/>
                                    <p>{{ 'Example: 13-05 Blok A, Cameron Towers, Gasing Heights, Jalan 5/58B, 46000, Petaling Jaya, Selangor' | translate }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-value="" id="btn-bb-submit" data-action="Submit" data-description = "Apply Form" data-region = "SmartSearch-v2 Apply Popup" class="btn btn-lg btn-success" type="submit" tabindex="4" data-vertical = "Broadband" data-wait="{{ 'Please wait...' | translate }}" data-proceed="{{ 'Proceed' | translate }}" data-applied="{{ 'Applied' | translate }}">{{ 'Proceed' | translate }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal for related content for lost user -->
{% include 'localize.html' with {'block': 'ss-looking-popup'} %}

<!--modal for thank you -->
{% endblock %}

{% block footer %}
{% endblock %}

{% block footer-script %}
<!--[if lte IE 9]>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script src="//apply.imoney.my/js/apply.js"></script>
<script src="/bbrunner/js/bb-results.min.js"></script>
<script src="/v4/js/base.min.js"></script>
<![endif]-->

<!-- Start SmartSearch Facebook Conversion Tracker -->
<!-- <script type="text/javascript" src="//s.mb4imm.com/cb/8-36146_10-2_izo?ifcontext=&order_id=&xd[{param_name}]={param_value}"></script> -->
<!-- End SmartSearch Facebook Conversion Tracker -->

<!-- Start SmartSearch Google Conversion Tracker -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 970564114;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "H0qVCJ6Op1cQksTmzgM";
    var google_remarketing_only = false;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt=""
             src="//www.googleadservices.com/pagead/conversion/970564114/?label=H0qVCJ6Op1cQksTmzgM&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>
<!-- End SmartSearch Google Conversion Tracker -->

{% endblock %}