{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/v4/css/base-critical.css"/>
<link rel="stylesheet" href="/bbrunner/css/bb-results.css">
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block head-script %}
<script src="https://cdn.optimizely.com/js/2356000143.js"></script>
{% parent %}
{#
<script>
    jQuery(document).ready(function($) {
        // VIEW PRODUCT LIST.
        var     $productList = $('#suggested-broadband').children(),
                product_id = [],
                product_name = [],
                product_brand = [],
                product_category = [],
                product_sub_category = [],
                product_bb_price = [],
                product_bb_speed = [],
                lang = $('html').attr('lang'),
                track_id = typeof(userManager) != 'undefined' && typeof(userManager.data) != 'undefined' ? userManager.data.trackId : undefined,
                user_device = typeof(WURFL) != 'undefined' ? WURFL.form_factor : undefined,
                referrer_source = typeof(userManager) != 'undefined' && typeof(userManager.utms) != 'undefined' ? userManager.utms.utmcsr : undefined,
                referrer_medium = typeof(userManager) != 'undefined' && typeof(userManager.utms) != 'undefined' ? userManager.utms.utmcmd : undefined;

        $productList.each(function(index, el) {
            var $element = $(el);
            var subCategory = $element.data('type');
            product_id.push($element.data('nid'));
            product_name.push($element.data('product_name'));
            product_brand.push($element.data('provider'));
            product_category.push('Broadband');
            product_sub_category.push(subCategory);
            product_bb_price.push($element.data('price'));
            product_bb_speed.push($element.data('speed'));
        });

        dataLayer.push({
            event: 'viewProductList',
            event_lang: lang,
            content_type: 'product_group',
            list_type: 'ss_result',
            list_name: $('body').data('path'),
            list_size: $productList.length,
            product_id: product_id.toString(),
            product_name: product_name,
            product_brand: product_brand,
            product_category: product_category,
            product_sub_category: product_sub_category,
            product_bb_price: product_bb_price,
            product_bb_speed: product_bb_speed,
            track_id: track_id,
            user_device: user_device,
            referrer_source: referrer_source,
            referrer_medium: referrer_medium
        });

        // SUBMIT DETAILS.
        $('.btn-apply').on('click', function (e) {
            var $product = $(this).closest('.results-bb');
            var subCategory = $product.data('type');
            dataLayer.push({
                event: 'submitDetails',
                event_lang: lang,
                submit_type: lang + '_bb_smartsearch_results',
                product_id: $product.data('nid').toString(),
                product_name: $product.data('product_name'),
                product_brand: $product.data('provider'),
                product_category: 'Broadband',
                product_sub_category: subCategory,
                product_bb_price: $product.data('price'),
                product_bb_speed: $product.data('speed'),
                track_id: track_id,
                user_device: user_device,
                referrer_source: referrer_source,
                referrer_medium: referrer_medium
            });
        });
    });
</script>
#}
<script>
    iAJSLoader.init([
        [
            "//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js",
            "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"
        ],
        [
            "//cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js",
            "//cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/aes.min.js"
        ],
        [
            "{{ applySource[app.region] }}",
            "/bbrunner/js/bb-results.min.js",
            "/v4/js/base.min.js"
        ]
    ]);
</script>
{% endblock %}

{% block content %}

<header class="bb-smartsearch-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 hidden-xs">
                <a href="{{ base }}" class="imoney-logo">{{ app.site_name }}</a>
            </div>
            <div class="col-md-5 col-md-offset-3 col-sm-6 col-sm-offset-2 col-xs-12">
                <div class="smartsearch-logo">{{ 'Broadband SmartSearch' | translate }}</div>
            </div>
        </div>
    </div>
</header>
<section class="results-header" data-region="broadband-result-header" data-vertical="broadband">
    <div class="container">
        <div class="row">
            <h1 class="text-center animated fadeInDown">
                {% if broadband.length %}
                {{ 'The <span id="broadband-count">@count</span> best broadband plans for you' | translate(null, {'@count': broadband.length}) | safe }}
                {% else %}
                {{ 'There are no broadband plans matching your criteria.' | translate }}
                {% endif %}
            </h1>
            <div class="filter-wrap text-center animated fadeInDown">
                {#
                @TRICK: This is for the system to catch habits and broadband options.
                {{ 'Light Usage' | translate }}
                {{ 'Moderate Usage' | translate }}
                {{ 'Heavy Usage' | translate }}
                {{ 'Extreme Usage' | translate }}
                {{ 'Home' | translate }}
                {{ 'Office' | translate }}
                #}
                <ul id="user-filter-summary">
                    <li>{{ query.broadbandFor | translate }}</li>
                    <li>{{ query.habit | translate }}</li>
                    {% if (query.state) %}<li>{{ query.state }}</li>{% endif %}
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="results-body" data-vertical="Broadband" data-imu-track="button">
    <div class="container-fluid">
        <div class="row" id="suggested-broadband">
            {% for product in broadband %}
            <div class="results-bb" data-nid="{{ product.nid }}" data-product_name="{{ product.productName }}" data-provider="{{ product.telco }}" data-type="{% if product.type == "1" %}Home{% else %}Office{% endif %}" data-price="{{ product.monthlyFee }}" data-speed="{{ product.speed }}" data-thankyou="{{ base }}{{ app.urls['bb-thankyou'] }}">
                <div class="loading-wrap">
                    <img src="/v4/img/preloader.gif"/>
                    <span>{{ 'Finding connections' | translate }}</span>
                </div>
                <div class="{% if product.feature_status == 'Promo' %}featured{% else %}normal{% endif %}-bb results-wrapper">
                    <div class="results-bb__header">
                        <div class="bb-image">
                            <img class="img-responsive" src="{{ product.logo }}"/>
                        </div>
                        <a href="#" class="bb-coverage {% if product.coverage == '1' %}high{% else %}low{% endif %} tooltip">{{ 'Coverage' | translate }}
						<span>{{ 'This package has @coverage availability in your area.' | translate(null, {'@coverage': coverage}) }}</span>
                        </a>
                        <span class="bb-speed">{{ product.speed | speed }}</span>
                        <div class="highlight-card promo" style="display: {% if product.feature_status == 'Promo' %}inherit{% else %}none{% endif %}">{{ 'Featured' | translate }}</div>
                        <div class="bb-name" data-name="{{ product.productName }}"><span>{{ product.productName }}</span>
                            <div class="bb-price">
                                <span>{{ product.monthlyFee | iMoney }}</span>/{{ 'month' | translate }}
                                {% if region == 'my' %}
				<div class="bb-price-old"><span>{% if product.oldMonthlyFee %}{{ product.oldMonthlyFee | iMoney }}</span>/{{ 'month' | translate }}{% endif %}</div>
                                {% endif %}
                            </div>

                        </div>
                        <div class="bb-nid" data-name="{{ product.nid }}" style="display:none;"></div>
                        <div class="button-wrapper abf">
                            <a class="btn btn-apply{%if product.field_quick_apply_button %} btn-qab{% endif %}"{% if product.field_url %} target="_blank" href="{{ product.field_url }}"{% endif %} data-value="{{ product.productName }}" data-vertical="Broadband" data-region="SmartSearch Results Package" data-description="Apply Button" data-action="Submit" data-wait="{{ 'Please wait...' | translate }}">{% if product.field_apply_button_text %}{{ product.field_apply_button_text  | safe }}{% else %}{{ 'Apply Now' | translate }}{% endif %}</a>
                        </div>

                        <ul class="bb-reward">
                            <li>{{ product.field_bonus_features_1 }}</li>
                            <li>{{ product.field_bonus_features_2 }}</li>
                            <li>{{ product.field_bonus_features_3 }}</li>
                        </ul>
                    </div>
                    <div class="results-bb__body">{{ 'Good for...' | translate }}
                        <ul class="icns_usage">
                            {{ product.icons | safe }}
                        </ul>
                    </div>
                    <div class="results-bb__fineprint">
                        <div>{{ 'Contract' | translate }}
                            <h3 class="tenure">{{ '@tenure months' | translate(null, {'@tenure': product.tenure}) }}</h3>
                        </div>
                        <div>{{ 'Cancellation Fee' | translate }}
                            <h3 class="termination">{{ product.termination }}</h3>
                        </div>
                        <div>Voice<h3 class="voice">{{ product.voice }}</h3>
                        </div>
                        <div>{{ 'FREE' | translate }}<h3 class="equipment">{{ product.equipment }}</h3>
                        </div>
                    </div>
                    {# Button for mobile version #}
                    <div class="button-wrapper">
                        <a class="btn btn-apply{%if product.field_quick_apply_button %} qab{% endif %}"{% if product.field_url %} target="_blank" href="{{ product.field_url }}"{% endif %} data-value="{{ product.productName }}" data-vertical="Broadband" data-region="SmartSearch Results Package" data-description="Apply Button" data-action="Submit" data-wait="{{ 'Please wait...' | translate }}">{% if product.field_apply_button_text %}{{ product.field_apply_button_text  | safe }}{% else %}{{ 'Apply Now' | translate }}{% endif %}</a>
                    </div>
                    {# End button for mobile version #}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Skip and Call link -->
<section class="results-footer" data-region="broadband-results-footer" data-vertical="broadband"
         data-imu-track="button">
    <div class="container-fluid">
        <div class="row">
            <div class="cta-footer">
                <ul>
                    <li>
                        {% if broadband.length %}
                        <button class="btn-outline" data-target="#skip-link" data-toggle="modal" data-subject="User"
                                data-action="Click" data-region="SmartSearch Results Footer"
                                data-vertical="Broadband" data-description="Button">{{ "I didn't find what I was looking for" | translate }}</button>
                        {% else %}
                        <a class="btn-outline" href="{{ base + app.urls['bb-listing'] }}" title="{{ 'Broadband listing page' | translate }}">{{ 'Browse <strong>all plans</strong> here' | translate | safe }}</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Modal for Apply Pressed -->
<!-- <script type="text/template" id="apply-modal-template"> -->
{#
<div class="modal fade results-skip" id="apply-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title" id="myModalLabel">This is the card you have chosen, Dion.</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-7 col-xs-12">
                        <div class="apply-bb-img"></div>
                        <div class="apply-bb-name"></div>
                    </div>
                    <div class="col-sm-5 col-xs-12">
                        <div class="customer-information-wrap">
                            <p class="apply-information">{{ 'Your Information' | translate }}</p>

                            <div class="apply-information-content">
                                <ul class="list-unstyled">
                                    <li>Dion Appana</li>
                                    <li>dion@imoney.my</li>
                                    <li>0123456789</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <p class="contact-text">{{ 'We will be contacting you soon.' | translate }}</p>
                <button id="done-btn" class="btn btn-complement btn-lg" data-trigger="modal"
                        data-target="#related-content">{{ 'Done' | translate }}</button>
            </div>
        </div>
    </div>
</div>
#}
<!-- </script> -->
<div id="applyModalContainer"></div>
<!-- Modal for related content -->
{#
<div class="modal fade results-skip" id="related-content">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-green-box">
                <h3 class="green-text">{{ 'Thank you for your application' | translate }}</h3>
            </div>
            <div class="modal-body">
                <div class="related-content-top">
                    <p class="text-center">{{ 'One of our experts will be calling you soon.' | translate }}</p>
                    <h4 class="text-center">{{ 'In the mean time, read more money saving tips on our Learning Centre' | translate }}</h4>
                    <ul class="list-unstyled modal-articles">
                        <li><a href="/articles/credit-bb-search-the-plastic-love-affair">Credit Card Search: The Plastic Love Affair [Infographic]</a></li>
                        <li><a href="/articles/need-for-speed-the-time-value-of-money">Need For Speed: The Time Value of Money [Infographic]</a></li>
                        <li><a href="/articles/young-investors-why-arent-you-investing">Young Investors: Why Aren't You Investing?</a></li>
                    </ul>
                </div>
                <div class="related-content-bottom">
                    <h4 class="text-center">{{ 'Or check out our other financial products' | translate }}</h4>
                    <ul class="related-products-link">
                        <li><a class="btn btn-round btn-outline btn-outline--dark" href="/credit-card">Credit Card</a>
                        </li>
                        <li><a class="btn btn-round btn-outline btn-outline--dark" href="/home-loan">Home Loans</a></li>
                        <li><a class="btn btn-round btn-outline btn-outline--dark" href="/personal-loan">Personal
                            Loans</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
#}
<!-- Modal for related content for lost user -->
{% include 'localize.html' with {'block': 'ss-looking-popup'} %}

<!--modal for thank you -->
{#% include 'localize.html' with {'block': 'ss-thankyou-popup'} %#}
{% endblock %}

{% block footer %}
{% endblock %}

{% block footer-script %}
<!--[if lte IE 9]>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/parsley.js/2.0.4/parsley.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/aes.min.js"></script>
<script src="//apply.imoney.my/js/apply.js"></script>
<script src="/bbrunner/js/bb-results.min.js"></script>
<script src="/v4/js/base.min.js"></script>
<![endif]-->

<!-- Start SmartSearch Facebook Conversion Tracker -->
<!-- <script type="text/javascript" src="//s.mb4imm.com/cb/8-36146_10-2_izo?ifcontext=&order_id=&xd[{param_name}]={param_value}"></script> -->
<!-- End SmartSearch Facebook Conversion Tracker -->

<!-- Start SmartSearch Google Conversion Tracker -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 970564114;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "H0qVCJ6Op1cQksTmzgM";
    var google_remarketing_only = false;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt=""
             src="//www.googleadservices.com/pagead/conversion/970564114/?label=H0qVCJ6Op1cQksTmzgM&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>
<!-- End SmartSearch Google Conversion Tracker -->

{% endblock %}
