{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/v4/css/base-critical.css"/>
{% endblock %}

{% block head-script %}
<script src="https://cdn.optimizely.com/js/2356000143.js"></script>
{% parent %}
{#
<script>
    jQuery(document).ready(function($) {
        // SMART SEARCH.
        var typeValue = null;

        // Step 1.
        $('input[name="REASON"]').change(function() {
            dataLayer.push({
                event: "smartSearch",
                event_lang: $('html').attr('lang'),
                product_category: "Broadband", 
                search_type: "ss", 
                search_step: 1,
                search_selection: $(this).val(),
                track_id: userManager.data.trackId, 
                user_device: WURFL.form_factor,
                referrer_source: userManager.utms.utmcsr,
                referrer_medium: userManager.utms.utmcmd
            });
        });

        // Step 2.
        $('input[name="broadbandFor"]').change(function() {
            typeValue = $(this).val();
            dataLayer.push({
                event: "smartSearch",
                event_lang: $('html').attr('lang'),
                product_category: "Broadband", 
                search_type: "ss",
                search_step: 2,
                search_selection: typeValue,
                track_id: userManager.data.trackId,
                user_device: WURFL.form_factor,
                referrer_source: userManager.utms.utmcsr,
                referrer_medium: userManager.utms.utmcmd
            });
        });

        // Step 3.
        $('input[name="habit"]').change(function() {
            dataLayer.push({
                event: "smartSearch",
                event_lang: $('html').attr('lang'),
                product_category: "Broadband", 
                search_type: "ss",
                search_step: 3,
                search_selection: $(this).val(),
                track_id: userManager.data.trackId,
                user_device: WURFL.form_factor,
                referrer_source: userManager.utms.utmcsr,
                referrer_medium: userManager.utms.utmcmd
            });
        });

        // Step 4.
        $('input[name="users"]').change(function() {
            dataLayer.push({
                event: "smartSearch",
                event_lang: $('html').attr('lang'),
                product_category: "Broadband",
                search_type: "ss",
                search_step: 4,
                search_selection: $(this).val(),
                track_id: userManager.data.trackId,
                user_device: WURFL.form_factor,
                referrer_source: userManager.utms.utmcsr,
                referrer_medium: userManager.utms.utmcmd
            });
        });

        // Step 5.
        $('input[name="state"]').change(function() {
            dataLayer.push({
                event: "smartSearch",
                event_lang: $('html').attr('lang'),
                product_category: "Broadband", 
                search_type: "ss",
                search_step: 5,
                search_selection: $(this).val(),
                track_id: userManager.data.trackId,
                user_device: WURFL.form_factor,
                referrer_source: userManager.utms.utmcsr,
                referrer_medium: userManager.utms.utmcmd
            });
        });

        // SUBMIT DETAILS.
        $('#filter_bb').submit(function() {
            dataLayer.push({
                event: 'submitDetails',
                event_lang: $('html').attr('lang'),
                track_id: userManager.data.trackId,
                submit_type: $('html').attr('lang') + '_bb_smartsearch',
                product_id: null,
                product_name: null,
                product_brand: null,
                product_category: 'Broadband',
                product_sub_category: typeValue,
                user_device: WURFL.form_factor,
                referrer_source: userManager.utms.utmcsr,
                referrer_medium: userManager.utms.utmcmd
            });
        });
    });
</script>
#}
<script>
    window.ParsleyConfig = {
        errorsWrapper: '<div></div>',
        errorTemplate: '<span class="color-red font-xsm"></span>'
    };
</script>

<script>
    iAJSLoader.init([
        [
            "//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js",
            "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"
        ],
        [
            "//cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js",
            "//cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/aes.min.js",
            "//cdnjs.cloudflare.com/ajax/libs/parsley.js/2.0.4/parsley.min.js"
        ],
        [
            "/bbrunner/js/bb-smartsearch.min.js",
            "{{ applySource[app.region] }}",
            "/v4/js/base.min.js"
        ]
    ]);
</script>
{% endblock %}

{% block content %}
{% include 'localize.html' with {'block': 'prefertotalk-popup'} %}

<header class="bb-smartsearch-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 hidden-xs">
                <a href="/" class="imoney-logo">
                    iMoney.my
                </a>
            </div>
            <div class="col-md-5 col-md-offset-3 col-sm-6 col-sm-offset-2 col-xs-12">
                <div class="smartsearch-logo">{{ 'Broadband SmartSearch' | translate }}</div>
            </div>
        </div>
    </div>
</header>
<div class="ss-progressbar"></div>

<section class="ss-header">
    <h1 id="ss-title" class="text-center">{{ 'Finding the right Broadband connection can be hard, let us help you out! <br>Get started by answering a few questions' | translate | safe}}</h1>
</section>
<div class="ss-container row" data-region="smart-search" data-vertical="broadband">
    <div class="smartsearch-indicator">
        <ul>
            <li><span class="icn_start"></span></li>
            <li><span class="icn_modem"></span></li>
            <li><span class="icn_meter"></span></li>
            <li><span class="icn_user"></span></li>
            <li><span class="icn_location"></span></li>
        </ul>
    </div>
    {% include 'localize.html' with {'block': 'filter_bb'} %}

</div>
{% if app.region == 'sg' %}
{% elseif app.region == 'id' or app.region == 'ph' %}
<div class="smartsearch-footer container text-center" data-region="smartsearch footer" data-vertical="broadband" data-imu-track="button, a">
    <p>
        <strong>{{ 'Why are we asking you these questions?' | translate }}</strong><br>
        <small>{{ 'In order to provide you the best results, we need to ask you a few questions.' | translate }}</small>
    </p>

    <p>{{'<small>Please call</small> <a href="tel:+60327879181" data-subject="User" data-action="Call" data-vertical="Broadband" data-description = "Call" data-value="tel:+60327879181"><strong>+603 2787 9181</strong></a>.' | translate | safe }}</p>
</div>
{% else %}
<div class="smartsearch-footer container text-center" data-region="smartsearch footer" data-vertical="broadband" data-imu-track="button, a">
    <p>
        <strong>{{ 'Why are we asking you these questions?' | translate }}</strong><br>
        <small>{{ 'In order to provide you the best results, we need to ask you a few questions.' | translate }}</small>
    </p>
    <button type="button" class="btn-line" data-toggle="modal" data-target=".PreferToTalk" data-subject="User" data-action="Click"  data-vertical="Broadband" data-description = "Button" data-value="Prefer to talk?">{{ 'Prefer to talk?' | translate }}</button>

    <p>{{'<small>Please call</small> <a href="tel:+60327879181" data-subject="User" data-action="Call" data-vertical="Broadband" data-description = "Call" data-value="tel:+60327879181"><strong>+603 2787 9181</strong></a> <small>or</small> <a data-toggle="modal" data-target=".PreferToTalk" data-subject="User" data-action="Click"  data-vertical="Broadband" data-description="Let us call you" data-value=""><strong>let us call you</strong></a>.' | translate | safe }}</p>
</div>
{% endif %}

<link rel="stylesheet" type="text/css" href="/bbrunner/css/bb-smartsearch.css">
<link rel="stylesheet" type="text/css" href="/v4/bower_components/slick.js/slick/slick.css"/>

{% endblock %}

{% block footer %}
{% endblock %}

{% block footer-script %}
<!--[if lte IE 9]>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/parsley.js/2.0.4/parsley.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/aes.min.js"></script>
<script src="/bbrunner/js/bb-smartsearch.min.js"></script>
<script src="//apply.imoney.my/js/apply.js"></script>
<script src="/v4/js/base.min.js"></script>
<![endif]-->
{% endblock %}
