{% extends 'base.html' %}
{% block css %}
{% parent %}
<link rel="stylesheet" href="/v4/css/base-critical.css" />
<link rel="stylesheet" href="/bbrunner/css/bb-product-thank-you.css" />
<meta name="robots" content="noindex, follow" />
{% endblock %}

{% block head-script %}
<script src="https://cdn.optimizely.com/js/2356000143.js"></script>
{% parent %}
<script>
    iAJSLoader.init([
        [
            "//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js",
            "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"
        ],
        [
            "/v4/js/base.min.js",
            "/v4/js/product-thank-you.min.js"
        ]
    ]);
</script>
<script type='text/javascript'>
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    (function() {
        var gads = document.createElement('script');
        gads.async = true;
        gads.type = 'text/javascript';
        var useSSL = 'https:' == document.location.protocol;
        gads.src = (useSSL ? 'https:' : 'http:') +
                '//www.googletagservices.com/tag/js/gpt.js';
        var node = document.getElementsByTagName('script')[0];
        node.parentNode.insertBefore(gads, node);
    })();
</script>
<script type='text/javascript'>
    googletag.cmd.push(function() {
        googletag.defineSlot('/422122608/V4_Flexible_Tri_Panel_1', [350, 414], 'div-gpt-ad-1448186326768-0').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.pubads().collapseEmptyDivs();
        googletag.pubads().setTargeting('Region', "{{ region }}").setTargeting('Category', 'thank-you').setTargeting('Path', "/{{ app.urls['bb-thankyou'] }}");
        googletag.enableServices();
    });
</script>
{% endblock %}

{% block content %}
{% parent %}

<div class="thank-you__body">
    <div class="container">
        <div class="thank-you__top">
            <div class="circle-container">
                <div class="envelope-container">
                    <div class="envelope-wrap">
                        <div class="letter-container">
                            <div class="letter"></div>
                        </div>
                        <div class="envelope-open"></div>
                        <div class="envelope-close"></div>
                        <div class="envelope-front"></div>
                        <div class="envelope"></div>
                    </div>
                    <div class="tick-icon"></div>
                </div>
            </div>
            <h1 class="thank-you__header">{{ 'Thank you for making your broadband application with us!' | translate }}</h1>

            <p class="thank-you__desc">{{ 'An iMoney representative will contact you within one business day to help you complete your application and also answer any questions you may have.' | translate }}</p>

            {% if region == 'id' %}
                <p class="thank-you__desc">
                    Jika Anda terdesak dana dan butuh dana bantuan dalam waktu singkat sekarang juga. Anda dapat mengajukannya secara langsung di link <a href="https://play.google.com/store/apps/details?id=com.stanfordtek.pinjamduit&referrer=utm_source%3D114">Pinjam Duit</a> berikut.
                </p>
            {% endif %}

            {% if region == 'my' %}
                <div class="d-flex justify-content-center align-items-center m_b-3" >
                    <div class="col-xs-9 add-border"></div>    
                </div>
                <div class="col-sx-12 text-center cresitscore-thanks" > 
                    <p class="thank-you__desc thank-you_next"><b> {{ "Next,"| translate }}</b> </p>
                    <a href={{ "https://www.imoney.my/credit-score?utm_source=thankyoupage&utm_medium=thankyoureferral&utm_campaign=thankyoupage&src=thankyou"| translate }}
                        class="btn btn-lg btn-complement btn-complement--gradient" 
                        target="_blank">
                            <div class="cresitscore-search d-flex">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="20px" height="20px" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20"><path d="M17.545 15.467l-3.779-3.779a6.15 6.15 0 0 0 .898-3.21c0-3.417-2.961-6.377-6.378-6.377A6.185 6.185 0 0 0 2.1 8.287c0 3.416 2.961 6.377 6.377 6.377a6.15 6.15 0 0 0 3.115-.844l3.799 3.801a.953.953 0 0 0 1.346 0l.943-.943c.371-.371.236-.84-.135-1.211zM4.004 8.287a4.282 4.282 0 0 1 4.282-4.283c2.366 0 4.474 2.107 4.474 4.474a4.284 4.284 0 0 1-4.283 4.283c-2.366-.001-4.473-2.109-4.473-4.474z" fill="#FFF"></path></svg>
                                {{ "Check your CreditScore" | translate }}
                            </div>    
                    </a>
                </div>
            {% endif %}
        </div>

        {% if region == 'my' %}
        {% set thankyouBlock = './creditscore-thankyou/' + lang + '/_creditscore-thankyou.html' %}
        {% include thankyouBlock %}
        {% endif %}

        <div class="thank-you__bottom container">
            <h4 class="mean-time">{{ 'In the mean time, read some of our money saving tips' | translate }}</h4>

            <div class="row">
                <div class="col-md-4">
                    <div class="related latest" data-rss="{{ app.liveUrl }}/{{ app.urls['article-feed'] }}/">
                        <div class="related-title">{{ 'Latest Articles' | translate }}</div>
                        <div class="preloader"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="related cards" data-rss="{{ app.liveUrl }}/{{ app.urls['category-feed'] }}/">
                        <div class="related-title">{{ 'Money Management' | translate }}</div>
                        <div class="preloader"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- /422122608/V4_Flexible_Tri_Panel_1 -->
                    <div id='div-gpt-ad-1448186326768-0'>
                        <script type='text/javascript'>
                            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1448186326768-0'); });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer-script %}
<!--[if lte IE 9]>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script src="/v4/js/base.min.js"></script>
<script src="/sniper/js/cc-product-thank-you.min.js"></script>
<![endif]-->
{% endblock %}