Download Template file <a href="./translate/pot" title="PO template file">here</a><br/>
Download Translate file <a href="./translate/po" title="PO translate file">here</a>
<form action="./translate" method="POST" enctype="multipart/form-data">
    <input type="file" name="po_file" />
    <input type="submit" name="po_submit" />
</form>