{% set currentTemplate = 'filter_bb.html' %}
<form method="get" action="{{ base }}{{ config.urls['bb-results'] }}" id="filter_bb" data-parsley-validate>
    <input type = "hidden" value = "" name = "referrer_submission_id" id = "referrer_submission_id">
    <div class="smartsearch">
        <div>
            <h1><span class="slideNumber">1</span> {{ 'What are you looking for?' | translate(currentTemplate) }}</h1>
            <div class="smartsearch-content">
                <div class="form-group" data-imu-track="input[type=radio]" class="imu-track form-control input-lg" data-subject="User" data-action="Input" data-description="What are you looking for?" data-region="SmartSearch Content Main" data-vertical="Broadband">
                    <ul class="btns-radio purpose">
                        <li>
                            <input type="radio" name="REASON" id="newBroadband" value="new broadband" data-parsley-group="block1" tabindex="-1" />
                            <label for="newBroadband">{{ "I'm looking for a new connection" | translate(currentTemplate) }}</label>
                        </li>
                        <li>
                            <input type="radio" name="REASON" id="newProvider" value="new provider" data-parsley-group="block1" tabindex="-1"/>
                            <label for="newProvider">{{ "I'm looking for a new provider" | translate(currentTemplate) }}</label>
                        </li>
                        <li>
                            <input type="radio" name="REASON" id="fasterSpeed" value="faster speed" data-parsley-group="block1" tabindex="-1"/>
                            <label for="fasterSpeed">{{ "I'm looking for faster download speed" | translate(currentTemplate) }}</label>
                        </li>
                        <li>
                            <input type="radio" name="REASON" id="moveHouse" value="moving house or office" data-parsley-group="block1" tabindex="-1"/>
                            <label for="moveHouse">{{ "I'm looking to move house / office" | translate(currentTemplate) }}</label>
                        </li>
                        <li>
                            <input type="radio" name="REASON" id="comparePlans" value="compare plans" data-parsley-group="block1" tabindex="-1"/>
                            <label for="comparePlans">{{ "I'm looking to compare plans" | translate(currentTemplate) }}</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <h1>
                <span class="slideNumber">2</span> {{ 'This broadband connection will be for...' | translate(currentTemplate) }}
            </h1>
            <div class="smartsearch-content">
                <div class="form-group" style="min-height: 281px;">
                    <ul class="btns-homeoffice" data-imu-track="input[type=radio]" data-subject="User" data-action="Input" data-description="This broadband connection will be for..." data-region="SmartSearch Content Main" data-vertical="Broadband">
                        <li>
                            <input type="radio" name="broadbandFor" id="home" value="Home" data-parsley-group="block2" required tabindex="-1"/>
                            <label for="home" class="icn_home"><p>{{ 'My home' | translate(currentTemplate) }}</p></label>
                        </li>
                        <li>
                            <input type="radio" name="broadbandFor" id="office" value="Office" data-parsley-group="block2" required tabindex="-1"/>
                            <label for="office" class="icn_office"><p>{{ 'My office' | translate(currentTemplate) }}</p></label>
                        </li>
                    </ul>
                    <br><br>
                    <div class="hiddenQuestion" class="text-center" data-subject="User" data-action="Input" data-description="Do you need a fixed IP?" data-region="SmartSearch Content Main" data-vertical="Broadband">
                        <hr>
                        <p class="text-center">{{ 'Do you need a fixed IP?' | translate(currentTemplate) }}
                            <a href="#" class="tooltip"><img src="/bbrunner/img/icn_info.png" width="20">
                                <span>{{ 'When your connection is assigned a fixed IP, it does not change. The connection will always use the same IP address.' | translate(currentTemplate) }}</span>
                            </a>
                        </p>
                        <ul class="btns-radio staticIP" data-imu-track="input[type=radio]">
                            <li>
                                <input type="radio" id="staticIP-yes" value="StaticIP-Yes" name="StaticIP" data-parsley-group="block2" required tabindex="-1"/>
                                <label for="staticIP-yes">{{ 'Yes' | translate(currentTemplate) }}</label>
                            </li>
                            <li>
                                <input type="radio" id="staticIP-no" value="StaticIP-No" name="StaticIP" data-parsley-group="block2" required checked tabindex="-1"/>
                                <label for="staticIP-no">{{ 'No' | translate(currentTemplate) }}</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h1><span class="slideNumber">3</span> {{ 'What kind of Internet user are you?' | translate(currentTemplate) }}</h1>
            <div class="smartsearch-content">
                <div class="form-group">
                    <ul class="btns-radio habit" data-imu-track="input[type=radio]" data-subject="User" data-action="Input" data-description="What kind of Internet user are you?" data-region="SmartSearch Content Main" data-vertical="Broadband">
                        <li>
                            <input type="radio" name="habit" id="lightUsage" value="Light Usage" data-parsley-group="block3" required tabindex="-1"/>
                            <label for="lightUsage">{{ 'Light' | translate(currentTemplate) }}</label>
                            <ul class="icns_usage">
                                <li class="icn_browse">{{ 'Web browsing' | translate(currentTemplate) }}</li>
                                <li class="icn_email">{{ 'Emails' | translate(currentTemplate) }}</li>
                                <li class="icn_facebook">{{ 'Facebook' | translate(currentTemplate) }}</li>
                                <li class="icn_twitter">{{ 'Twitter' | translate(currentTemplate) }}</li>
                            </ul>
                        </li>
                        <li>
                            <input type="radio" name="habit" id="moderateUsage" value="Moderate Usage" data-parsley-group="block3" required tabindex="-1"/>
                            <label for="moderateUsage">{{ 'Moderate' | translate(currentTemplate) }}</label>
                            <ul class="icns_usage">
                                <li class="icn_none"><strong>{{ 'Light usage' | translate(currentTemplate) }}</strong> +</li>
                                <li class="icn_spotify">{{ 'Spotify music' | translate(currentTemplate) }}</li>
                                <li class="icn_skype">{{ 'Skype calls' | translate(currentTemplate) }}</li>
                            </ul>
                        </li>
                        <li>
                            <input type="radio" name="habit" id="heavyUsage" value="Heavy Usage" data-parsley-group="block3" required tabindex="-1"/>
                            <label for="heavyUsage">{{ 'Heavy' | translate(currentTemplate) }}</label>
                            <ul class="icns_usage">
                                <li class="icn_none"><strong>{{ 'Moderate usage' | translate(currentTemplate) }}</strong> +</li>
                                <li class="icn_youtube">{{ 'YouTube' | translate(currentTemplate) }}</li>
                                <li class="icn_download">{{ 'Downloading' | translate(currentTemplate) }}</li>
                                <li class="icn_filetrnx">{{ 'File transferring' | translate(currentTemplate) }}</li>
                            </ul>
                        </li>
                        <li>
                            <input type="radio" name="habit" id="extremeUsage" value="Extreme Usage" data-parsley-group="block3" required tabindex="-1"/>
                            <label for="extremeUsage">{{ 'Extreme' | translate(currentTemplate) }}</label>
                            <ul class="icns_usage">
                                <li class="icn_none"><strong>{{ 'Heavy usage' | translate(currentTemplate) }}</strong> +</li>
                                <li class="icn_videoconf">{{ 'Video conference' | translate(currentTemplate) }}</li>
                                <li class="icn_gaming">{{ 'Online gaming' | translate(currentTemplate) }}</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <h1><span class="slideNumber">4</span> {{ 'Number of people using this connection' | translate(currentTemplate) }}</h1>
            <div class="smartsearch-content" data-imu-track="input[type=radio]"  data-subject="User" data-action="Input" data-description="Number of people using this connection" data-region="SmartSearch Content Main" data-vertical="Broadband">
                <ul class="btns-radio userNum" style="padding-bottom:100px;">
                    <li>
                        <input type="radio" id="1-2users" value="1 to 2 users" name="users" data-parsley-group="block4" required tabindex="-1"/>
                        <label for="1-2users">{{ '1 to 2' | translate(currentTemplate) }}</label>
                    </li>
                    <li>
                        <input type="radio" id="3-5users" value="3 to 5 users" name="users" data-parsley-group="block4" required tabindex="-1"/>
                        <label for="3-5users">{{ '3 to 5' | translate(currentTemplate) }}</label>
                    </li>
                    <li>
                        <input type="radio" id="6-10users" value="6 to 10 users" name="users" data-parsley-group="block4" required tabindex="-1"/>
                        <label for="6-10users">{{ '6 to 10' | translate(currentTemplate) }}</label>
                    </li>
                    <li>
                        <input type="radio" id="morethan10users" value="more than 10 users" name="users" data-parsley-group="block4" required tabindex="-1"/>
                        <label for="morethan10users">{{ 'More than 10' | translate(currentTemplate) }}</label>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <h1><span class="slideNumber">5</span> {{ 'Your location' | translate(currentTemplate) }}</h1>
            <div class="smartsearch-content location" data-imu-track="input[type=radio]" style="padding-bottom: 50px;" data-subject="User" data-action="Input" data-description="Your location" data-region="SmartSearch Content Main" data-vertical="Broadband">
                <ul class="btns-radio" data-action="Input">
                    <li>
                        <input type="radio" name="state" id="Kuala Lumpur" value="Kuala Lumpur" data-parsley-group="block5" required tabindex="-1"/>
                        <label for="Kuala Lumpur">Kuala Lumpur</label>
                    </li>
                    <li>
                        <input type="radio" name="state" id="Selangor" value="Selangor" data-parsley-group="block5" required tabindex="-1"/>
                        <label for="Selangor">Selangor</label>
                    </li>
                    <li>
                        <input type="radio" name="state" id="Penang" value="Penang" data-parsley-group="block5" required tabindex="-1"/>
                        <label for="Penang">Penang</label>
                    </li>
                </ul>
                <ul class="btns-radio" data-action="Input">
                    <li>
                        <input type="radio" name="state" id="Johor" value="Johor" data-parsley-group="block5" required tabindex="-1"/>
                        <label for="Johor">Johor</label>
                    </li>
                    <li>
                        <input type="radio" name="state" id="Kedah" value="Kedah" data-parsley-group="block5" required tabindex="-1"/>
                        <label for="Kedah">Kedah</label>
                    </li>
                    <li>
                        <input type="radio" name="state" id="Kelantan" value="Kelantan" data-parsley-group="block5" required tabindex="-1"/>
                        <label for="Kelantan">Kelantan</label>
                    </li>
                </ul>
                <ul class="btns-radio" data-action="Input">
                    <li>
                        <input type="radio" name="state" id="Malacca" value="Malacca" data-parsley-group="block5" required tabindex="-1"/>
                        <label for="Malacca">Malacca</label>
                    </li>
                    <li>
                        <input type="radio" name="state" id="Negeri Sembilan" value="Negeri Sembilan" data-parsley-group="block5" required tabindex="-1"/>
                        <label for="Negeri Sembilan">Negeri Sembilan</label>
                    </li>
                    <li>
                        <input type="radio" name="state" id="Pahang" value="Pahang" data-parsley-group="block5" required tabindex="-1"/>
                        <label for="Pahang">Pahang</label>
                    </li>
                </ul>
                <ul class="btns-radio" data-action="Input">
                    <li>
                        <input type="radio" name="state" id="Perak" value="Perak" data-parsley-group="block5" required tabindex="-1"/>
                        <label for="Perak">Perak</label>
                    </li>
                    <li>
                        <input type="radio" name="state" id="Perlis" value="Perlis" data-parsley-group="block5" required tabindex="-1"/>
                        <label for="Perlis">Perlis</label>
                    </li>
                    <li>
                        <input type="radio" name="state" id="Putrajaya" value="Putrajaya" data-parsley-group="block5" required tabindex="-1"/>
                        <label for="Putrajaya">Putrajaya</label>
                    </li>
                </ul>
                <ul class="btns-radio" data-action="Input">
                    <li>
                        <input type="radio" name="state" id="Sabah" value="Sabah" data-parsley-group="block5" required tabindex="-1"/>
                        <label for="Sabah">Sabah</label>
                    </li>
                    <li>
                        <input type="radio" name="state" id="Sarawak" value="Sarawak" data-parsley-group="block5" required tabindex="-1"/>
                        <label for="Sarawak">Sarawak</label>
                    </li>
                    <li>
                        <input type="radio" name="state" id="Terengganu" value="Terengganu" data-parsley-group="block5" required tabindex="-1"/>
                        <label for="Terengganu">Terengganu</label>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <h1><span class="slideNumber">6</span> {{ 'Your details' | translate(currentTemplate) }}</h1>
            <div class="smartsearch-content capture" data-imu-track="input, button[type=submit]" data-subject="User" data-action="Input"  data-region="SmartSearch Content Main" data-vertical="Broadband">
                <div class="container-fluid">
                    <div class="col-xs-9">
                        <p>{{ 'To help us provide you with a recommendation, please enter your contact details.<br /><br /><strong>We will display your results on the next page.' | translate(currentTemplate) | safe }}</strong>
                        </p>
                        <div class="form-group">
                            <input data-description = "Your Name" data-value="$('#name').val()"  data-parsley-pattern="/^[a-zA-z\s]*$/" data-parsley-pattern-message="{{ 'Your name should only consist of letters' | translate(currentTemplate) }}" class="form-control icn_name" type="text" id="name" name="name" placeholder="{{ 'Your Name' | translate(currentTemplate) }}" data-parsley-trigger="change" data-parsley-required-message="{{ 'Please enter your name' | translate(currentTemplate) }}" required data-parsley-group="block6" data-parsley-minlength="3" data-parsley-minlength-message="{{ 'Please enter your name (Min. 3 characters)' | translate(currentTemplate) }}" tabindex="-1"/>
                        </div>
                        <div class="form-group">
                            <input  data-description = "Email" data-value="$('#email').val()"  class="form-control icn_email" type="email" id="email" name="email_address" placeholder="{{ 'Email' | translate(currentTemplate) }}" data-parsley-trigger="change" data-parsley-type="email" data-parsley-error-message="{{ 'A valid email address is required' | translate(currentTemplate) }}" required data-parsley-group="block6"  tabindex="-1"/>
                        </div>
                        <div class="form-group">
                            <input data-description = "Contact Number" data-value="$('#phone').val()" class="form-control icn_tel" type="tel" id="phone" name="phone_number" placeholder="{{ 'Contact Number' | translate(currentTemplate) }}" data-parsley-required-message="{{ 'A valid phone number is required' | translate(currentTemplate) }}" data-parsley-trigger="change" data-parsley-type="number" required data-parsley-group="block6" data-parsley-minlength="9" data-parsley-minlength-message="{{ 'A valid phone number is required (Min. 9 digits)' | translate(currentTemplate) }}" tabindex="-1"/>
                        </div>
                        <div class="form-group">                                
                            <input class="form-control icn_addr" type="text" id="address" name="address"
                            data-action="Input" data-subject="User" data-description = "Address"
                             data-vertical="Broadband" required data-parsley-group="block6"
                            placeholder="{{ 'Address' | translate(currentTemplate) }}" tabindex="4" description="Contact Address">
                            <br/>
                            <p>{{ 'Example: 13-05 Blok A, Cameron Towers, Gasing Heights, Jalan 5/58B, 46000, Petaling Jaya, Selangor' | translate(currentTemplate) }}</p>
                        </div>
                        <button data-vertical="Broadband" data-value="BB Capture Form" data-action="Submit" tabindex="-1" class="btn btn-lg btn-show" type="submit" data-description="Apply Form" data-done="{{ 'Done!' | translate(currentTemplate) }}" data-saving="{{ 'Saving...' | translate(currentTemplate) }}">{{ 'Continue' | translate(currentTemplate) }}</button>
                        {% if app.pdpa != "" %}
                            <div class="checkbox font-xs">
                                <label>
                                    <input type="checkbox" name="allow_checked" checked="" data-parsley-trigger="change" data-parsley-multiple="allow_checked" data-parsley-error-message="{{ 'Sila isikan kotak ini untuk meneruskan' | translate }}" required data-parsley-group="block6" tabindex="-1">
                                    {{ app.pdpa | raw }}
                                </label>
                            </div>
                        {% endif %}
                        <p class="secure">{#{ 'Your data is secure and will not be shared.' | translate(currentTemplate) }#}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>