{% set currentTemplate = 'ss-looking-popup.html' %}
<!-- Modal for Skip link -->
<div class="modal fade results-skip" id="skip-link" data-imu-track="input,a" data-subject="User"
     data-region="SmartSearch Results Did Not Find Popup" data-vertical="Broadband" data-description="Button">
    <div class="modal-dialog">
        <div class="close-wrap animated fadeInDown">
            <a href="#" class="close-btn" data-dismiss="modal"><i></i>{{ 'Close' | translate }}</a>
        </div>
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title" id="didnt-find-label">{{ "Didn't find what you were looking for?"| translate(currentTemplate) }}</h4>
            </div>
            <div class="modal-body">
                <p class="desc">{{ "Please help us understand why these results didn't work for you:"| translate(currentTemplate) }}</p>

                <form class="results-feedback" action="/credit-card" method="get" data-action="Input"
                      data-description="I didn't find what I was looking for">
                    <ul class="radio-skip">
                        <li>
                            <input type="radio" id="didnt-find" name="result-skip-feedback"
                                   value="I didn't find the bank I wanted">
                            <label for="didnt-find">{{ "I didn't find the provider I wanted"| translate(currentTemplate) }}</label>

                        </li>
                        <li>
                            <input type="radio" id="none-interest" name="result-skip-feedback"
                                   value="None of these cards were of interest to me">
                            <label for="none-interest">{{ 'None of these packages were of interest to me'| translate(currentTemplate) }}</label>
                        </li>
                        <li>
                            <input type="radio" id="see-more" name="result-skip-feedback"
                                   value="I would like to see more options">
                            <label for="see-more">{{ 'I would like to see more options'| translate(currentTemplate) }}</label>
                        </li>
                        <li>
                            <input type="radio" id="refine-search" name="result-skip-feedback"
                                   value="I would like to refine my search">
                            <label for="refine-search">{{ 'I would like to refine my search'| translate(currentTemplate) }}</label>
                        </li>
                        <li>
                            <input type="radio" id="didnt-enough-details" name="result-skip-feedback"
                                   value="I didn't have enough details about each card to make a decision">
                            <label for="didnt-enough-details">{{ "I didn't have enough details about each package"| translate(currentTemplate) }}</label>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade results-skip" id="needs-content">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-green-box">
                <h3 class="green-text">{{ 'Thank you for helping us understand your needs' | translate(currentTemplate) }}</h3>
            </div>
            <div class="modal-body">
                <div class="related-content-top">
                    <p class="text-center">{{ 'One of our experts will be calling you soon.' | translate(currentTemplate) }}</p>
                    <h4 class="text-center">{{ 'In the mean time, read some money saving tips on our Learning Centre' | translate(currentTemplate) }}</h4>
                    <ul class="list-unstyled modal-articles">
                        <li><a href="/articles/credit-card-search-the-plastic-love-affair">Credit Card Search: The Plastic
                            Love Affair [Infographic]</a></li>
                        <li><a href="/articles/need-for-speed-the-time-value-of-money">Need For Speed: The Time Value of
                            Money [Infographic]</a></li>
                        <li><a href="/articles/young-investors-why-arent-you-investing">Young Investors: Why Aren't You
                            Investing?</a></li>
                    </ul>
                </div>

                <div class="related-content-bottom">
                    <h4 class="text-center">{{ 'Or check out our other financial products' | translate(currentTemplate) }}</h4>
                    <ul class="related-products-link">
                        <li><a class="btn btn-round btn-outline btn-outline--dark" href="/credit-card">Credit Card</a></li>
                        <li><a class="btn btn-round btn-outline btn-outline--dark" href="/home-loan">Home Loans</a></li>
                        <li><a class="btn btn-round btn-outline btn-outline--dark" href="/personal-loan">Personal Loans</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>