{% set currentTemplate = 'tab-content.html' %}
<div class="tab-content col-lg-12">
    <div role="tabpanel" class="tab-pane fade in active" id="faq">
        <p>Dalam dunia yang terhubung hari ini, hidup tanpa sambungan Internet hampir menjamin bahawa anda akan terasing daripada apa yang berlaku di dunia. Facebook membolehkan anda berhubung dengan rakan-rakan dan keluarga, manakala YouTube membolehkan penggunaan media. Dan dengan adanya internet jalur lebar, anda boleh melayari internet dan memuat turun kandungan pada kelajuan yang pantas.</p>

        <h3 class="color-brand--light">Internet Berwayar atau Tanpa Wayar</h3>
        <p>Ia bergantung kepada gaya hidup dan pilihan anda. Jika anda menghabiskan kebanyakan masa di rumah, sambungan Internet berwayar akan menjamin anda mempunyai kestabilan, kelajuan dan kuota yang besar. Jika anda tidak kisah menggunakan sambungan yang lebih perlahan, anda boleh memilih ADSL. Jika anda inginkan sesuatu dengan kebolehan muat turun dan muat naik yang pantas, Internet kabel gentian adalah pilihan yang terbaik. Untuk mereka yang sentiasa bergerak, Internet tanpa wayar merupakan pilihan yang lebih baik kerana ia membolehkan anda untuk menggunakan sambungan internet dari mana jua, pada bila-bila masa.</p>

        <h3 class="color-brand--light">Faktor untuk Dipertimbangkan Apabila Memilih Pelan Jalur Lebar:</h3>
        <p><strong>Kelajuan:</strong> Ia akan menentukan betapa pantas atau lancar penggunaan Internet anda. Lebih tinggi kelajuannya, lebih pantas muat turun dan muat naik fail anda, sebagai contoh.</p>
        <p><strong>Kuota:</strong> Ia bergantung kepada cara anda melayari internet. Dapatkan pelan yang memberikan anda kuota tanpa had. Jika tidak, jika anda menghabiskan kebanyakan masa mendengar muzik atau membalas e-mel, anda boleh memilih pelan dalam lingkungan 5GB sebulan (jika menggunakan internet tanpa wayar).</p>
        <p><strong>Harga Bulanan:</strong> Apakah bayaran setiap bulan? Adakah ia berpatutan dengan harganya? Untuk menentukan sama ada harga yang dibayar adalah mahal atau murah, anda boleh mendapatkan harga bagi beberapa pelan yang anda sukai berdasarkan kuota yang ditawarkan dan membuat perbandingan antara satu sama lain.</p>
        <p><strong>Ketersediaan:</strong> Ini mungkin faktor yang paling penting; untuk menentukan sama ada pembekal internet tersebut menyediakan perkhidmatan di kawasan anda. Selain daripada itu, jika anda memilih pelan tanpa wayar, adakah ia boleh didapati di semua tempat?</p>
        <p><strong>Tempoh Kontrak:</strong> Tempoh kontrak yang biasa ialah 12 bulan dan 24 bulan.</p>

        <h3 class="color-brand--light">Mengapa cara penggunaan internet adalah penting?</h3>
        <p>Dalam membuat keputusan yang betul mengenai pakej jalur lebar yang anda perlukan, adalah penting untuk mengetahui apa yang anda biasanya lakukan di Internet. Dari melayari Internet, memeriksa e-mel hingga berkongsi dan memuat turun video dalam talian, pakej-pakej berbeza disediakan untuk pengguna Internet yang berbeza. Maka, dengan mengetahui cara penggunaan anda, adalah lebih mudah untuk mengenal pasti jenis sambungan, jumlah kuota dan kelajuan sambungan jalur lebar yang anda perlukan. Bayangkan sebuah lebuh raya, lalu lintas yang sesak pasti akan menyebabkan kelajuan memperlahan dan anda tidak akan sampai ke destinasi anda dengan cepat. Itulah sebabnya mengapa mengetahui bilangan alatan dan pengguna yang akan berkongsi sambungan yang sama adalah penting. Kelajuan sambungan Jalur Lebar anda mesti cukup pantas agar dapat mengendalikan beban yang sewajarnya</p>

        <h3 class="color-brand--light">Apakah yuran tambahan (berapa) dan penalti yang dikenakan?</h3>
        <p>Terdapat caj tambahan seperti yuran pemasangan, deposit dan duti setem, berserta yuran pendaftaran anda. Anda boleh menjangka kontrak 12 bulan atau 24 bulan yang dipasangkan dengan penalti penamatan awal, yang berbeza bagi Pembekal Perkhidmatan Internet yang berlainan.

        <h3 class="color-brand--light">Pembekal Internet di Malaysia</h3>
        <p><strong><a href="https://www.imoney.my/ms/jalur-lebar/tm" title="Get TM Broadband Plans" target="_blank">TM:</a></strong> Sebagai syarikat telekomunikasi bersepadu yang terkemuka di Malaysia, TM menyediakan pelbagai perkhidmatan dari ADSL (Streamyx) hingga Internet kabel gentian (UniFi). Ia juga menawarkan Hypp TV, yang membolehkan anda menonton pelbagai saluran popular dalam talian, yang juga dikenali sebagai IPTV</p>
        <p><strong><a href="https://www.imoney.my/ms/jalur-lebar/time" title="Time Fibre Broadband" target="_blank">TIME:</a></strong> Pembekal perkhidmatan jalur lebar 100% gentian optik yang pertama di Malaysia, dengan kelajuan sehingga 500Mbps.
        <p><strong><a href="https://www.imoney.my/ms/jalur-lebar/maxis" title="Get High-Speed Maxis Broadband in Malaysia" target="_blank">Maxis:</a></strong> Salah satu syarikat telekomunikasi yang terbesar di Malaysia dengan rangkaian tanpa wayar yang paling besar di Malaysia. Seperti pembekal Internet yang lain, ia juga menawarkan Internet kabel gentian dengan kelajuan sehingga 100Mbps.</p>
        <p><strong><a href="https://www.imoney.my/ms/jalur-lebar/astro" title="Get Astro Internet Package" target="_blank">Astro IPTV:</a></strong> Setelah dianugerahkan atas sumbangannya kepada industri TV berbayar di Asia dan dengan 60% kediaman di Malaysia melanggan perkhidmatannya, Astro kini menawarkan IPTV dengan sambungan Jalur Lebar Berkelajuan Tinggi ke rumah anda</p>
        <p><strong>P1:</strong> Salah satu pembekal perkhidmatan data, suara dan nilai tambahan pilihan ramai untuk rangkaian jalur lebar mudah alih di Malaysia. P1 WiMax menawarkan fleksibiliti sambungan internet mudah alih atau untuk kegunaan rumah dengan kelajuan sehingga 2Mbps; dan kuota tanpa had.</p>

        <h3 class="color-brand--light">Mohon Internet Jalur Lebar di iMoney</h3>
        <p>Kini anda boleh memohon mana-mana internet jalur lebar oleh TIME, Maxis atau Telekom Malaysia di iMoney. iMoney merupakan ejen yang disahkan oleh perkhidmatan jalur lebar TM, TIME dan Maxis. Hanya bandingkan pakej yang tersenarai, pilih salah satu, dan kami akan mengaturkan pemasangan di rumah/ pejabat anda dalam masa 5 hari.</p><br>
        <div><p><img style="align: center; margin: 0px 30px 30px 0px;" src="/sites/default/files/Badge-03-1.png"/><img style="align: center; margin: 0px 30px 30px 0px; height: 88px;" src="/sites/default/files/time-badge_0.png"/><img style="align: center; margin: 0px 30px 30px 0px; height: 88px;" src="/sites/default/files/maxis-badge.png"/></p></div>

    </div>
    <div role="tabpanel" class="tab-pane fade" id="askUs">
        <h3 class="color-brand--light">Tanya kami tentang Internet Jalur Lebar</h3>
        <p>Ragu tentang pakej Internet tersebut? Tanya kami secara mudah!</p>
        <hr>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <div class="row">
            <div class="col-lg-8 col-xs-12">
                <div class="fb-comments" data-href="https://www.imoney.my/broadband/" data-width="100%" data-numposts="5" data-colorscheme="light"></div>
            </div>
            <div class="col-lg-4 col-xs-12 a-center">
                <div class="fb-like-box" data-href="https://www.facebook.com/IMoney.my" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="true" data-show-border="true"></div>
            </div>
        </div>
    </div>
</div>