{% set currentTemplate = 'cd-filter.html' %}
<form>
    <div class="cd-filter-block">
        <h4>{{ 'LOCATION' | translate(currentTemplate) }}</h4>

        <div class="cd-filter-content" data-imu-track="select" data-subject= "User" data-action = "Click" data-description = "Location" data-region="Listing Filter" data-vertical="Broadband">
            <div class="cd-select cd-filters filter-location">
                <select class="imoney-filter" data-mixtype="state" name="selectLocation" id="selectLocation">
                    <option value="">Choose an option</option>
                    <option data-value="Johor" value="johor">Johor</option>
                    <option data-value="Kedah" value="kedah">Kedah</option>
                    <option data-value="Kelantan" value="kelantan">Kelantan</option>
                    <option data-value="Kuala Lumpur" value="kl">Kuala Lumpur</option>
                    <option data-value="Malacca" value="malacca">Malacca</option>
                    <option data-value="Negiri Sembilan" value="nsembilan">Negeri Sembilan</option>
                    <option data-value="Pahang" value="pahang">Pahang</option>
                    <option data-value="Penang" value="penang">Penang</option>
                    <option data-value="Perak" value="perak">Perak</option>
                    <option data-value="Perlis" value="perlis">Perlis</option>
                    <option data-value="Putrajaya" value="putrajaya">Putrajaya</option>
                    <option data-value="Sabah" value="sabah">Sabah</option>
                    <option data-value="Sarawak" value="sarawak">Sarawak</option>
                    <option data-value="Selangor" value="selangor">Selangor</option>
                    <option data-value="Terengganu" value="terengganu">Terengganu</option>
                </select>
            </div> <!-- cd-select -->
        </div> <!-- cd-filter-content -->
    </div> <!-- cd-filter-block -->

    <div class="cd-filter-block" data-imu-track="input[type=checkbox]" data-subject= "User" data-action = "Click" data-description = "Usage" data-region="Listing Filter" data-vertical="Broadband">
        <h4>{{ 'INTERNET USAGE' | translate(currentTemplate) }}</h4>

        <ul class="cd-filter-content cd-filters list filter-usage">
            <li>
                <input class="imoney-filter" data-mixtype="usage" data-mix="light" type="checkbox" id="light" data-value = "Light">
                <label class="checkbox-label" for="light">{{ 'Light' | translate(currentTemplate) }}</label>
            </li>

            <li>
                <input class="imoney-filter" data-mixtype="usage" data-mix="moderate" type="checkbox" id="moderate"  data-value = "Moderate">
                <label class="checkbox-label" for="moderate">{{ 'Moderate' | translate(currentTemplate) }}</label>
            </li>

            <li>
                <input class="imoney-filter" data-mixtype="usage" data-mix="heavy" type="checkbox" id="heavy"  data-value = "Heavy">
                <label class="checkbox-label" for="heavy">{{ 'Heavy' | translate(currentTemplate) }}</label>
            </li>

            <li>
                <input class="imoney-filter" data-mixtype="usage" data-mix="extreme" type="checkbox" id="extreme"  data-value = "Extreme">
                <label class="checkbox-label" for="extreme">{{ 'Extreme' | translate(currentTemplate) }}</label>
            </li>
        </ul> <!-- cd-filter-content -->
    </div> <!-- cd-filter-block -->

    <div class="cd-filter-block" data-imu-track="input[type=radio]" data-subject= "User" data-action = "Click" data-description = "Provider" data-region="Listing Filter" data-vertical="Broadband">
        <h4>{{ 'PROVIDER' | translate(currentTemplate) }}</h4>

        <ul class="cd-filter-content cd-filters list filter-provider">
            <li>
                <input class="imoney-filter" data-mixtype="provider" data-mix="" type="radio" name="provider" id="provider" checked data-value = "All">
                <label class="radio-label" for="provider">{{ 'All' | translate(currentTemplate) }}</label>
            </li>

            <li>
                <input class="imoney-filter" data-mixtype="provider" data-mix="unifi" type="radio" name="provider" id="unifi" data-value = "Unifi">
                <label class="radio-label" for="unifi">TM</label>
            </li>

            <li>
                <input class="imoney-filter" data-mixtype="provider" data-mix="maxis" type="radio" name="provider" id="maxis" data-value = "Maxis">
                <label class="radio-label" for="maxis">Maxis</label>
            </li>

            <li>
                <input class="imoney-filter" data-mixtype="provider" data-mix="time" type="radio" name="provider" id="time" data-value = "Time">
                <label class="radio-label" for="time">TIME</label>
            </li>

            <li>
                <input class="imoney-filter" data-mixtype="provider" data-mix="astro" type="radio" name="provider" id="astro" data-value = "Astro">
                <label class="radio-label" for="astro">Astro</label>
            </li>

            <li>
                <input class="imoney-filter" data-mixtype="provider" data-mix="p1" type="radio" name="provider" id="p1" data-value = "P1">
                <label class="radio-label" for="p1">P1</label>
            </li>

        </ul> <!-- cd-filter-content -->
    </div> <!-- cd-filter-block -->
</form>