{% set currentTemplate = 'cta__bottom__options.html' %}
<div class="cta__bottom__options">
    <ul>
        <li>
            <i class="icon-callme"></i>
            <a data-action="Call" data-description = "Link" data-value ="tel:+60328561800" href="tel:+60328561800">Call: 603 2856 1800</a>
        </li>
    </ul>
</div>