{% set currentTemplate = 'ss-thankyou-popup.html' %}
<div class="modal fade modal-default" id="modal-broadband-thankyou">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-green-box">
                <h3 class="green-text">{{ 'Thank you for your application'| translate(currentTemplate) }}</h3>
            </div>
            <div class="modal-body" data-description="SmartSearch Thank You Popup" data-region="SmartSearch Thank You Popup" data-vertical="Broadband">
                <div class="user__review--wrapper" data-imu-track="a" data-description="Let's go">
                    <div class="user__review--content">
                        <h3>{{ 'Do you have opinion on this Broadband page?' | translate(currentTemplate) }}</h3>
                        <p>{{ 'Tell us your experience!' | translate(currentTemplate) }}</p>
                        <a href="/testimonials/?write_review=true" class="btn btn-lg btn-complement btn-complement--gradient">{{ "Let's go!" | translate(currentTemplate) }}</a>
                    </div>
                </div>
                <div class="related-content-bottom">
                    <h4 class="text-center">{{ 'Or check out our other financial products'| translate(currentTemplate) }}</h4>
                    <ul class="related-products-link" data-imu-track="a" data-description="Check out other products">
                        <li><a class="btn btn-round btn-outline btn-outline--dark" href="/credit-card">Credit Cards</a></li>
                        <li><a class="btn btn-round btn-outline btn-outline--dark" href="/home-loan">Home Loans</a></li>
                        <li><a class="btn btn-round btn-outline btn-outline--dark" href="/personal-loan">Personal Loans</a></li>
                    </ul>
                    <h5 class="text-center">Tell your friends</h5>
                    <ul class="related-products-link" data-imu-track="a" data-description="Share on facebook">
                        <li>
                            <!-- Share FB  -->
                            <a class="btn btn-round btn-outline btn-outline--dark shareFB" href="https://www.facebook.com/dialog/feed?app_id=428626330554993
		&redirect_uri=https://www.imoney.my/
		&link=https://www.imoney.my/broadband
		&name=Are%20you%20getting%20the%20best%20broadband%20package?%20Find%20out%20now!
		&description=With%20so%20many%20broadband%20options%20now%20available,%20check%20to%20see%20if%20you're%20saving%20money%20while%20getting%20the%20fastest%20download%20speeds.
		&display=popup
		&picture=https://www.imoney.my/img/og/broadband-listing.png">
                                <svg version="1.1" id="fb-circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="17px" height="17px" viewBox="0 0 17 17" enable-background="new 0 0 17 17" xml:space="preserve"><path d="M8.5,0C3.806,0,0,3.806,0,8.5S3.806,17,8.5,17S17,13.194,17,8.5S13.194,0,8.5,0z M10.513,5.874H9.236c-0.151,0-0.32,0.199-0.32,0.464V7.26h1.598l-0.242,1.316H8.916v3.95H7.408v-3.95H6.04V7.26h1.368V6.487c0-1.11,0.77-2.013,1.828-2.013h1.278V5.874z"/></svg>Share on Facebook</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>