{% set currentTemplate = 'tab-content.html' %}
<div class="tab-content col-lg-12">
  <div role="tabpanel" class="tab-pane fade in active" id="faq">
    <p>In today’s connected world, not having an Internet connection will almost guarantee that you are cut off from the happenings of the world. Facebook allows you to connect with your friends and families while YouTube allows media consumption. And then comes broadband Internet, allowing you to surf the Internet and download the content at a relatively fast speed.</p>

    <h3 class="color-brand--light">Wired vs Wireless Internet</h3>
    <p>It goes back to your lifestyle and preference. If you are someone who spends a majority of your time at home, a wired Internet will guarantee you stability, speed and extensive quota. If you do not mind having a slower connection, you can opt for ADSL. If you prefer something with fast download and upload, fibre Internet will be the best choice. For the mobile road warrior, wireless Internet will be a better option because it will allow you to get online from anywhere, anytime.</p>

    <h3 class="color-brand--light">Factors to Consider When Getting A Broadband Plan:</h3>
    <p><strong>Speed:</strong> This will determine how fast or smooth your experience is on the Internet. The faster the speed, the faster the download and upload of your files will be, for instance.</p>
    <p><strong>Quota:</strong> This will depends a lot on your surfing habits. Always look for a plan that gives you unlimited quota. Otherwise, if you spend most of your time listening to music and replying email, you can then opt for something in the range of 5GB a month (if you are going wireless).</p>
    <p><strong>Monthly Price:</strong> What will you be paying every month? Is it value for money? To determine whether the price that you are paying is expensive or not, you can get the price per quota of the plans that you are interested in and compare against one another.</p>
    <p><strong>Availability:</strong> This is perhaps one of most important factor; to determine whether or not the internet provider provides the service in your area. On top of that, if you are on a wireless plan, will they be readily available everywhere.</p>
    <p><strong>Contract Period:</strong> The contract period is usually 12 months and 24 months.</p>

    <h3 class="color-brand--light">Why Usage Habits Are Important?</h3>
    <p>In order to make the right decision on which broadband package you’ll need, it is crucial to know what you usually use the Internet for. From surfing the Internet, checking emails to sharing videos online and downloading them, each package out there is catered to different types of Internet users. Thus, with a clear idea on what your habits are, it will be easier to identify what type of connection, how much quota and how fast you’ll need your broadband connection to be. Imagine a highway, heavy traffic would definitely result in slower speeds and you won’t be getting to where you want fast. That’s why knowing how many devices and users are sharing the same connection matters. As such, your Broadband speed must be fast to be able to handle the load.</p>

    <h3 class="color-brand--light">What Are The Additional Fees (How Much) and Penalties?</h3>
    <p>There will be additional charges such as installation fees, deposit and stamp duty along with your registration. You can expect a 12 month or 24 month contract that’s paired with an early termination penalty which differs from the many Internet Service Providers available.</p>

    <h3 class="color-brand--light">Internet Providers in Malaysia</h3>
    <p><strong><a href="https://www.imoney.my/broadband/tm" title="Get TM Broadband Plans" target="_blank">TM:</a></strong> As the leading integrated telecommunications company in Malaysia, TM provides various services from ADSL (Streamyx) to Fibre internet (UniFi). It also has Hypp TV which allows you to watch various popular channels online, also known as IPTV.</p>
    <p><strong><a href="https://www.imoney.my/broadband/time" title="Time Fibre Broadband" target="_blank">TIME:</a></strong> Provider of Malaysia’s first-ever 100% fibre-optic broadband service with speed of up to 500Mbps.</p>
    <p><strong><a href="https://www.imoney.my/broadband/maxis" title="Get High-Speed Maxis Broadband in Malaysia" target="_blank">Maxis:</a></strong> One of Malaysia's biggest telecommunications companies, it also has one of the most extensive wireless network in Malaysia. Similar to the other Internet providers, it also offers fibre Internet with speeds up to 100Mbps.</p>
    <p><strong><a href="https://www.imoney.my/broadband/astro" title="Get Astro Internet Package" target="_blank">Astro IPTV:</a></strong> Being awarded with its contribution to the pay-TV industry in Asia and with 60% of homes in Malaysia being subscribed to its services, Astro now brings the IPTV experience with High Speed Broadband to your home.</p>
    <p><strong>P1:</strong> One of the preferred data, voice and value added services providers for mobile broadband networks in Malaysia. P1 WiMAX provides you with the flexibility of on-the-go or at home internet connectivity with speed of up to 2Mbps; and unlimited quota.</p>

    <h3 class="color-brand--light">Which Internet Plan Is The Best For Home Use?</h3>
    <p> TIME Fibre offers the lowest rate with the highest speeds for home broadband in Malaysia. However, it is limited to high-rise buildings. Telekom Malaysia’s UniFi service has the widest coverage at the moment, covering most urban areas in Peninsula Malaysia. Depending on your situation you can look into either one of these internet service providers.</p>

    <!-- <h3>What do Customers Say about iMoney?</h3>
      <div itemtype="http://schema.org/Product" itemscope>
          <meta content="broadband Malaysia" itemprop="name">
          <p itemtype="http://schema.org/AggregateRating" itemscope="" itemprop="aggregateRating">iMoney.my is rated
              <span itemprop="ratingValue">4.6</span>/5 based on<span itemprop="reviewCount"> 541</span> reviews from the last 12 months. <a href="https://www.imoney.my/testimonials" rel="nofollow">Read more reviews</a>.</p>
          <blockquote itemtype="http://schema.org/Review" itemscope="" itemprop="review">
              <meta content="broadband Malaysia" itemprop="itemReviewed">
              <p><strong><span itemprop="author">Aina</span>
              </strong> rated iMoney <span itemtype="http://schema.org/Rating" itemscope="" itemprop="reviewRating" title="5.0 / 5"><span itemprop="ratingValue">5.0</span> out of 5 on <span content="2016-08-07" itemprop="datePublished"> August 7, 2016</span>
          <p itemprop="reviewBody">"It is so nice to find good information at imoney.my. It helped me find good quality broadband with affordable prices. What can i say, it is so worth it. Best! I give it 5 stars!!!!"</p>
      </div> -->

    <table style="max-width: 657px;">
      <thead>
          <tr>
            <td><a href="/broadband/time/fibre-100mbps-home-broadband-dynamic-100mbps"><strong>TIME Fibre</strong></a>
            </td>
            <td><a href="/broadband/tm/unifi-pro-100-dynamic-100mbps"><strong>TM UniFi</strong></a>
            </td>
          </tr>
      </thead>
      <tr>
        <td>
          <p>
            <span class="extra-info">Download speed</span>
            <br>
            <strong>100Mbps</strong>
          </p>
          <p>
            <span class="extra-info">Cost</span>
            <br>
            <strong>RM99</strong><span class="extra-info">/month</span>
          </p>
        </td>
        <td>
          <p>
            <span class="extra-info">Download speed</span>
            <br>
            <strong>100Mbps</strong>
          </p>
          <p>
            <span class="extra-info">Cost</span>
            <br>
            <strong>RM129</strong><span class="extra-info">/month</span>
          </p>
        </td>
      </tr>
    </table>

    <h3 class="color-brand--light">What Broadband Is Best In My Area?</h3>
    <p>Your best option depends on where you are staying. High-rise buildings in the greater Klang Valley usually have access to TIME Fibre, which provides the lowest cost 100Mbps connection in Malaysia at RM99/month.</p>
    <p>Landed property across Peninsula Malaysia can instead look for Telekom Malaysia’s UniFi service, which offers a 100Mbps line for RM129/month.</p>
    <p>There are some new home broadband providers like Digi, Celcom, and Viewqwest that are trialling services in limited areas as well.</p>

    <h3 class="color-brand--light">What Is The Fastest Internet Speed In Malaysia?</h3>
    <p>TIME Fibre 1Gbps currently offers the fastest internet speed that is readily available in Malaysia. ViewQwest also offers the same speed but is only available in a very small area.</p>
    <p>Alternatively, TM UniFi’s 800Mbps package is slightly slower but offers the widest coverage.</p>

    <h3 class="color-brand--light">Applying for Home and Office Broadband on iMoney</h3>
    <p>You can now apply for any of TIME Broadband, Maxis Broadband, and Telekom Malaysia's broadband products on iMoney. iMoney is an Authorised Reseller of TIME, Maxis and TM Broadband Services. Just compare the available packages, select one, and get your home/ office connected in 5 days.</p><br>

    <div>
      <p>
        <img style="margin: 0px 30px 30px 0px;" src="/sites/default/files/Badge-03-1.png" />
        <img style="margin: 0px 30px 30px 0px; height: 88px;" src="/sites/default/files/time-badge_0.png" />
        <img style="margin: 0px 30px 30px 0px; height: 88px;" src="/sites/default/files/maxis-badge.png" />
      </p>
    </div>

  </div>
  <div role="tabpanel" class="tab-pane fade" id="askUs">
    <h3 class="color-brand--light">Ask Us About Broadband</h3>
    <p>Have a question about broadband? Ask us in the comment box below.</p>
    <hr>
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    <div class="row">
      <div class="col-lg-8 col-xs-12">
        <div class="fb-comments" data-href="https://www.imoney.my/broadband/" data-width="100%" data-numposts="5"
          data-colorscheme="light"></div>
      </div>
      <div class="col-lg-4 col-xs-12 a-center">
        <div class="fb-like-box" data-href="https://www.facebook.com/IMoney.my" data-colorscheme="light"
          data-show-faces="true" data-header="false" data-stream="true" data-show-border="true"></div>
      </div>
    </div>
  </div>
</div>