{% set currentTemplate = 'cd-filter.html' %}
<form>
    <div class="cd-filter-block">
        <h4>{{ 'LOCATION' | translate(currentTemplate) }}</h4>

        <div class="cd-filter-content" data-imu-track="select" data-subject= "User" data-action = "Click" data-description = "Location" data-region="Listing Filter" data-vertical="Broadband">
            <div class="cd-select cd-filters filter-location">
                <select class="imoney-filter" data-mixtype="state" name="selectLocation" id="selectLocation">
                    <option value="">Semua Lokasi</option>
                    <option data-value="Bekasi" value="bekasi">Bekasi</option>
                    <option data-value=" Bogor" value="bogor"> Bogor</option>
                    <option data-value=" Depok" value="depok"> Depok</option>
                    <option data-value=" Cibubur" value="cibubur"> Cibubur</option>
                    <option data-value=" Jakarta Barat" value="jakartabarat"> Jakarta Barat</option>
                    <option data-value=" Jakarta Pusat" value="jakartapusat"> Jakarta Pusat</option>
                    <option data-value=" Jakarta Selatan" value="jakartaselatan"> Jakarta Selatan</option>
                    <option data-value=" Jakarta Timur" value="jakartatimur"> Jakarta Timur</option>
                    <option data-value=" Jakarta Utara" value="jakartautara"> Jakarta Utara</option>
                    <option data-value=" Tangerang" value="tangerang"> Tangerang</option>
                    <option data-value=" Tangerang Selatan" value="tangerangselatan"> Tangerang Selatan</option>
                    <option data-value=" Semarang" value="semarang"> Semarang</option>
                    <option data-value=" Malang" value="malang"> Malang</option>
                    <option data-value=" Surabaya" value="surabaya"> Surabaya</option>
                    <option data-value=" Medan" value="medan"> Medan</option>
                    <option data-value=" Palembang" value="palembang"> Palembang</option>
                    <option data-value=" Lain-lain" value="lainlain"> Lain-lain</option>
                </select>
            </div> <!-- cd-select -->
        </div> <!-- cd-filter-content -->
    </div> <!-- cd-filter-block -->

    <div class="cd-filter-block" data-imu-track="input[type=checkbox]" data-subject= "User" data-action = "Click" data-description = "Usage" data-region="Listing Filter" data-vertical="Broadband">
        <h4>{{ 'INTERNET USAGE' | translate(currentTemplate) }}</h4>

        <ul class="cd-filter-content cd-filters list filter-usage">
            <li>
                <input class="imoney-filter" data-mixtype="usage" data-mix="light" type="checkbox" id="light" data-value = "Light">
                <label class="checkbox-label" for="light">{{ 'Light' | translate(currentTemplate) }}</label>
            </li>

            <li>
                <input class="imoney-filter" data-mixtype="usage" data-mix="moderate" type="checkbox" id="moderate"  data-value = "Moderate">
                <label class="checkbox-label" for="moderate">{{ 'Moderate' | translate(currentTemplate) }}</label>
            </li>

            <li>
                <input class="imoney-filter" data-mixtype="usage" data-mix="heavy" type="checkbox" id="heavy"  data-value = "Heavy">
                <label class="checkbox-label" for="heavy">{{ 'Heavy' | translate(currentTemplate) }}</label>
            </li>

            <li>
                <input class="imoney-filter" data-mixtype="usage" data-mix="extreme" type="checkbox" id="extreme"  data-value = "Extreme">
                <label class="checkbox-label" for="extreme">{{ 'Extreme' | translate(currentTemplate) }}</label>
            </li>
        </ul> <!-- cd-filter-content -->
    </div> <!-- cd-filter-block -->

    <div class="cd-filter-block" data-imu-track="input[type=radio]" data-subject= "User" data-action = "Click" data-description = "Provider" data-region="Listing Filter" data-vertical="Broadband">
        <h4>{{ 'PROVIDER' | translate(currentTemplate) }}</h4>

        <ul class="cd-filter-content cd-filters list filter-provider">
            <li>
                <input class="imoney-filter" data-mixtype="provider" data-mix="" type="radio" name="provider" id="provider" checked data-value = "All">
                <label class="radio-label" for="provider">{{ 'All' | translate(currentTemplate) }}</label>
            </li>

            <li>
                <input class="imoney-filter" data-mixtype="provider" data-mix="gig" type="radio" name="provider" id="gig" data-value = "GIG">
                <label class="radio-label" for="gig">GIG</label>
            </li>

            <li>
                <input class="imoney-filter" data-mixtype="provider" data-mix="mncplaymedia" type="radio" name="provider" id="playmedia" data-value = "MNCplayMedia">
                <label class="radio-label" for="mncplaymedia">MNCplayMedia</label>
            </li>

            <li>
                <input class="imoney-filter" data-mixtype="provider" data-mix="indihome" type="radio" name="provider" id="indihome" data-value = "IndiHome">
                <label class="radio-label" for="indihome">IndiHome</label>
            </li>

            <li>
                <input class="imoney-filter" data-mixtype="provider" data-mix="firstmedia" type="radio" name="provider" id="firstmedia" data-value = "FirstMedia">
                <label class="radio-label" for="firstmedia">FirstMedia</label>
            </li>

            <li>
                <input class="imoney-filter" data-mixtype="provider" data-mix="biznethome" type="radio" name="provider" id="biznet" data-value = "BiznetHome">
                <label class="radio-label" for="biznethome">BiznetHome</label>
            </li>

            <li>
                <input class="imoney-filter" data-mixtype="provider" data-mix="cbn" type="radio" name="provider" id="cbn" data-value = "CBN">
                <label class="radio-label" for="cbn">CBN</label>
            </li>

            <li>
                <input class="imoney-filter" data-mixtype="provider" data-mix="myrepublic" type="radio" name="provider" id="myrepublic" data-value = "MyRepublic">
                <label class="radio-label" for="myrepublic">MyRepublic</label>
            </li>

        </ul> <!-- cd-filter-content -->
    </div> <!-- cd-filter-block -->
</form>