{% set currentTemplate = 'cd-tab-filter.html' %}
<div class="cd-tab-filter">
    <ul class="cd-filters-mobile">
        <li class="placeholder">
            <a href="javascript:void(0);" data-selected="{{ 'All Credit Cards' | translate(currentTemplate) }}">
                <i class="icon-home"></i>{{ "What are you looking for?" | translate(currentTemplate) }}
            </a>
        </li>
        <li>
            <a class="imoney-filter selected" data-mixtype="bar" data-mix="" href="javascript:void(0);" data-selected="{{ 'All' | translate(currentTemplate) }}">{{ 'All' | translate(currentTemplate) }}</a>
        </li>
        <li>
            <a class="imoney-filter" data-mixtype="bar" data-mix="home.moderate home.heavy home.featured" href="javascript:void(0);" data-type="HomeModerate">{{ 'Home: Most Popular' | translate(currentTemplate) }}</a>
        </li>
        <li>
            <a class="imoney-filter" data-mixtype="bar" data-mix="home.light home.moderate" href="javascript:void(0);" data-type="HomeLight">{{ 'Home: Light Usage' | translate(currentTemplate) }}</a>
        </li>
        <li>
            <a class="imoney-filter" data-mixtype="bar" data-mix="home.heavy home.extreme" href="javascript:void(0);" data-type="HomeHeavy">{{ 'Home: Heavy Usage' | translate(currentTemplate) }}</a>
        </li>
        <li>
            <a class="imoney-filter" data-mixtype="bar" data-mix="office.moderate office.heavy office.featured" href="javascript:void(0);" data-type="OfficeModerate">{{ 'Office: Most Popular' | translate(currentTemplate) }}</a>
        </li>
        <li>
            <a class="imoney-filter" data-mixtype="bar" data-mix="office.heavy office.moderate" href="javascript:void(0);" data-type="OfficeHeavy">{{ 'Office: 1 to 10 Employees' | translate(currentTemplate) }}</a>
        </li>
        <li>
            <a class="imoney-filter" data-mixtype="bar" data-mix="office.heavy office.extreme" href="javascript:void(0);" data-type="OfficeExtreme">{{ 'Office: 10+ Employees' | translate(currentTemplate) }}</a>
        </li>
    </ul> <!-- cd-filters -->
    <ul class="cd-filters">
        <li class="placeholder">
            <a href="javascript:void(0);"><i class="icon-allBB"></i>{{ 'Select Broadband type' | translate(currentTemplate) }}</a> <!-- selected option on mobile -->
        </li><!--
        --><li>
        <a class="imoney-filter selected" data-mixtype="bar" data-mix="" href="javascript:void(0);" data-selected="{{ 'All' | translate(currentTemplate) }}"><i class="icon-allBB"></i>{{ 'All' | translate(currentTemplate) }}</a>
    </li><!--
    --><li>
        <a class="imoney-filter" data-mixtype="bar" data-mix="home" href="javascript:void(0);" data-type="Home" data-selected="{{ 'Home Broadband' | translate(currentTemplate) }}">
            <i class="icon-shopping"></i><i class="icon-home"></i>{{ 'Home' | translate(currentTemplate) }}</a>
    </li><!--
    --><li>
        <a class="imoney-filter" data-mixtype="bar" data-mix="office" href="javascript:void(0);" data-type="Office" data-selected="{{'Office Broadband' | translate(currentTemplate) }}"><i class="icon-office"></i>{{ 'Office' | translate(currentTemplate) }}</a>
    </li>
    </ul> <!-- cd-filters -->
</div> <!-- cd-tab-filter -->