{% set currentTemplate = 'cta__bottom__options.html' %}
<div class="cta__bottom__options">
    <ul>
        <li>
            <i class="icon-callme"></i>
            <a data-action="Call" data-description = "Link" data-value ="tel:02150201018" href="tel:02150201018">Telp: 021-50201018</a>
        </li>
    </ul>
</div>