{% set currentTemplate = 'tab-content.html' %}
<div class="tab-content col-lg-12">
<div role="tabpanel" class="tab-pane fade in active" id="faq">
<p>Di dunia yang serba online sekarang ini, tidak memiliki internet merupakan salah satu malapetaka bagi kebayakan orang. Pastinya juga Anda tidak akan dapat mengikuti dengan apa yang sedang terjadi di dunia. Facebook memberikan Anda koneksi kepada teman-teman Anda dan keluarga sedangkan YouTube menjadi substitute media. Oleh sebab itu, keperluan memiliki sebuah broadband internet dengan kecepatan tinggi merupakan salah satu kebutuhan penting. </p>
<h3 class="color-brand--light"> Internet Kabel vs Wireless </h3>
<p>Jika Anda ingin mengetahui manakah yang lebih baik internet dengan kabel atau wireless? Maka jawabannya, kembali ke dalam gaya hidup dan pilihan Anda. Jika Anda salah satu pengguna yang sering menggunakan internet di rumah, maka internet dengan kabel akan menjamin kestabilan dan kecepatan serta kuota lebih. Jika Anda tidak masalah dengan koneksi yang lebih lambat, Anda dapat memilih ADSL (Asymmetric digital subscriber line). Jika Anda memilih internet dengan kecepatan tinggi mendownload dan upload, Fibre optic internet merupakan pilihan terbaik. Bagi yang yang suka menggunakan internet di HP, maka wireless internet merupakan pilihan terbaik karena Anda dapat online kapanpun dan dimanapun. </p>
<h3 class="color-brand--light"> Faktor yang Perlu Dipertimbangkan Ketika Mengambil Paket Internet: </h3>
<p><strong>Kecepatan: </strong> Hal ini akan menentukan berapa cepat atau lancarnya peggunaan Anda ketika menggunakan internet. Semakin cepat kecepatannya maka semakin singkat waktu download dan upload file Anda. </p>
<p><strong>Kuota: </strong> Ini akan tergantung pada kebiasaan Anda beronline. Selalu lihat pada paket yang memberikan Anda kuota tanpa batas atau unlimited. Atau, jika Anda akan menghabiskan waktu Anda sebagian besar mendengarkan music dan membalas email, Anda dapat meggunakan paket dengan kuota sebesar 5GB sebulan (jika Anda ingin wireless). </p>
<p><strong>Tagihan Bulanan: </strong> Berapakah yang harus Anda bayar setiap bulan? Apakah jumlah yang dibayar senilai dengan servisnya? Untuk menentukan apakah harga yang Anda bayarkan kemahalan atau tidak, Anda dapat memilih harga per kuota dari paket pilihan Anda dan bandingkan dengan paket lainnya. </p>
<p><strong>Jangkauan: </strong> Ini merupakan salah satu faktor yang paling penting; untuk menetukan apakah bisa atau tidaknya internet provider menyediakan servis di area Anda. Juga, apabila Anda menggunakan paket wireless, apakah koneksinya akan tersedia dimanapun. </p>
<p><strong>Periode Kontrak: </strong> Periode kontrak biasanya berjangka dari 12 bulan dan 24 bulan. </p>
<h3 class="color-brand--light"> Mengapa Kebiasaan Penggunaan Menjadi Hal Penting? </h3>
<p>Untuk menentukan pilihan paket internet yang tepat bagi kebutuh Anda, maka mengetahui penggunaan internet secara umum sangatlah penting. Dari beronline, mengecek email hingga meng-share (bagikan) video online ataupun men-download video itu, masing-masing paket ditujukan untuk tipe pengguna internet yang berbeda-beda. Maka, dengan memahami kebiasaan penggunaan internet, Anda akan lebih mudah mengetahui tipe koneksi, berapa kuota dan berapa cepat koneksi internet yang Anda perlukan. Bayangkan sebuah jalan raya, semakin ramai kendaraan maka semakin lambat kecepatan kendaraan Anda. Oleh sebab itu, mengetahui berapa jumlah alat dan pengguna yang menggunakan koneksi tersebut cukup memiliki peran besar. Juga, kecepatan internet Anda harus seimbang dengan kemampuan untuk menahan jumlah pengguna tersebut. </p>
<h3 class="color-brand--light"> Apak Saja Biaya atau Denda Dari Pemasangan Internet? </h3>
<p>Pada umumnya akan tersedia biaya pemasangan, deposit dan biaya materai untuk kontrak ketika mendaftar. Akan tetapi hal itu tergantung dari masing-masing internet provider. Anda umumnya akan dikontrak selama 12 bulan atau 24 bulan dan bila Anda ingin membatalkan kontrak tersebut maka penalti akan diberikan kepada Anda tergantung internet provider. </p>
<h3 class="color-brand--light"> Internet Provider di Indonesia </h3>
<p><strong><a href="https://www.aturduit.com/internet/myrepublic" title="Dapatkan Internet MyRepublic" target="_blank"> MyRepublic:</a></strong> merupakan salah satu ‘pemain’ terbaru di Indonesia, MyRepublic merupakan internet provider dari Singapore dengan kecepatan yang luar biasa dan harga terjangkau. Internet tercepat dari MyRepublic mencapai 300 Mbps</p>
<p><strong><a href="https://www.aturduit.com/internet/biznethome" title="Dapatkan Internet Biznet" target="_blank"> BiznetHome: </a></strong> didirikan tahun 2000, Biznet memiliki dan mengoperasikan jaringan fibre optic mutakhir dengan pusat data terbesar di Indonesia. Biznet memiliki capukan jaringan yang cukup luas hingga ribuan kilometre saluran serat optic dan kabel di Jakarta, Bali, Bandung dan Surabaya. </p>
<p><strong><a href="https://www.aturduit.com/internet/cbn" title="Dapatkan Internet CBN" target="_blank"> CBN:</a></strong> Salah satu penyedia internet yang memberikan servis ke rumah dan kantor Anda dengan Fibre Optic kecepatan hingga 100 Mbps. CBN juga memberikan layanan Channel TV yang beragam. </p>
<p><strong><a href="https://www.aturduit.com/internet/firstmedia" title="Dapatkan Internet First Media" target="_blank"> First Media:</a></strong> Sebelumnya dikenal sebagai PT Broadband Multimedia Tbk. merupakan salah satu penyedia jasa layanan internet pita lebar, televise kabel dan komunikasi data yang diperkenalkan sebagai “Triple Play”. Jangkauannya mencapai Jabodetabek, Surabaya, Malang dan Bandung. </p>
<p><strong><a href="https://www.aturduit.com/internet/indihome" title="Dapatkan Internet IndiHome" target="_blank"> IndiHome:</a></strong> Salah satu penyedia internet terbesar di Indonesia dari PT Telekominkasi Indonesia. IndiHome menyediakan fasilitas internet dengan kecepatan bervariasi dari 10 Mbps hingga 100 Mbps. </p>
<p><strong><a href="https://www.aturduit.com/internet/mncplaymedia" title="Dapatkan Internet MNC Play Media" target="_blank"> MNC Play Media:</a></strong> menyediakan layanan koneksi internet baik di rumah dan kantor dengen kecepatan tinggi. MNC media SuperGalaxy 25 Mbps merupakan ‘pemain’ tercepat dalam hal kecepatan untuk kantor sekarang saat ini. </p>
<p><strong><a href="https://www.aturduit.com/internet/gig" title="Dapatkan Internet GIG" target="_blank"> GIG:</a></strong> apabila Anda menginginkan internet yang dapat menampung banyak pengguna, jangan pusing gunakan GIG 1 Gbps. Hingga 100 pengguna dapat terkoneksi dengan internet GIG yang satu ini. </p>

    <!-- <h3>Apakah Pendapat Pelanggan Tentang AturDuit?</h3>
    <div itemtype="http://schema.org/Product" itemscope="">
        <meta content="paket internet rumah" itemprop="name">
        <p itemtype="http://schema.org/AggregateRating" itemscope="" itemprop="aggregateRating">Aturduit dinilai
        <span itemprop="ratingValue">4.9</span>/5 berdasarkan dari
        <span itemprop="reviewCount"> 340</span> review di 12 bulan terakhir.
        </p>
        <blockquote itemtype="http://schema.org/Review" itemscope="" itemprop="review">
        <meta content="paket internet rumah" itemprop="itemReviewed">
        <p><strong><span itemprop="author">Kevin</span></strong> menilai Aturduit <span itemtype="http://schema.org/Rating" itemscope="" itemprop="reviewRating" title="4.9 / 5"><span itemprop="ratingValue">4.9</span> dari 5 di <span content="2017-02-10"> 10 February 2017</span>
        </span></p><p itemprop="reviewBody">"Customer Servicenya sangat membantu dan ramah dalam menjelaskan paket internet rumah dari provider berbeda-beda.  Terima kasih telah mengproses aplikasi internet rumah saya."</p>
        </blockquote>
    </div> -->

</div>
<div role="tabpanel" class="tab-pane fade" id="askUs">
<h3 class="color-brand--light">Tanya Kami Tentang Internet</h3>
<p>Memiliki pertanyaan tentang internet? Tanyakan kami di <a href="mailto:hello@aturduit.com">hello@aturduit.com</a>.</p>
<hr>
        <!-- <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appID=&version=v2.3";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <div class="row">
            <div class="col-lg-8 col-xs-12">
                <div class="fb-comments" data-href="https://www.aturduit.com/internet" data-width="100%" data-numposts="5" data-colorscheme="light"></div>
            </div>
            <div class="col-lg-4 col-xs-12 a-center">
                <div class="fb-like-box" data-href="https://www.facebook.com/AturDuit" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="true" data-show-border="true"></div>
            </div>
        </div> -->
    </div>
</div>