{% set currentTemplate = 'list.html' %}
<form>
    <div class="cd-filter-block" data-imu-track="input[type=checkbox]" data-subject= "User" data-action = "Click" data-description = "Usage" data-region="Listing Filter" data-vertical="Broadband">
        <h4>{{ 'INTERNET USAGE' | translate(currentTemplate) }}</h4>

        <ul class="cd-filter-content cd-filters list filter-usage">
            <li>
                <input class="imoney-filter" data-mixtype="usage" data-mix="light" type="checkbox" id="light" data-value = "Light">
                <label class="checkbox-label" for="light">{{ 'Light' | translate(currentTemplate) }}</label>
            </li>

            <li>
                <input class="imoney-filter" data-mixtype="usage" data-mix="moderate" type="checkbox" id="moderate"  data-value = "Moderate">
                <label class="checkbox-label" for="moderate">{{ 'Moderate' | translate(currentTemplate) }}</label>
            </li>

            <li>
                <input class="imoney-filter" data-mixtype="usage" data-mix="heavy" type="checkbox" id="heavy"  data-value = "Heavy">
                <label class="checkbox-label" for="heavy">{{ 'Heavy' | translate(currentTemplate) }}</label>
            </li>

            <li>
                <input class="imoney-filter" data-mixtype="usage" data-mix="extreme" type="checkbox" id="extreme"  data-value = "Extreme">
                <label class="checkbox-label" for="extreme">{{ 'Extreme' | translate(currentTemplate) }}</label>
            </li>
        </ul> <!-- cd-filter-content -->
    </div> <!-- cd-filter-block -->

    <div class="cd-filter-block" data-imu-track="input[type=radio]" data-subject= "User" data-action = "Click" data-description = "Provider" data-region="Listing Filter" data-vertical="Broadband">
        <h4>{{ 'PROVIDER' | translate(currentTemplate) }}</h4>

        <ul class="cd-filter-content cd-filters list filter-provider">
            <li>
                <input class="imoney-filter" data-mixtype="provider" data-mix="" type="radio" name="provider" id="provider" checked data-value = "All">
                <label class="radio-label" for="provider">{{ 'All' | translate(currentTemplate) }}</label>
            </li>

            <li>
                <input class="imoney-filter" data-mixtype="provider" data-mix="m1" type="radio" name="provider" id="m1" data-value = "M1">
                <label class="radio-label" for="m1">M1</label>
            </li>

            <li>
                <input class="imoney-filter" data-mixtype="provider" data-mix="myrepublic" type="radio" name="provider" id="myrepublic" data-value = "MyRepublic">
                <label class="radio-label" for="myrepublic">MyRepublic</label>
            </li>

            <li>
                <input class="imoney-filter" data-mixtype="provider" data-mix="singtel" type="radio" name="provider" id="singtel" data-value = "Singtel">
                <label class="radio-label" for="singtel">Singtel</label>
            </li>

            <li>
                <input class="imoney-filter" data-mixtype="provider" data-mix="starhub" type="radio" name="provider" id="starhub" data-value = "StarHub">
                <label class="radio-label" for="starhub">StarHub</label>
            </li>

            <li>
                <input class="imoney-filter" data-mixtype="provider" data-mix="viewqwest" type="radio" name="provider" id="viewqwest" data-value = "ViewQwest">
                <label class="radio-label" for="viewqwest">ViewQwest</label>
            </li>

        </ul> <!-- cd-filter-content -->
    </div> <!-- cd-filter-block -->
</form>