{% set currentTemplate = 'list.html' %}
<div class="cta__bottom__options">
    <ul>
        <li>
            <i class="icon-callme"></i>
            <a data-action="Call" data-description = "Link" data-value ="email:hello@imoney.sg" href="">Email: hello@imoney.sg</a>
        </li>
    </ul>
</div>