{% set currentTemplate = 'list.html' %}
<div class="tab-content col-lg-12">
    <div role="tabpanel" class="tab-pane fade in active" id="faq">
        <p>Internet has a revolutionary impact on our daily life, changing the way we share information and operate. To be connected to the Internet has become a need now.
        Living in an era where accelerating flow of information is becoming more important over time and Internet being the main global platform for knowledge sharing, a fast broadband plan has become an essential naturally. Broadband is a term commonly used to describe any high-speed Internet access that’s always on and faster than the conventional dial-up access in the context of Internet access. </p>

        <h3 class="color-brand--light">Fixed vs Mobile Broadband</h3>
        <p>When it comes to choosing either a fixed or mobile broadband, it goes back to your needs and preferences. Mobile broadband is ideal for people that needed to stay connected to the Internet on the go, whereas fixed broadband will suit people that always or often access to the Internet within a fixed area best. Other differences between the two will usually be the stability, speed, and quota, fixed broadband will ace in these compared to mobile broadband. Typical examples for fixed broadband are ADSL, or fibre broadband; and for mobile broadband are data sim packs, USB dongles and wireless mobile broadband.</p>

        <h3 class="color-brand--light">Factors to Consider When Getting A Broadband Plan:</h3>

        <p><strong>Speed & Stability</strong>: This will determine how fast and smooth your experience is on the Internet. The faster the speed, the faster the download of your files will be. </p>

        <p><strong>Quota</strong>: This will depends a lot on your surfing habits. Always look for a plan that gives you unlimited quota to avoid bill shocks. Otherwise, if you spend most of your time on facebook and/or replying email, you may then opt for something in the range of 5GB a month (if you are going wireless).<p>

        <p><strong>Monthly Price</strong>: What will you be paying every month? To determine whether you are overpaying for what you should, you may find out about the price per quota of the plans that you are interested in and compare against one another.<p>

        <p><strong>Contract Period</strong>: The contract period is usually 12 months and 24 months, there are also some telcos that offer plans without contracts. <p>

        <h3 class="color-brand--light">How to choose the right broadband package</h3>

        <p>In order to subscribe to the broadband package, it is crucial to know your quota consumption. Broadband packages in the market are catered to satisfy all users based on their habit from websites browsing, emails checking, media sharing to gaming. Thus, understanding your surfing habit is extremely important to identify the right plan with the right type of connection, quota limit and broadband speed. 
        Other than that, number of devices within the household would be another key factor that will affect your experience on the Internet. Imagine a highway, heavy traffic would definitely result in slower speeds and you won’t be getting to where you want fast. That’s why knowing the devices or users are sharing the same connection matters. As such, your broadband speed or bandwith must be fast to be able to cope with it.</p>

        <h3 class="color-brand--light">Are there any additional fees or penalties?</h3>

        <p>There will be additional charges such as installation fees or deposit along with your registration. You can expect a 12 month or 24 month contract that is paired with an early termination penalty, which differs from the Internet Service Providers.</p>
    </div>
        <h3 class="color-brand--light">Internet Providers in Singapore</h3>
<p>
<strong><a href="https://www.imoney.sg/broadband/m1" title="M1 Fibre Broadband Plans">M1 Broadband Plans:</a></strong>
Being one of the Singapore’s most passionate and dedicated communications company, M1 provides nationwide 4G, 3G/High Speed Packet Access (HSPA) and 2G (GSM) networks. M1 has the capability of download speeds up to 300Mbps and upload speeds of up to 150Mbps. Its Fibre Broadband service ranging from 100 Mbps to 1 Gbps while for corporate customers, M1 offers connectivity services of up to 10Gbps.</p>

<p>
<strong><a href="https://www.imoney.sg/broadband/myrepublic" title="MyRepublic Fibre Broadband Packages">MyRepublic Fibre Internet:</a></strong>
A 100% Singapore-grown start-up and the world’s first telecom company purpose-built for optical fibre NBNs (Nationwide Broadband Network). MyRepublic is able to provides 1Gbps Fibre Home Broadband plan under S$50. Thus, making it the best in the world for Singapore’s internet connectivity.</p>

<p>
<strong><a href="https://www.imoney.sg/broadband/singtel" title="Singtel Fibre Broadband Plans">Singtel Broadband Plans:</a></strong>
Voted as Singapore’s best Telco and Fibre Broadband Service Provider, SingTel is the new, premium Fibre Broadband that offers 500Mbps Fibre Home Bundle that can give full benefits to the customers. SingTel also offers download speeds up to 10Gbps for their Fibre Entertainment Bundle+.</p>

<p>
<strong><a href="https://www.imoney.sg/broadband/starhub" title="StarHub Residential & Commercial Broadband">StarHub Broadband Internet:</a></strong>
StarHub has become one of Singapore’s most innovative info-communications providers and the pioneer in ‘hubbing’. Besides providing multi-channel pay-TV, StarHub is offering up to 1Gbps Fibre Broadband and Dual Broadband.</p>

<p>
<strong><a href="https://www.imoney.sg/broadband/viewqwest" title="ViewQwest Broadband">ViewQwest Home Fibre Broadband:</a></strong>
With its Fibre Broadband’s achievements of being first in world outside of Japan and being the fastest residential Internet connectivity in Singapore, ViewQwest offers the blazing fast 2Gbps and 1 Gbps Fibre Broadband and Bundled Plans to their customers.</p>

    <div role="tabpanel" class="tab-pane fade" id="askUs">
        <h3 class="color-brand--light">Ask Us About Broadband</h3>
        <p>Have a question about broadband? Ask us via email at <a href="mailto:hello@imoney.sg">hello@imoney.sg</a>.</p>
        <hr>

        



        <!-- <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <div class="row">
            <div class="col-lg-8 col-xs-12">
                <div class="fb-comments" data-href="https://www.imoney.my/broadband/" data-width="100%" data-numposts="5" data-colorscheme="light"></div>
            </div>
            <div class="col-lg-4 col-xs-12 a-center">
                <div class="fb-like-box" data-href="https://www.facebook.com/IMoney.my" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="true" data-show-border="true"></div>
            </div>
        </div> -->
    </div>
</div>